[2019-02-22 10:31] michaelkrone opened #3 "amqp pub/sub throws exception on every message"
Hi,

I am evaluating solutions for using an amqp broker with Nest.js and your project looks very promising.

I tried the pub/sub feature by adapting your kitchen-sink example and it works well, but I noticed that the timeout Exception is thrown on every message:
[code]

Maybe the use of rxjs `timeout` or `takeUntil` operators can fix this in packages/rabbitmq/src/amqp/AmqpConnection.ts?

Let me kn

[2019-02-22 16:40] WonderPanda commented on #3
Hey @michaelkrone thanks for checking out the project. Out of curiosity what version of the package are you currently referencing? I believe that there was an issue with the timeout which I've already fixed up. I don't see the same behavior when using RPC in the `kitchen-sink` example.

The steps I'm taking are to start up Rabbit using the docker-compose file in the Kitchen Sink project (`docker-c

[2019-02-22 16:54] WonderPanda commented on #3
I did just notice that the Kitchen Sink example was referencing an older version of the `@nestjs-plus/rabbitmq` package and I've updated it to latest with https://github.com/WonderPanda/nestjs-plus/pull/4 but even on the earlier version it doesn't have the timeout issue you're referencing.

[2019-02-22 18:18] michaelkrone commented on #3
Hi @WonderPanda , thank you for your quick response.
You are right, the RPC example is working fine. I looked up my changes and it turned out I used `connection.request` when I meant to use `connection.publish`, so the Timeout Exception is completely valid in that case.

I will close this Issue, sorry for any inconveniences.

P.S.
One thing I am investigating is when adding a second exchange with

[2019-02-22 18:18] #3 closed, assigned to nobody

[2019-02-22 18:31] WonderPanda commented on #3
@michaelkrone  No problem! It just makes me happy that people are starting to check things out. I will definitely look into the different exchange types and see if there's something going on there.

One thing that is somewhat strange is that the intention for RPC is that you *would* use the request method as you're setting up a listener internally to get the response from the RPC handler. So it's

[2019-02-22 18:45] WonderPanda opened #5 "AmqpConnection CreateSubscriber should not assert exchange"
Currently the `createSubscriber method in `AmqpConnection` which is used by the `RpcSubscribe` decorator attempts to assert the exchange before subscribing. As part of this it's passing through a default exchangeType value for `topic`.

This results in errors at startups exchange types other than topic:

[code]

produces the error:

`Error: Channel closed by server: 406 (PRECONDITION-FAILED) with

[2019-02-22 18:46] WonderPanda commented on #3
@michaelkrone You were correct, there's a bug in the way subscribers are attached when using exchange types other than `topic`. I've opened an issue to track it https://github.com/WonderPanda/nestjs-plus/issues/5

It should be a small tweak so I'll get the fix up this weekend

[2019-02-22 20:23] WonderPanda opened #6 "Create Integration Testing Pipeline"
As we continue to build out packages that integrate with third party systems and frameworks (eg RabbitMQ, Caching, etc) it's important to ensure that a proper integration test pipeline exists that actually utilizes `nestjs-plus` packages in a real environment. This will help to ensure that functionality works as intended and that there are no regressions as the codebase evolves.

This pipeline sho

[2019-02-22 20:30] WonderPanda opened #7 "Return information about the Containing Module from the Discovery Service"
Currently the DiscoveryService provides a convenient API for being able to scan through a NestJS app's dependencies to find matching Controllers/Providers and their method handlers. There are situations where it would be useful to also surface information about the module that these items were discovered inside of.

As part of this change we should also reduce the amount of information being retur

[2019-02-22 23:13] WonderPanda opened #8 "Fix allowJs testing warning"
Testing in the monorepo works fine but is complaining about processing js files.
[code]

allowJs is turned on already in `tsconfig.spec.json` so something strange is going on

[2019-02-23 16:06] WonderPanda commented on #5
Fixed in @nestjs-plus/rabbitmq:0.2.1

[2019-02-23 16:06] #5 closed, assigned to WonderPanda

[2019-02-23 16:08] WonderPanda commented on #3
@michaelkrone #5 is now closed and I've updated the kitchen sink example app. Should be fine to use the different exchanges types now

[2019-02-25 12:51] WonderPanda commented on #7
Closed by #12

[2019-02-25 12:51] #7 closed, assigned to WonderPanda

[2019-02-26 09:25] victordidenko opened #13 "Discovery Service Documentation"
It would be great to have actual documentation for packages

[2019-02-26 09:25] victordidenko commented on #7
Thank you!
Also I've created #13 for documentation, I should have look through commits to know, what was changed in new version :)

[2019-02-26 09:29] yumauri commented on #7
↑ that is my business account :)

[2019-02-26 11:45] WonderPanda commented on #13
Thanks @victordidenko I agree. I've tried to make an effort with docs on the [@nestjs-plus/rabbitmq ](https://github.com/WonderPanda/nestjs-plus/blob/master/packages/rabbitmq/README.md) module but docs around the Discovery Module aren't the greatest at the moment. I have ensured that the public API for Discovery is completely covered with JsDoc so you should actually get decent docs in your IDE if

[2019-03-01 20:08] WonderPanda commented on #13
@victordidenko fixed with #14 and #15

Please feel free to let me know if you have any further questions or need additional clarification beyond the docs I've provided

[2019-03-01 20:08] #13 closed, assigned to nobody

[2019-03-05 09:00] michaelkrone opened #17 "Discovery service throws Exception if no classType property found on imported provider"
When starting an application that is using the DiscoveryService (e.g. by importing the RabbitMQModule or using the discovery package directly), and using a Provider that is not provided in a way so that a `classType` is available, the application fails at startup with the following exception:

[code]

This is caused by the `withMetaAtKey` function, which calls the `ReflectMetadata.getMetadata` met

[2019-03-05 21:13] WonderPanda commented on #17
Interesting, I hadn't encountered any modules or providers in my testing yet that didn't provide a classType. Thanks for reporting this I'll try to publish a fix for it tonight.

@michaelkrone Are you able to share a code snippet or repo that demonstrates how you're registering TypeORM and it's ModuleOptions?

[2019-03-06 02:21] WonderPanda commented on #17
https://github.com/WonderPanda/nestjs-plus/pull/18 should address this issue and adds more test coverage around the various different ways of including dynamic/custom providers in Nest Modules

[2019-03-06 02:25] WonderPanda opened #19 "Re-architect Discovery Service for Performance"
Currently the DiscoveryService contains a lot of code paths that will cause it to Reflect metadata from components multiple times. Adding an internal caching layer that extracts all meta once at initialization opens up some cool performance optimizations as well as potential improvements for the public API to allow extracting multiple meta values in one call

[2019-03-06 02:28] #17 closed, assigned to nobody

[2019-03-06 02:31] WonderPanda opened #20 "Improve Package Release Pipeline"
- [x] Integrate with Semantic Commits
- [x] Include Changelogs
- [ ] Investigate automatically publishing from CI/CD (Travis) on commits to master

Reference:
https://medium.com/@kevinkreuzer/the-way-to-fully-automated-releases-in-open-source-projects-44c015f38fd6

[2019-03-06 14:16] #8 closed, assigned to WonderPanda

[2019-03-07 16:25] WonderPanda opened #23 "RabbitMQ: Find a way to attach handlers to Nest Context"
The RabbitMQ module should be built such that it plays nicely with the existing Nest processing pipeline as far as the ability to integrate with other Nest components such as Pipes, Interceptors and Guards. The @nestjs/microservices package accomplishes this but it doesn't appear that it exposes the necessary functionality to glue these things together in an easy to use way. The current approach o

[2019-03-19 16:39] adrien2p opened #24 "[Discovery] allow to pass a function or a MetaKey"
Hey,

It could be nice to pass a filter function for the metaKey in order to be able to get all the target which respect the result of that function.

For example:

`AND`
[code]

`OR`
[code]

what do you think about that ?

[2019-03-19 17:16] adrien2p opened #25 "[DISCOVERY] Is no longer working with the V6"
![Screen Shot 2019-03-19 at 18 01 23 (2)](https://user-images.githubusercontent.com/25098370/54626400-5cc9ce00-4a71-11e9-9a8c-b97b41d9034e.png)

It's no longer working with nest version 6 due to the REQUEST

[2019-03-19 22:29] WonderPanda commented on #25
Yeah I started taking a look at this last night as well. There have been a significant amount of changes to the underlying DI mechanisms now that Request scoped providers are a thing. My number one priority over the next couple days will be releasing new packages that target Nest 6

[2019-03-19 22:31] WonderPanda commented on #24
I think that this makes a lot of sense. There are quite a few use cases where it would be nice to return multiple providers or controllers with different meta keys. The core functionality for this should already be present by using the higher level filtering functions (instead of the metaKey focused functions). However, since the most common use case is querying dependencies that have specific met

[2019-03-19 22:35] WonderPanda opened #26 "Upgrade Core NestJS Dependencies to Nest 6"
Now that Nest 6 is available, the @nestjs-plus packages need to be updated to support it. This will entail a new major version release for all current packages which means that version 5 support will no longer receive new functionality (to avoid semver issues).

The discovery package is the biggest blocker now as it depends on NestJS DI internals which have been updated significantly.

[2019-03-19 22:35] WonderPanda commented on #25
I'm going to close this in favor of tracking the overall migration to Nest 6 in #26

[2019-03-19 22:35] #25 closed, assigned to nobody

[2019-03-19 22:37] WonderPanda commented on #23
With the release of Nest 6, there is supposed to be support for external context being integrated properly with the Nest request pipeline. Once #26 is complete it should be possible to revisit this and complete implementation

[2019-03-20 00:28] WonderPanda commented on #26
This may be blocked by https://github.com/nestjs/nest/issues/1786 as it appears there's some core functionality around modules and dependency injection that isn't working properly. It's unclear whether this is only in the context of TestingModules or whether it extends further

[2019-03-20 08:14] adrien2p commented on #24
Do you mean, `async providers` and pass `withMetaAtKey` for example ?

[2019-03-20 10:56] WonderPanda commented on #24
Yeah the library already exposes the more low level `providers` method:
[code]

This could be combined with `withMetaAtKey` as you've already identified to give the functionality that you're looking for. However, I feel that this use case is common enough that it would probably be beneficial to bake it right into the API instead of requiring users to build their own

[2019-03-20 11:21] adrien2p commented on #24
Great 👍

[2019-03-20 11:21] #24 closed, assigned to nobody

[2019-03-25 14:34] #26 closed, assigned to WonderPanda

[2019-03-25 14:36] WonderPanda commented on #25
@adrien2p I've published new versions of the packages that now support v6. Discovery will simply ignore request scoped dependencies as they don't actually have an available instance or meta to scan at application start up. Let me know if you get a chance to try this out in your project and run into any issues

[2019-03-25 14:49] WonderPanda opened #29 "Separate AmqpConnection from Repo"
AmqpConnection is a general purpose Typescript client for interacting with AMQP. It should live in it's own repository and be published to NPM outside of the @nestjs-plus organization so that it can be easily consumed by other projects

[2019-03-28 22:41] #6 closed, assigned to WonderPanda

[2019-03-30 12:18] adrien2p commented on #25
@WonderPanda i have updated my package, everything is working properly 👍 thank's

[2019-03-30 19:34] WonderPanda commented on #25
Awesome glad to hear it!

[2019-04-02 10:13] kjetilhp opened #32 "Expose API for ACK, NACK and Requeue operations"
In a publish/subscribe would it be possible to nack the message if handling fails? or do we have requeue it manually?

[2019-04-02 12:36] WonderPanda commented on #32
Hey @kjetilhp This is a great question. At the moment the functionality isn't supported but it's been on my mind for a while. What would your preferred API look like for this? Would you prefer to get the actual AMQP message object in the handler so that you can ack or nack it yourself? Or I could introduce a simple set or Error messages that would allow to Nack or Requeue if thrown from the handle

[2019-04-02 12:42] WonderPanda commented on #32
I'm leaning towards an API that looks similar to RawRabbit from the .NET ecosystem:
https://github.com/pardahlman/RawRabbit#ack-nack-reject-and-retry

[2019-04-02 13:10] kjetilhp commented on #32
That API looks promising, I guess it wouldn't be need for the message obj if it could be handled that way.

[2019-04-02 14:02] WonderPanda commented on #32
Thanks for the feedback. I'll take a look at getting this integrated into the library tonight. Out of curiosity, are you evaluating using `@nestjs-plus/rabbitmq` for a personal or work project? I would love to get a feel for who the people considering adoption are so that I can best support the library

[2019-04-02 14:09] kjetilhp commented on #32
Great! It’s for several work projects :)

Br,
Kjetil

[2019-04-02 15:04] WonderPanda commented on #32
That's awesome to hear. Feel free to open other issues if you run into functionality that's missing which you need to move forward

[2019-04-03 04:09] WonderPanda commented on #32
Opening #33 to address this issue. This also adds configurable default behavior for how messages should be handled when errors occur as well as a couple bug fixes and tweaks. Things are looking in good shape just want to look at adding some integration tests before it's merged.

[2019-04-03 08:08] kjetilhp commented on #32
off-topic, but wouldn't create another issue since it's more of a question
have you considered exposing the connection as a decorator like nestjs-amqp does so we could use this as a publishing client also? second, is there a reason why you use build() and not the typical forRoot(..)/forRootAsync(..), just wondering since I was looking to inject my config service into the build method like other mo

[2019-04-03 12:52] WonderPanda commented on #32
A decorator shouldn't be necessary, the connection is already set as a provider internally so you can just inject it using AmqpConnection. You can see an example here https://github.com/WonderPanda/nestjs-plus/blob/master/examples/kitchen-sink/src/rabbit-example/messaging/messaging.controller.ts

This was the intended use case as it provides methods for both publishing messages as well as making r

[2019-04-03 13:00] kjetilhp commented on #32
Sorry about that, I found your kitchen sink sample after writing :)

[2019-04-03 13:20] WonderPanda opened #34 "Create a more Unified Config and Module Bootstrap Experience for RabbitMQ"
Update the RabbitMQModule builder methods to use the `forRoot` and `forRootAsync` to stay with the conventions of the existing NestJS ecosystem. Investigate a better way to allow for injection of a config service to allow people to pull the necessary AMQP config information from their existing tools for config management.

[2019-04-03 13:22] WonderPanda commented on #32
No worries :)

I created #34 to track the changes to the way the RabbitMQModule gets created

[2019-04-03 16:22] WonderPanda opened #35 "Add Google PubSub Package"
- [ ] Similar to RabbitMQ Module, supply decorators to glue service methods to subscription handlers
- [ ] Investigate providing an awaitable client that allows for simple responses over PubSub based on correlationId to simulate RPC functionality for requests. Can reuse code from the AmqpConnection If this ends up being too opinionated of an implementation at least provide building blocks that it

[2019-04-07 19:32] #32 closed, assigned to WonderPanda

[2019-04-07 19:35] WonderPanda commented on #32
@kjetilhp New packages are published. Let me know if you get the chance to try them out and have any more issues or feedback

[2019-04-07 22:59] #34 closed, assigned to WonderPanda

[2019-04-07 23:05] WonderPanda commented on #34
@kjetilhp The newest published versions of @nestjs-plus/rabbitmq contain the forRoot and forRootAsync static configuration methods

[2019-04-10 09:56] kjetilhp commented on #34
Nice, tested the new package, so what I wanted works:
[code]

[2019-04-10 10:09] kjetilhp commented on #32
Hi, just to be sure, if nothing is returned from the pubsub handler, the message gets acked, and then you have return values Nack() to not ack, and Nack(true) to not ack and requeue?

[2019-04-10 15:00] WonderPanda commented on #34
Awesome! Glad that it's working out for you. As part of this changed I also added some utility in the `@nestjs-plus/common` package to facilitate this async configuration pattern. If you're ever building modules that need to support this config pattern feel free to check it out

[2019-04-11 13:17] WonderPanda commented on #32
It depends on whether or not you're using RPC or PubSub. In both cases the behavior around Nacking is the same. Nack() will just nack the message while Nack(true) will nack and requeue as you've already stated.

Behavior for what is returned from the handler is slightly different. PubSub expects to not need to return any values to the client so if your handler returns a value it's unclear what sho

[2019-08-16 16:59] mcblum opened #40 "Cannot find module '@nestjs-plus/common'"
Hey - thanks for working on this! I've installed per the readme and when I run the service, I get this error. Any ideas what might be causing it?

Thank you!

[2019-08-16 17:07] mcblum commented on #40
Wow, I am dumb. Should anyone come across this, just `npm i @nestjs-plus/common`

[2019-08-16 17:07] #40 closed, assigned to nobody

[2019-08-16 17:35] mcblum opened #41 "Questions about implementation"
Sorry for the multiple issues! Got everything working and I see the exchanges are created. Is there a process to create queue bindings or should that be implemented manually in the app?

Thank you!

[2019-08-16 18:55] mcblum commented on #41
Edit: Ok apparently I asked the wrong question. I see the binding, but for some reason the handler function never actually gets triggered. I've tried using `*` for a routing key, and using a specific routing key. In Rabbit, all of the messages look like this:

![Screen Shot 2019-08-16 at 1 54 32 PM](https://user-images.githubusercontent.com/1761867/63191129-67db5700-c02d-11e9-9388-78576a9a3183.png

[2019-08-16 19:44] mcblum commented on #41
Apparently, I'm answering my own questions here :) I didn't realize those decorators couldn't be used in a controller, which is why the binding was working but the function was never being called. I've fixed that, but don't see in the docs how to handle the response from `@RabbitRPC`. With NestJS' default implementation you'd do `.subscribe((res) => {})` but I don't see docs for that here. Am I mi

[2019-08-17 15:58] mcblum commented on #41
Once again, given enough time, apparently I learn how to read. Should anyone else struggle with this coming from NestJS' default implementation, make sure if you want a response to your message you use ` await this.amqp.request` and not ` await this.amqp.publish`

[2019-08-17 15:58] #41 closed, assigned to nobody

[2019-08-17 18:50] WonderPanda commented on #41
Hey @mcblum Sorry I didn't get back right away, I'm actually on vacation this week so haven't been keeping an eye on this. Thanks for checking out the library and I'm glad that you got things sorted out! Feel free to open issues if you do run into any issues or limitations with the current capabilities of the librar

[2019-08-18 01:55] mcblum commented on #41
@WonderPanda all good, no worries at all! It's so great - thank you for putting this together. It took a bit for me to stop doing dumb things, but eventually, I got everything working great. I made a small wrapper around the `request` method using observables and now everything is great.

Really appreciate your hard work on this, it's so awesome to be up and running!

[2019-08-19 21:22] WonderPanda commented on #41
@mcblum That sounds awesome! Did you want to contribute the Observable wrapper back to the library? I can see that being something more people might be interested in. I'm happy to merge pull requests for good additions

[2019-08-19 21:37] mcblum commented on #41
@WonderPanda yeah dude, I'll do that!

[2019-08-20 01:23] jasperblues opened #42 "Caching"
For caching, I created: https://www.npmjs.com/package/typescript-cacheable
^-- Take a look, perhaps it can help?

[2019-08-20 09:31] jasperblues opened #43 "See what scope the parent provider/controller of the discovered method is?"
Is it possible to see what scope the parent provider/controller of the discovered method is?

[2019-08-20 13:18] WonderPanda commented on #43
Are you referring to Singleton, Request or Transient Scopes in the context of the Discovery Service?

[2019-08-20 23:45] jasperblues commented on #43
Yes wondering if possible to know the scope of discovered providers or controllers?

I believe the data is in the underlying NestJS framework. This is a fantastic library btw! The same code without the library gets quite tedious.

[2019-08-27 16:52] WonderPanda commented on #43
@jasperblues Sorry for the delayed response, I've been on vacation this past week. Currently it is only possible to discover Singleton services as the discovery service works by integrating with the Module Initialization lifecycle hook. During this time these are the only dependencies that can actually be resolved from the container.

Request scoped dependencies are explicitly filtered out because

[2019-08-30 01:35] WonderPanda commented on #43
@jasperblues I'm going to close this for now. Feel free to continue the conversation from my previous comment

[2019-08-30 01:35] #43 closed, assigned to nobody

[2019-08-30 01:45] jasperblues commented on #43
I wanted to ensure that my decorator based job scheduler only applied to singletons, so this meets my needs. Thanks a lot for the response, and again for the excellent library.

[2019-09-06 00:05] jasperblues opened #44 "Provider with null instance crashes module"
If (inadvertently) a provider has a null instance, the module will crash.

This can be fixed by filtering, before passing for processing:

[code]

Example scenario:

I had a config module (`@Inject('config.SENDGRID_API_KEY')`) that returned null for a given value. Not intended as the config is required, however if the config was optional, this would be a show stopper.

[2019-09-19 10:14] Ermodo commented on #44
I have a similar issue with transient provider. In my case, I defined a provider with 'useFactory' and 'Scope.TRANSIENT'. In this case, the instance is null as the provider is not singleton. Nestjs is not able to start and crashes silently with:

[code]
Expected is to ignore providers with undefined or null instances.

I am using nestjs 6.6.7 and nestjs-plus 2.0.1.

[2019-09-24 15:56] mcblum opened #45 "Question about listening to an exchange but using the service queue"
Hey, sorry if I'm misunderstanding how Rabbit is supposed to work. Right now we're creating an exchange for each event and that should route to one or more service queues. So `CreateUserEvent` routes to `user-service-queue` and `logger-service-queue`. In our Nest module, we're listening to that event. If I create a listener and specify the exchange and the queue, the underlying function ends up be

[2019-09-24 19:43] mcblum commented on #45
Ok one more question, kind of related to this. I've testing adding queue names to the listeners. Here's what I have:

`@RabbitRPC(rpcListenerFromEvent(CreateCallEvent, RABBIT_QUEUES.CHAT_SERVICE))`

and in the same class:

`@RabbitRPC(rpcListenerFromEvent(LoadMessagesEvent, RABBIT_QUEUES.CHAT_SERVICE))`

and my helper function:
[code]

So the strange thing about this is that the function for `Load

[2019-09-24 21:02] mcblum commented on #45
Hey, me again, sorry to be so annoying. Maybe these ramblings will help someone else understand everything at some point. So I think I'm getting that you really want an RPC handler function which then calls the appropriate sub-function. What I'm wondering is how to do that. I currently have this, which doesn't work:
[code]
I know I must be missing something here...

[2019-09-25 09:04] ganruip opened #46 "How to reconnect rabbitmq when heartbeat timeout?"
How to reconnect rabbitmq when heartbeat timeout?
![image](https://user-images.githubusercontent.com/15976895/65586287-83d00200-dfb6-11e9-9562-b46dc9fba501.png)

[2019-09-25 13:20] WonderPanda commented on #44
@jasperblues @Ermodo Thanks for providing this info guys. I'll try and push out some fixes tonight for both of these scenarios.

[2019-09-25 13:26] WonderPanda commented on #45
Hey @mcblum No need to apologize, you're not annoying. I appreciate you filling in these tickets with detail as it can definitely be helpful for others in the future.

The intended design pattern from how I myself use the library is to have individual service classes (classes decorated with @Injectable) that have appropriate methods on them wired to the processing of a single message. Right now it

[2019-09-25 13:31] WonderPanda commented on #46
Hey @ganruip. Currently we provide access to the underlying AMQP connection and channel in our connection abstraction: https://github.com/WonderPanda/nestjs-plus/blob/master/packages/rabbitmq/src/amqp/connection.ts

This allows you to attach appropriate event handlers to the connection, such as the `close` event where you could put in logic to attempt to reconnect in the case of a heartbeat timeou

[2019-09-25 13:31] #46 closed, assigned to nobody

[2019-09-25 13:35] mcblum commented on #45
@WonderPanda hey! I totally agree - the issue was that having a handler function for each exchange / queue combination wasn't really working. I checked the source and it looks like when `createRpc` is called it then listens to the queue and calls the handler but it doesn't actually check to see if the exchange matches the exchange that was passed in to the decorator. So what ends up happening is t

[2019-09-25 13:44] mcblum commented on #45
In case that isn't actually clear, what I had was what you'd expect:

[code]

So I would dispatch a message on `EX1` and get `2` as the response. The reason (I believe) was because there wasn't ever a comparison happening of `message.fields.exchange === exchange` to see which handler function should fire, it was always just firing the last one that was registered in order. Does this make sense?

[2019-09-25 13:49] WonderPanda commented on #45
Are you trying to reuse the same queue name in multiple places? I think there might be some misunderstanding here. Queue names are equivalent to identity in Rabbit. Consider this code from createRpc:

[code]

This ensures that a named queue is created and then it binds that queue to the exchange + routing key combination.

Then, we attach a listener to the queue so that messages coming off of it c

[2019-09-25 13:51] WonderPanda commented on #45
In your code example:
[code]

Both handlers will receive all messages from both exchanges because they're bound to the same queue. This is just a feature of how RabbitMQ works it's up to you to pick the correct queue names to isolate messaging workloads.

If you want to isolate them by exchange you could just make the queue names something like  `ex1_chat_service` and `ex2_chat_service`

[2019-09-25 13:53] mcblum commented on #45
@WonderPanda yes, I think that's where I'm off. I assumed that there was, essentially, one queue per service and that the exchange or routing key was used to determine where things went within your handlers. So are you saying that if I have something like `CreateRoom` that I should have a `CreateRoom` exchange that routes to a `CreateRoom` queue specifically? I had envisioned that it would be less

[2019-09-25 13:54] mcblum commented on #45
Thank you for taking the time to talk this through, clearly I wasn't envisioning using Rabbit as it was intended. I'm a FE dev so I was treating this like backend Redux :)

[2019-09-25 13:59] WonderPanda commented on #45
No worries. Exchanges and Routing Keys are definitely used to route messages to their intended listeners but ultimately you need to have a queue to facilitate that delivery and queues are based on that identity concept (a named queue could be bound to multiple things). Queues are not super expensive to have in RabbitMQ I definitely wouldn't recommend structuring your app to try to force all traffi

[2019-09-25 14:03] mcblum commented on #45
@WonderPanda brilliant. I was copying the pattern that I saw at one of my last gigs where there was, essentially, one Exchange per event. I like your pattern better and I'll do just that.

Really, really appreciate the effort and let me know if I can send over some bitcoin for a beer or something.

[2019-09-25 14:30] WonderPanda commented on #45
Ahaha, if you feel like sending some bitcoin I'll definitely take it but I'm also happy to help out. Feel free to keep asking questions I definitely think it's worthwhile having history of these kinds of things for other people to reference. Cheers

3Gbf5Gmr79t2Db3FsbJwDBmog6cw7tqdcf (BTC Address)

[2019-09-25 14:30] #45 closed, assigned to nobody

[2019-09-26 06:52] fbaldo31 opened #47 "[RabbitMQ] How should be main.ts ?"
Hi, i have few questions regarding the install / usage of the package :
Can you add to your documentation an example of the main.ts file please ?
Do we need @nestjs/microservice package ?

In fact i don't how to start, a full example would be really appreciate (or at least the minimum dependecies & main.ts example).

[2019-09-26 13:45] WonderPanda commented on #47
Hi @fbaldo31
This project offers the `examples/kitchen-sink` directory which contains a Nest App that's set up with RabbitMQ and shows off some basic functionality. In addition, there are integration tests (tests that talk to a real RabbitMQ service) which also demonstrate how to set up RabbitMQ in your NestJS app.

https://github.com/WonderPanda/nestjs-plus/blob/master/examples/kitchen-sink/src/r

[2019-09-26 13:45] #47 closed, assigned to nobody

[2019-09-27 07:04] fbaldo31 commented on #47
Thank you for quick answer it is clear now

[2019-10-06 17:01] #44 closed, assigned to nobody

[2019-10-06 17:05] WonderPanda commented on #44
Hey @jasperblues @Ermodo Thanks for your patience on this one. I've had a ton of stuff going on with my day job and some big plans with regards to NestJS and Open Source that I'm hoping to reveal in the near future but should have got a fix out for this sooner

This should be fixed now and is available with the following new package versions:
 - @nestjs-plus/discovery@2.0.2
 - @nestjs-plus/rabbitm

[2019-10-06 17:12] WonderPanda commented on #42
Hey @jasperblues thanks for your continued participation in issues for this repository. I'm trying to determine my plans for where to take nestjs-plus next and at the moment I think that my focus is going to be on more microservice transport/communcation packages as I feel that there's still a big gap here.

For that reason I'm going to close this for now since I don't anticipate spending much tim

[2019-10-06 17:12] #42 closed, assigned to nobody

[2019-10-10 00:05] patrick-fitzgerald opened #50 "kitchen-sink unit tests failing"
Hi, I'm seeing some test failures when running `npm test` in the kitchen-sink example directory.

I've added these dependencies to make the project run:
[code]

Test results:
[code]

Let me know how if there's a way to fix the tests?

Thanks,
Patrick

[2019-10-10 17:01] #50 closed, assigned to nobody

[2019-10-10 17:02] WonderPanda commented on #50
@patrickandroid I've fixed this. In general I've not put an effort into keeping the tests in the KitchenSink up to date as they're just the default scaffolded ones that come with a new Nest app. The actual tests (both unit and integration) which are run in Travis are all kept alongside the actual library code

[2019-10-10 17:35] patrick-fitzgerald commented on #50
Thanks

[2019-10-16 09:40] 4haohansen2033 opened #52 "the server is both a consumer and a publish."
Hi. I run your demo. the controller publish message to rabbitqm by amqpconetion.  the service can't receive the message. how could i do?

[2019-10-17 05:31] #52 closed, assigned to nobody

[2019-10-17 05:43] 4haohansen2033 opened #53 "the interceptor causes rabbitconsumer error"
the global interceptor handle result of http reponse .but message from rabbitmq don't  get response object ,it will occur  TypeError.  meanwhile，rabbitmqm will doesn't get ack.  the consumer wiil alway get the message
![image](https://user-images.githubusercontent.com/18458663/66980359-33dee980-f0e3-11e9-8c40-e5c282f82af0.png)
![image](https://user-images.githubusercontent.com/18458663/66980740-59

[2019-10-17 06:07] 4haohansen2033 opened #54 "how to dynamic config RabbitSubscribe params"
As title. i want to config param by file.

[2019-10-22 03:32] jasperblues commented on #42
https://github.com/liberation-data/drivine

^-- Hey @WonderPanda here's my current Nest related work. Currently Nest is integral, however I'll likely make it an optional dependency.

Also (privately, for a client) wrote a scheduler module that uses your lib.

[2019-10-22 14:21] sskorol opened #56 "Intercept handler args values"
Hi @WonderPanda,

According to docs, a handler is available within `DiscoveredMethod`:
[code]
But how we can intercept the actual method's call to access `args` values? The same way plain decorators allow us to do.

[2019-10-30 04:27] ziazon opened #58 "Using a Config module/service"
So I tried

[code]
and at first I got the following error, which was odd because I'm pretty sure this is a bug?
![image](https://user-images.githubusercontent.com/1675902/67828815-3c53fe80-faab-11e9-993d-9432bc9827a5.png)

So then i installed `@nestjs-plus/common` and then i got what looks like an implementation error on my part:

![image](https://user-images.githubusercontent.com/1675902/67829092

[2019-10-30 15:58] WonderPanda commented on #58
@jubairsaidi Interesting regarding the missing @nestjs-plus/common. It should be installed as dependency of @nestjs-plus/rabbitmq. The TS error you're getting is saying that uri is expecting a single string, but what you're getting back from `config.rmqUrl` is a `string[]`. Are you intending to try and pass multiple URIs?

[2019-10-30 15:59] WonderPanda commented on #58
@jubairsaidi You can see examples of different configuration techniques in the test suite that should cover what you're trying to do (once you fix the Type error):
https://github.com/WonderPanda/nestjs-plus/blob/master/integration/rabbitmq/e2e/configuration.e2e-spec.ts

[2019-10-31 00:01] ziazon commented on #58
Thanks! that's very helpful!

[2019-10-31 00:01] #58 closed, assigned to nobody

[2019-10-31 02:10] ziazon opened #65 "Cannot find module '@nestjs-plus/common'"
![image](https://user-images.githubusercontent.com/1675902/67912883-b050de00-fb61-11e9-887e-47c0b349bbf8.png)

The solution is to just install it, but figured either it should be a dep in this package's `package.json` file or specify in the docs to also install this module.

(originally posted this as a secondary issue in #58)

[2019-10-31 16:17] WonderPanda commented on #56
Hey @sskorol Can you explain your use case a little bit more? I wouldn't expect someone to use the Discovery module to try to intercept method calls, that's the point of some of the existing NestJS components. [Interceptor](https://docs.nestjs.com/interceptors) can do what you're describing

[2019-10-31 16:57] WonderPanda commented on #65
@jubairsaidi What version of @nestjs-plus/rabbitmq are you currently using?

[2019-10-31 17:06] WonderPanda commented on #54
Can you share an example of what the file might look like? It might be possible for you to simply read the file inside of your application code and pass those values to the `RabbitSubcribe` decorator

[2019-10-31 19:16] sskorol commented on #56
Hey @WonderPanda
Let's say we want to apply permissions to DAO layer. We can create a custom decorator which defines some rules (e.g. resource / actions). But some arguments likes ids are dynamic. So we need to extract them from method's signature. Yes, we can easily do that via a common technique by accessing descriptor. But in this case we won't be able to use any kind of DI to inject providers

[2019-11-01 12:12] #65 closed, assigned to nobody

[2019-11-01 12:21] WonderPanda commented on #65
@jubairsaidi Thanks for bringing attention to this. I'm surprised that it had gone unnoticed for a while. I've published a new version 1.4.3 of @nestjs-plus/rabbitmq that fixes this issue

[2019-11-01 12:23] WonderPanda commented on #53
@4haohansen2033 Are you able to share a small repository or some other details that allow this to be easily reproduced? I don't have enough information from this ticket to look into it further

[2019-11-01 12:30] WonderPanda commented on #56
Your use case sounds interesting. Can you share a snippet (even in pseudo code) of how you would like to apply your interception logic at the discovery layer? It may be possible to wrap and replace the handler with additional logic but I don't yet have a big enough understanding of exactly what functionality you would require.

Interceptors aren't limited to Controllers, you can also put them on I

[2019-11-02 19:02] ziazon commented on #65
awesome! thanks!

[2019-11-04 20:03] sskorol commented on #56
@WonderPanda it could be something like the following:
[code]
However, while writing this sample I realized that I'd also need a user's id which can be retrieved only from request. Moreover, there might be a problem interpreting module's `this` within descriptor's scope. As it'll refer to discovered class.

In regards to interceptors: will take a look at provided examples. Thanks.

[2019-11-04 20:19] WonderPanda commented on #56
Yeah I have a strong feeling that what you're trying to accomplish is doable out of the box with Interceptors. I don't even think that you would need to use the Discovery module for this since you have access to the function that the Interceptor is applied to during it's execution. This would allow you to inspect the function to retrieve any decorated based metadata related to your Permissions tha

[2019-11-04 20:19] #56 closed, assigned to nobody

[2019-11-06 08:50] murbanowicz opened #67 "Connection retry?"
Hi,
It is a really nice module but it is missing connection retry on init or on error.
Are you interested in implementing this feature?

[2019-11-06 12:59] WonderPanda commented on #67
Hey @murbanowicz I think it makes sense for this to be natively supported by the module. How do you currently implement retry/reconnection behavior in your RabbitMQ connected applications? Maybe if you share a snippet I can use that as a starting point

[2019-11-07 08:12] murbanowicz commented on #67
Hi,

I've done it in fairly simple way:

[code]

[2019-11-07 16:32] WonderPanda commented on #67
Thanks for the example code, I'll try to incorporate improved retry and connection logic into the library in the coming week

[2019-11-08 10:06] amehat opened #68 "Use nestjs-plus/rabbitmq within a reusable module"
Hi,
We use `@nestjs-plus/rabbitmq` to communicate with rabbitmq.
If we use it directly in a given service (with the implementation associated with this level), it is functional.
But we want to have a `RabbitModule` module that would contain the services to publish or receive the messages and use this service in other modules. But we face either errors of transpiration or errors where the service i

[2019-11-08 13:42] amehat commented on #68
we found the solution, so that everyone can reproduce what we wanted to do, we publish the solution.

**rabbit.module.ts** :
[code]
**rabbitmq.service.ts** :
[code]
**podcast.module.ts**
[code]
**podcast.controler.ts** :
[code]

[2019-11-08 13:52] #68 closed, assigned to nobody

[2019-11-08 14:24] WonderPanda commented on #68
Hey guys glad you got this figured out! Thanks for sharing code here too so that future users of the library will potentially be able to find and reference this issue. It looks like the main issue in the original snippet was putting the `AmqpConnection` in the `imports` array and the `providers` array from your original rabbitmq.module

[2019-11-08 14:46] amehat commented on #68
yes, you should not add `AmqpConnection` in the imports of `rabbitmq.module`.

[2019-11-09 00:04] elucidsoft opened #69 "QueryParams are missing AssertQueue options"
The following items should be added to the QueryParams:

`interface AssertQueue {
        exclusive?: boolean;
        durable?: boolean;
        autoDelete?: boolean;
        arguments?: any;
        messageTtl?: number;
        expires?: number;
        deadLetterExchange?: string;
        deadLetterRoutingKey?: string;
        maxLength?: number;
        maxPriority?: number;
    }`

[2019-11-09 03:50] WonderPanda commented on #69
Fixed in `@nestjs-plus/rabbitmq` version 1.4.4

[2019-11-09 03:50] #69 closed, assigned to nobody

[2019-11-10 22:29] elucidsoft opened #71 "Expose PublishOptions on Request"
Need to expose PublishOptions to Request so that you can modify them if necessary.  It's an optional parameter so it should not be a breaking change.

[2019-11-13 13:33] WonderPanda opened #18 "DeepMocks can't be used as Providers During Testing"
If an object that was generated with `createMock` is used as a Provider in a Nest testing scenario and another Provider depends on it, there are resolution issues due to Nest internals calling certain properties on the provided mock object.

There are also issues with the ability to console.log() a mock object because of how it causes properties to be analyzed which can cause stack overflow errors

[2019-11-13 14:55] #18 closed

[2019-11-21 14:19] bakedChicken opened #77 "RabbitMQModule doesn't have forRoot and forRootAsync methods"
Hi. I'm trying to implement custom message parsing and serializing feature for RabbitMQ module because I would like to exchange messages in XML format.

So far I have made necessary changes and trying to launch `integration/rabbitmq` example, but it doesn't have `@golevelup/nestjs-rabbitmq` dependency in `package.json` and it's also using forRootAsync method for module setup which doesn't exists.

[2019-12-02 16:01] azuker commented on #67
I recommend you consider incorporating amqp-connection-manager - https://www.npmjs.com/package/amqp-connection-manager

[2019-12-05 09:30] kdi-1 opened #78 "Multiple connections"
Hi,
It is a really nice lib. Thank you!

Is it possible to use multiple connections to send/receive  messages? If so I'd appreeciate it isf someone give an example of configuration and using.

[2019-12-05 16:37] ZinkevychSergii opened #79 "Multiple bind from exchange to queue"
Hi. Is't possible to bind queue to multiple routing keys from exchange.

example:
Have exchange `someExchange` with type topic
Have queue `someQueue`, and i would like `someExchange` will send messages to `someQueue` with routing keys ['some.#', '*.another'].

Code below bind only latest routing key at the array

[code]

[2019-12-05 19:15] jmcdo29 commented on #77
I think the `package.json` should have the `@golevelup/nestjs-rabbitmq` package.

As for the missing `forRoot` and `forRootAsync` methods, they actually do exists, thanks to the `createConfigurableDynamicRootModule` class that the `RabbitModule` class extends. You can find the code for `createConfigurableDynamicRootModule` in the `@golevelup/nestjs-module` package.

[2019-12-11 04:58] azuker commented on #67
I created a PR for that if you're interested - https://github.com/golevelup/nestjs/pull/80

[2019-12-12 18:59] zarv1k opened #81 "instance properties of discovered controller are undefined"
Hi!

Have found such a strange issue: instance properties of discovered controllers are `undefined` in discovery results.

I think that it can happen because controllers discovery is in the discovery service constructor, so it should be delayed at least to the finish of the app bootstraping process. Moreover, discovery process could be implemented in lazy way.

I'll prepare PR for that shortly.

T

[2019-12-14 18:57] WonderPanda commented on #81
This is a great find thanks for taking the time to report and fix!

[2019-12-14 19:01] #81 closed, assigned to nobody

[2019-12-14 19:06] WonderPanda commented on #81
@zarv1k new packages have been published

Changes:
 - @golevelup/nestjs-discovery: 2.2.0 => 2.2.1
 - @golevelup/nestjs-rabbitmq: 1.7.0 => 1.7.1

[2019-12-17 15:26] ssilve1989 commented on #77
@jmcdo29 The issue is the typescript declarations are incorrect so any TS build will fail. The declaration as of `1.7.1` looks like
[code]

Causing
[code]

This line in particular is referencing a wrong path
[code]
there is no `modules/lib` when installing this package in a project. its actually `nestjs-modules/lib` since its depdendent on the `nestjs-modules` package

[2019-12-17 18:53] WonderPanda commented on #79
Hey @ZinkevychSergii I think this is a reasonable feature. Until it's implemented, have you tried adding multiple decorators to the same service method? I believe that will also get you what you want

[2019-12-17 18:54] WonderPanda commented on #77
@ssilve1989 Thanks for providing this detail, I'll take a look at this issue tonight

[2019-12-18 07:45] ZinkevychSergii commented on #79
@WonderPanda have tried, basically it's the same as at my snippet above, so unfortunately doesn't works.
the core issue, when you use @RabbitSubscribe, under the hood SetMetadata(KEY) used. thing of metadata as hash map, when use SetMetada twice, the latest call will override previous one.

should be good enough just change routingKey to be an array and iterate here https://github.com/golevelup/ne

[2019-12-18 13:43] #77 closed, assigned to nobody

[2019-12-18 13:56] WonderPanda commented on #77
@ssilve1989 @bakedChicken Sorry the fix is now live for this in `@golevelup/nestjs-rabbitmq@1.7.2`

I don't fully understand why TS was generating that portion of the Typings with a relative path to `@goleveup/nestjs-modules` instead of pulling the Type from the NPM package.

Will have to do further investigation to see if there's improvements on my TS Lerna Monorepo setup to prevent this kind of

[2019-12-18 16:26] WonderPanda commented on #79
I think this feature makes sense for the library. I'll take a look at getting it integrated tonight

[2019-12-18 16:27] WonderPanda commented on #78
Hey @kdi-1. There isn't currently an option for managing multiple connections but I can see that being a useful addition to the library. I'll take a look at adding this in a future release.

[2019-12-19 01:15] #79 closed, assigned to nobody

[2019-12-19 01:17] WonderPanda commented on #79
@ZinkevychSergii Just published `@golevelup/nestjs-rabbitmq@1.8.0` which supports this functionality.  It's important not to call `createSubscriber` multiple times because that creates multiple internal queues instead of just routing messages from multiple exchange locations to the same handler. You can easily update your code because `routingKey` property now supports `string | string[]` so you c

[2019-12-20 04:21] #53 closed, assigned to nobody

[2019-12-20 04:21] WonderPanda commented on #53
Closing for lack of detail. Feel free to open again if there's more information available

[2019-12-28 20:00] jmcdo29 opened #89 "Multiple Injectables with nestjs-modules"
It would be awesome if there was a way to provide multiple injectable values from a single module. I'm thinking something like
[code]
Where you could provide multiple tokens. Maybe create a third parameter for a token map that tells the system how to create the relationship between the tokens and their configs. Say if multiple tokens were provided like `SERVICE_OPTIONS` and `INTERCEPTOR_OPTIONS` t

[2019-12-29 16:58] WonderPanda commented on #89
Looking further into this I feel like if your goal is to have multiple injectables *provided* from your dynamic module that the current APIs support that relatively easily. The boilerplate that this library removes is for the *configuration* of your Dynamic Module, not for what it will provide. So in that sense you can pass as complex an object as you want under one Injection token for the configu

[2019-12-29 17:30] WonderPanda commented on #89
I made an example app so you can see it in action. You can pull it down and run it but the relevant files are here:

https://github.com/WonderPanda/dynamic-modules-example/blob/master/src/dynamic-example/dynamic-example.module.ts

https://github.com/WonderPanda/dynamic-modules-example/blob/master/src/app.module.ts

https://github.com/WonderPanda/dynamic-modules-example/blob/master/src/app.controll

[2019-12-29 17:30] #89 closed, assigned to nobody

[2020-01-15 18:45] erickamarante opened #95 "Google PubSub"
Good morning.

Is the google pubsub project active?

Tks.

[2020-01-15 20:16] WonderPanda commented on #95
Hey @littlepotato86 Thanks for your interest in the library! Things were around 70% complete for Google PubSub integration but then I didn't end up needing it for work which put things on pause for a little bit. If there's an interest from the community I could definitely take a look at continuing development and getting a package published.

Can you share a little bit about what functionality you

[2020-01-20 12:29] kdi-1 opened #96 "Use ConfirmChannel in RabbitMQ"
Hi.
It would be great and more more reliable if there was a way to use **amqplib.ConfirmChannel** in RabbitMQ.

[2020-01-20 17:34] O1lpunch3r opened #97 "RabbitMQModule - forRoot and forRootAsync methods not running"
I have the latest version of these fantastic RabbitMQ-Module. But i can not use the forRoot method like documented in the README. The function parameters look unnormal, **why** are there **two parameters**? What is the **moduleCtor**?

`(method) IConfigurableDynamicRootModule<RabbitMQModule, RabbitMQConfig>.forRoot(moduleCtor: Type<RabbitMQModule>, moduleConfig: RabbitMQConfig): DynamicModule
Expe

[2020-01-20 18:27] WonderPanda commented on #97
Hey @O1lpunch3r it's my fault for not having updated the docs for this. `moduleCtor` is just the constructor function for the `RabbitMQModule`. You can see how to use it here:

https://github.com/golevelup/nestjs/blob/73eb8ddd8fc95dc6b12ea3d03ec8bf6e0a3ec5ee/integration/rabbitmq/e2e/subscribe.e2e-spec.ts#L38

This is because the RabbitMQModule is built using `@golevelup/nestjs-modules` which elimi

[2020-01-20 18:27] #97 closed, assigned to nobody

[2020-01-21 21:41] theabuitendyk opened #98 "Support for disabling consumers using an application config"
I have many instances of my application running, some of which I'd like to consume from RabbitMQ queues and others that should be dedicated to serving API requests.

I'm using the RabbitSubscribe decorator on a service method to connect a consumer.
[code]
Is there a way to stop this from consuming from the queue based on my application config, while allowing the application to publish to the same

[2020-01-21 21:47] WonderPanda commented on #98
At first I thought that you simply wanted to disable all RabbitMQ behavior for certain instances of your application. If this were the case, you can just conditionally build up your `imports` array based on an environment/config variable and exclude the call to `RabbitMQModule.forRoot/forRootAsync.`

Since you also want to be able to still interact with the AmqpConnection to be able to publish mes

[2020-01-21 21:52] theabuitendyk commented on #98
Thanks for your help @WonderPanda!

[2020-01-22 00:54] #98 closed, assigned to nobody

[2020-01-22 00:56] WonderPanda commented on #98
@theabuitendyk This feature is now available in version `1.10.0`

[2020-01-22 00:58] WonderPanda commented on #96
@kd-1 What version are you currently using? Recent versions of the package (I believe it's @golevelup/nest-js rabbitmq 1.09.0 and higher) leverage [`amqp-connection-manager`](https://www.npmjs.com/package/amqp-connection-manager) which exposes a ConfirmChannel

[2020-01-22 15:35] bolognesi opened #100 "How publish a message?"
Hello,
thanks for this library! I was wondering how it is possible write (i.e. publish) on the message bus.
Using the pubSubHandler I can receive the messages, but it is not clear to me how to write messages on an exchange.

Thanks, best wishes
Thomas

[2020-01-22 16:33] WonderPanda commented on #100
Hey @bolognesi  thanks for your interest in the library. This part of the docs needs to be improved but sending messages is quite simple. Assuming you've included the RabbitMQModule in your application, you can simply inject the `AmqpConnection` into the controller/service from which you would like to publish messages and interact with the connection directly.

Here's an example from the integrati

[2020-01-22 16:33] #100 closed, assigned to nobody

[2020-01-23 13:39] kdi-1 commented on #96
Thank you for response.
I assumed so because I saw   [`private _channel?: amqplib.Channel;`](https://github.com/golevelup/nestjs/blob/7b1a665fa7678575fda40dd9ca85ef6d0dd4d580/packages/rabbitmq/src/amqp/connection.ts#L53) in AmqpConnection  class declaration.
I seems that **amqplib.ConfirmChannel** type looks better.
I see now.

[2020-01-27 09:59] narimanam opened #101 "How send RPC message"
hi, thanks for this library.
I want to use AmqpConnection for call rpc. I can use publish function for broadcast messages,but for RPC I don't know how to do that. can you explain more about send messages

[2020-01-28 13:27] #101 closed, assigned to nobody

[2020-01-28 13:28] WonderPanda commented on #101
Hey @nariman-amani thanks for your interest in @golevelup

I've added a Table of Contents and new sections to the RabbitMQ docs to explain this better

https://github.com/golevelup/nestjs/tree/master/packages/rabbitmq#sending-messages

[2020-01-28 13:29] WonderPanda commented on #100
@bolognesi

I've added a Table of Contents and new sections to the RabbitMQ docs to explain this better

https://github.com/golevelup/nestjs/tree/master/packages/rabbitmq#sending-messages

[2020-01-28 13:33] kdi-1 commented on #101
You can see this in test

https://github.com/golevelup/nestjs/blob/7b1a665fa7678575fda40dd9ca85ef6d0dd4d580/integration/rabbitmq/e2e/rpc.e2e-spec.ts#L29

`  const response = await amqpConnection.request({
      exchange: 'exchange1',
      routingKey: 'rpc',
      payload: {
        request: 'val',
      },
    });`

[2020-01-28 14:17] bolognesi commented on #100
@WonderPanda Great job and great library.Thanks!

[2020-01-31 10:29] Ponjimon opened #103 "DiscoveryService not resolving"
Hi, I'm trying to use the DiscoveryService in my GraphqlService inside `createGqlOptions`.

[code]

but the console.log is never executed as the promise is never resolved.

If I change it to this:

[code]

The promise resolves, but if I wrap everything inside the `then` it again does not resolve. Any idea why?

[2020-02-10 18:43] mcblum opened #104 "Lots of Rabbit connection issues after update"
Hey, thanks for the awesome package. I updated to the current version, and now when I deploy and sometimes running locally I get:

[code]

It'll happen a few times when deploying, those containers will fail, then a new one will spin up and eventually it will work. Any idea what's happening? I've confirmed that Rabbit is running.

[2020-02-10 18:54] mcblum commented on #104
Also one more question, is there somewhere that describes what `externallyConfigured` does in:

[code]

[2020-02-13 09:48] kdi-1 commented on #78
Now I solved this by creating a _child class_ based on RabbitMQModule
`class RabbitMQModule1 extends RabbitMQModule  {}`
**feature-1.module.ts**
[code]
**feature-2.module.ts**
[code]

[2020-02-22 13:52] mfcodeworks opened #105 "Issue with default exchange"
Attempting to create a multi-queue listener with the following code

[code]

[code]

Every time I run the app I get the error `Error: Operation failed: QueueBind; 403 (ACCESS-REFUSED) with message "ACCESS_REFUSED - operation not permitted on the default exchange"`, what causes the error to occur?

I'd prefer to remain on the default exchange so I don't have to alter an existing RabbitMQ instance t

[2020-02-23 03:42] mfcodeworks commented on #105
**SOLVED** Publishing without an exchange string is fine, config without an exchanges array is fine, *but* any subscriber **requires** an exchange. The default for RabbitMQ is `amq.direct` so simply changing the subscriber exchange to `amq.direct` fixed all issues.

This should probably be stated in the docs as it's the only place that absolutely requires an exchange to function.

Code
[code]

**E

[2020-02-24 11:16] sjmittal opened #106 "Unable to define handler decorators dynamically"
Hi,
Firstly thanks for a great lib, very simple and intuitive to use.
In my case configs like exchange name and routing keys are picked from the configuration service.

So if I define a handler like:
[code]
I don't want to hardcode the values, rather than get the values of `exchange` and `routingKey` picked from say a config service dynamically,

Is there a way to do this.

If I inject config serv

[2020-02-24 14:25] WonderPanda commented on #106
@sjmittal Thanks for the kind words.

There is currently no way to do this using the Decorator approach. However, the Decorators just act as collectors of configuration info to ultimately construct some RPC or Subscribe listeners using the included Amqp lib. You could definitely hook up dyamic handlers yourself based on this approach.

Have a look at the `onModuleInit` lifecycle for the RabbitMQ M

[2020-02-24 14:27] WonderPanda commented on #105
Thanks for the detailed code snippets and information about how you resolved this issue. These are requirements for the way RabbitMQ and AMQP work so I've gone back and forth about how much "extra" information to include in the docs for this library that would be duplicating the better documentation effort from the RabbitMQ team.

I'll try and update the docs to help guide people towards the Rabbi

[2020-02-24 14:27] #105 closed, assigned to nobody

[2020-02-24 14:31] WonderPanda commented on #104
Hey @mcblum I'm sorry that you've been seeing some issues since the last update. In one of the most recent updates we added support for a new wrapper around Amqp/Rabbit that gives more control over handling connects/disconnects. The default connection timeout is 5000ms which appears to be what you're running into.

You could try increasing the timeout if it's expected that it may take longer for y

[2020-02-24 14:31] #104 closed, assigned to nobody

[2020-02-24 14:38] WonderPanda commented on #104
Closing this for now feel free to open up again if you continue to run into issues

[2020-02-25 10:47] sjmittal commented on #106
I checked the class and I notice that config is ultimately derived from decorators itself using these line:
https://github.com/golevelup/nestjs/blob/c20ba1b67eb3855f4c2b10d3e625891eb7a14042/packages/rabbitmq/src/rabbitmq.module.ts#L101-L103

And for now in decorators one has to statically define the exchange and routing key. Is there any other way we can pass the config to Amqp lib which can be co

[2020-03-10 09:51] fechy opened #109 "Enable option to not initialise reply-to queue."
Since it is by default that the reply-to queue is being listened to, it is impossible to use only subscribe if the RabbitMQ node doesn't have 'amq.rabbitmq.reply-to'.

The node I'm trying to connect to is not using this reply-to, therefore this error is thrown on start:
[code]

One alternative will be to add an option to disable this initialization, as an "optOut".

[2020-03-10 10:53] zerobig commented on #109
What version of RabbitMQ server?
Support the "direct reply-to" extension was introduced in RabbitMQ 3.4 (21 Oct 2014)
5 years... All support periods are ended.

[2020-03-10 13:19] fechy commented on #109
The server is 3.6, it should support it, but I believe it was disabled by the admins. Problem is that I don't have control over this server and can only consume messages.
Unfortunately, this means if I cannot disable this option from the library, I cannot use the library.

[2020-03-10 13:21] WonderPanda commented on #109
@fechy It should be pretty straightforward to conditionally initialize the Rely To Queue based on the module configuration. This line would just need to be wrapped in a condition based on the configuration object:
https://github.com/golevelup/nestjs/blob/c20ba1b67eb3855f4c2b10d3e625891eb7a14042/packages/rabbitmq/src/amqp/connection.ts#L155

Perhaps you'd like to take a crack at making a contributi

[2020-03-10 13:25] fechy commented on #109
Sounds fair. I'll get to it.

[2020-03-10 13:49] WonderPanda commented on #109
That's awesome! Thanks fechy, feel free to throw questions in here if you come up against anything you're not sure of

[2020-03-24 09:55] aooppo opened #112 "Message handling infinite loop problem"
Hi, I created a new subscription according to the following document, and then after I return **new Nack()**, I still receive the previous message indefinitely. Is this the problem I set?

**dependencies:**

- "@nestjs-plus/rabbitmq": "^1.4.4",
-  "@nestjs/common": "^6.0.0",
- "@nestjs/core": "^6.0.0",

[code]

my code:
[code]
[code]

[2020-03-25 06:54] zerobig commented on #112
Hello, @nestjs-plus/rabbitmq is very old version of the library. Try use @golevelup/nestjs-rabbitmq v.1.10.0. If the problem persists, then I will see into.

[2020-03-25 07:59] aooppo commented on #112
Thanks for your reply @zerobig
I upgrade some package for dependencies, but it still doesn't work. do you have any idea?

    "@golevelup/nestjs-rabbitmq": "^1.10.0",
    "@nestjs/common": "^7.0.0",
    "@nestjs/core": "^7.0.0",

[2020-03-26 12:50] WonderPanda commented on #109
@fechy Did you ever get a chance to take a crack at implementing this feature?

[2020-03-26 12:52] fechy commented on #109
@WonderPanda I'm afraid not. I'll take a look as soon as I got some time back for my own.

[2020-03-26 12:56] WonderPanda commented on #109
@fechy No worries. I may have some time to implement this today

[2020-03-26 13:22] WonderPanda commented on #109
@fechy PR is here if you want to take a look: https://github.com/golevelup/nestjs/pull/114

[2020-03-26 13:29] #109 closed, assigned to nobody

[2020-03-26 13:31] WonderPanda commented on #109
@fechy This is now available in `@golevelup/nestjs-rabbitmq@1.12.0`

[2020-03-26 14:05] WonderPanda commented on #103
Hey @lookapanda I'm sorry this issue slipped past me. I've never run into this before and there's decent test coverage that runs for each build that covers this functionality. Any chance you can provide a repo that reproduces this issue so that I can take a look?

[2020-03-26 14:05] WonderPanda commented on #103
PS cool name :stuck_out_tongue:

[2020-03-26 14:06] WonderPanda commented on #54
Closing as there's no follow up information for this. Feel free to re open if there is more detail to go on

[2020-03-26 14:06] #54 closed, assigned to nobody

[2020-03-26 14:12] WonderPanda commented on #67
Connection management is now possible thanks to amqp-connection-manager and the awesome contributions from @azuker

[2020-03-26 14:12] #67 closed, assigned to nobody

[2020-03-27 13:54] WonderPanda opened #116 "Hasura Module - Event Handling"
Hasura makes it possible to attach handlers to event triggers at the DB level. https://hasura.io/docs/1.0/graphql/manual/event-triggers/index.html

This means you can attach business logic for when entities in the DB are created, updated or deleted. Handlers are implemented through webhooks that receive an event payload.

A Hasura Module that provides event handling should expose a single API endp

[2020-03-27 21:39] WonderPanda commented on #116
Closed by #115

[2020-03-27 21:39] #116 closed, assigned to nobody

[2020-03-27 21:39] WonderPanda opened #118 "docs for hasura package"

[2020-03-27 21:40] WonderPanda opened #119 "improve hasura event handler cache"
Look up handlers from a Map instead of using filter/find

[2020-03-28 17:46] WonderPanda opened #120 "Create Utility in common to create injectable token decorators"
Instead of having to do `@Inject(SOME_TOKEN_KEY_THING)` all over the place it's better to create a decorator factory such that you can easily create custom decorators which kid the token. Eg. `@InjectThing()`

[2020-03-28 18:12] #120 closed, assigned to nobody

[2020-03-28 18:31] WonderPanda opened #122 "Expose Entire GraphQL Request API"
Only the module was exposed, making it impossible to get to the constants and decorators for this library

[2020-03-28 18:44] #122 closed, assigned to nobody

[2020-03-28 18:55] WonderPanda commented on #106
@sjmittal Have you tried https://github.com/mozilla/node-convict? It would allow you to dynamically configure your decorators based on ENV variables or a .env file that you include in your application. It won't work if your config service comes through NestJS depedency injection but this (and other modules) let you do config outside of Nest which makes these scenarios much easier.

It is a current

[2020-03-28 18:55] #106 closed, assigned to nobody

[2020-03-29 16:45] WonderPanda opened #125 "Include Option to Specify Op in Hasura Event Handling Decoration and Routing"
Hasura events can be of the following operation type:

INSERT: When a row is inserted into a table
UPDATE: When a row is updated in a table
DELETE: When a row is deleted from a table
MANUAL: Using the console or API, an event can be triggered manually on a row

Currently there is no way to specify operation when decorating an event handler which means that a single event handler must potentially d

[2020-03-29 16:46] #118 closed, assigned to nobody

[2020-04-03 12:19] WonderPanda opened #127 "API for Custom User Defined Error Handling Logic Inside RabbitMQ"
Instead of adding a new error handling behavior at the connection level what if we added the option to supply your own error handling logic at the decorator level so that people can flexibly handle error cases differently across different queues/exchanges etc.

I'm wondering about adding in a new option method to the decorator that might look something like this:

[code]

That way if an error happ

[2020-04-05 17:00] WonderPanda opened #129 "Allow user to specify controller prefix for Hasura Event Handler"

[2020-04-05 17:23] #129 closed, assigned to WonderPanda

[2020-04-07 13:00] WonderPanda opened #131 "add helper to wire up simple raw body processing"

[2020-04-07 13:21] #131 closed, assigned to nobody

[2020-04-07 22:52] WonderPanda commented on #103
Feel free to open this again if there's more information regarding the issue. I can't investigate it currently without a reproducible example

[2020-04-07 22:52] #103 closed, assigned to nobody

[2020-04-21 08:44] sjmittal commented on #112
This does not work for me too.
I think it has something to do with this line of code:
https://github.com/golevelup/nestjs/blob/master/packages/rabbitmq/src/amqp/connection.ts#L264

It always returns false.

[2020-04-21 13:05] WonderPanda commented on #112
Hey @sjmittal I'm sorry that you're seeing this behavior. If you're for sure returning a `Nack` instance from your handler this should be working as intended.

We have integration test coverage against a real RabbitMQ for the Nack behavior here:
https://github.com/golevelup/nestjs/blob/master/integration/rabbitmq/e2e/nack-and-requeue.e2e-spec.ts

I'm wondering if somehow the instanceof check is fa

[2020-04-21 14:22] sjmittal commented on #112
@WonderPanda
Issue is indeed very weird.
If I run the test case you mentioned exactly in my test suite it passes. So there is no versioning issue.

Now I did bit debugging using console logs at library level; nack response in test case is logged as:
`Nack { _requeue: false }`

However in my code to check this further I did:
[code]

I also added a log in the lib itself where message is getting hand

[2020-04-21 16:21] WonderPanda commented on #112
@sjmittal Thanks for following up. It looks like there is definitely some kind of bug or edge case where your message is being serialized such that the reference to the parent Nack constructor is being erased. I will look into this more tonight

[2020-04-22 05:46] sjmittal commented on #112
So after some debugging I have found out the issue why it is failing at app level whereas test cases are passing correctly.
In nestjs for obvious reason (as described in link: https://docs.nestjs.com/techniques/serialization) we use https://github.com/nestjs/nest/blob/master/packages/common/serializer/class-serializer.interceptor.ts
So in this line it converts all classes to plain before putting t

[2020-04-22 11:15] WonderPanda commented on #112
@sjmittal Can you share how you're configuring the Interceptor? I think there is a little bit of confusion in regards to the serialization piece here.

It's important to understand that the `Nack` is not being sent over the network. The way that the RabbitMQ library works is that messages are received and automatically routed to your handlers based on decorators but when your handler method return

[2020-04-22 14:43] tadejgolobic opened #136 "Cannot use this lib from a source"
I am working an a work project, and I would like to check if I can implement some stuff for RMQ. So I have performed clone on your repo, ran ```npm install``` in all packages folder and then I ran build from root directory. Then I went to my project and tried to import it like this ```import { Nack, RabbitSubscribe } from '/home/tadejgolobic/github.com/golevelup/nestjs/packages/rabbitmq/'``` howev

[2020-04-23 11:02] sjmittal commented on #112
@WonderPanda
I am using a global interceptor here, but then as per https://docs.nestjs.com/techniques/serialization, this should kick in only before objects are returned in a network response.
As you say that Nack is not being sent over network then why is it being serialized? Is that some bug in `NestJS` side.
Apart from global interceptor I am doing having any additional configuration.

Does it

[2020-04-23 12:06] WonderPanda commented on #112
@sjmittal The link you've provided is a bit misleading. Interceptors are often used in conjunction with transforming responses to be sent over the network as one of the primary use cases for NestJS is building REST APIs. However, Interceptors make no distinction in behavior based on whether they're being used at a network boundary or not.

They simply grab the result produced by the method they ar

[2020-04-23 12:06] #112 closed, assigned to nobody

[2020-04-27 18:29] rennenc opened #137 "No way to handle failed serialization (non-json)"
When a non-JSON message is received (for example - via other programming language, or directly from rabbitmq management plugin), the service will not trigger the handler function, nor will throw an exception (not even globally un-handled exception). Instead, it will re-queue the message going into his infinite loop of failing and re-queuing, bombarding rabbitmq

![image](https://user-images.github

[2020-04-27 20:24] WonderPanda commented on #137
Hey @rennec the latest version, `@golevelup/nestjs-rabbitmq@1.15.0` introduced some changes to how errors are handled. There's some discussion and visibility around that issue here: https://github.com/golevelup/nestjs/pull/134

Basically you can opt into allowing non JSON messages with decorators like this:
[code]

After this you'll have to implement your NestJS handler against the raw RabbitMQ ms

[2020-04-28 08:25] rennenc commented on #137
Very nice. Thanks for the update. Looking forward.

I suspect that the the motivation not to throw an error - is to avoid crashing the app; and that the motivation to re-queue the message - is to avoid data loss.

But the combination of the two leads to an infinite loop which is not ideal either.

[2020-04-29 18:31] saarikivit opened #138 "[RabbitMQ] How do I configure Dead Letter Queues? (Or retry policy)"
Hey! Nice lib :ok_hand: :ok_hand: :ok_hand:

Today I ran into an issue: An infinite loop of **very fast** retries when a "RabbitSubscribe" handler errors and keeps erroring.

How do I configure a good retry policy with this library?

I'd optimally want something like "every 10 seconds for 6 rounds -> then every 15 minutes" though I understand that might be impossible.

Thanks for your time! :pray:

[2020-04-29 18:56] saarikivit opened #139 "[RabbitMQ] Returns and empty object {} when connection.request Errors"
Hey! I lately found out that if **this.amqpConnection.request** Errors it will return an empty object but not throw.

[code]

Is there any way for me to check if an error occurred? expect something custom like:
[code]

Thanks so much for your time! :pray: :smile_cat:

[2020-05-02 08:13] rkalkani commented on #138
Yes, Nice lib, as well the helper's module to simplify writing other nests lib.

@saarikivit You can write a custom error handling/retry behavior and set as a custom handler to errorHandler property.

[code]

I just started to write some sophisticated retry policies in one of my projects today. I am using `https://github.com/guidesmiths/rascal#chaining-recovery-strategies` as a reference. There ar

[2020-05-03 12:24] saarikivit commented on #138
I found "RabbitSubscribe" to have "queueOptions" that includes "deadLetterExchange" :thinking:

But implementing some type of thing like: https://medium.com/@igkuz/ruby-retry-scheduled-tasks-with-dead-letter-exchange-in-rabbitmq-9e38aa39089b seems to be not doable automatically. Making a DLX and DLQ with the decorators would bind them to a function, which would result in the same thing as without

[2020-05-03 17:28] rkalkani commented on #138
Yes, I am also stuck at the same step on how to assert a queue when service starts so that I do not need to create it manually.

That DLX and DLQ example is similar to what is in chaining recovery strategies explanation on the rascal repo. https://github.com/guidesmiths/rascal#chaining-recovery-strategies

On medium repo, the usage of 'CC' header is not explained but it may also be needed.

I am t

[2020-05-03 17:37] saarikivit commented on #138
Yep. Sounds too hacky for my taste :smile:. Maybe there is a better tool for this job.

Bull seems good for the retries. Supported natively by Nest. But before an item enters bull, I need some event based fan-out thing..

Google cloud pub sub might solve my needs. Though It does not have a ready solution.

[2020-05-04 13:33] WonderPanda commented on #138
Hey loving the back and forth with this one. With the introduction of the new errorHandler functionality I was definitely hoping to start developing some better community patterns for things like backoff and retry with DLQ. The link that @rkalkani provided for the rascal repo looks really interesting I'll spend some more time looking through it and see if there's anything we can pull into the Nest

[2020-05-04 13:35] saarikivit commented on #138
Let me know if I can help! 🙏

[2020-05-04 13:39] WonderPanda commented on #138
@saarikivit I'm curious about your thoughts around Google Pub Sub. What functionality does it provide that you think might make these scenarios easier? I actually started a Google Pub Sub module a while back that is half finished that I could potentially revisit

[2020-05-04 14:35] saarikivit commented on #138
@WonderPanda actually that was my fluke. A mixup with GC Tasks.

Currently GC pub/sub provides DLQs. So the implementation would be very similar to RabbitMQ.

https://cloud.google.com/pubsub/docs/dead-letter-topics

The good thing about their API is that they have the retry attempt# in the message object which allows simple retry policies. (Retry 5 times before sent to DLQ)
I have not found the sa

[2020-05-05 14:46] #136 closed, assigned to nobody

[2020-05-05 14:52] WonderPanda commented on #136
@tadejgolobic Hey sorry did you end up getting this working? Generally I'd suggest that you'd have an easier time including the NPM packages instead of pulling in the source directly. Are you trying to use the library in a non NestJS context?

[2020-05-06 20:35] WonderPanda commented on #127
Closed by #126

[2020-05-06 20:35] #127 closed, assigned to WonderPanda

[2020-05-07 06:18] iampedii opened #140 "Failed to receive response within timeout of 10000ms"
Hi,
I'm having frequent timeouts just because my operations are taking longer than 10seconds.
` Failed to receive response within timeout of 10000ms`
I wonder if there is any way to change the timeout value?

[2020-05-07 11:33] WonderPanda commented on #140
Is this happening when you're using RPC and the `request` method to get a response? If so you can set the desired timeout on each operation:

https://github.com/golevelup/nestjs/tree/master/packages/rabbitmq#requesting-data-from-an-rpc

[2020-05-08 13:52] tadejgolobic opened #141 "RabbitMQ - wrong method called"
Hi, maybe I am missing something but this shouldn't happen

This is the code
[code]
When I publish something on amq.topic exchange, with routing key test.delete, it will print this:

ROUTING KEY CREATE:  test.delete

Is this normal? Shouldn't this call method delete?

[2020-05-08 13:53] tadejgolobic commented on #136
@WonderPanda , yes, no problem. I was able to get it up and running. I have another issue, maybe you can take a look? #141

[2020-05-08 14:28] WonderPanda commented on #141
Yes this is expected behavior. You're reusing the same underlying queue between both subscriptions with `queue1`. You should not re-use the same queue for this as it's effectively being bound against both subscriptions. There is most likely a race condition caused by this which would allow either Nest handler to be invoked.

RabbitMQ is meant to work with many queues and they are relatively light

[2020-05-08 14:28] #141 closed, assigned to nobody

[2020-05-08 14:29] WonderPanda commented on #140
Closing this as support for custom timeouts is already built into the library. Feel free to reopen if you run into any problems where it doesn't seem to be working when you set a custom timeout

[2020-05-08 14:29] #140 closed, assigned to nobody

[2020-05-08 16:50] WonderPanda commented on #139
Hey @saarikivit the library isn't super opinionated about this at the moment. Generally this is left open to the implementer to decide. Do you have control over the code for the RPC that you're calling? You could wrap it in a try catch in the remote service and send back whatever kind of error object you want to give context to the caller

[2020-05-08 17:29] saarikivit commented on #139
Ok! I think I'll implement something like a graphql response: { data, error } 👍
Thanks!

[2020-05-08 17:30] #139 closed, assigned to nobody

[2020-05-10 14:08] WonderPanda opened #143 "Convert to using NX Monorepo"

[2020-05-11 01:34] iampedii opened #144 "errorHandler is not being called"
Hi

I realised that there is a way to handle error whilst processing the incoming messages and updated the package to version `^1.15.0`. However, an exception cause an infinite re-queuing and the error handler will never log anything.

Here is how I use it,
[code]

[2020-05-11 12:08] WonderPanda commented on #144
Hey @iampedi I'll have to take a look further into this to see what's up. Any chance you can share a link to a repo with a minimum reproducible example of this happening?

My first thought is that it might be because you're referencing a class member as the errorHandler (even though it's static). Generally the intention is that error handling functions should be written as utility functions and no

[2020-05-11 13:39] WonderPanda commented on #139
@saarikivit Nice I think that's a great approach!

[2020-05-12 00:50] iampedii commented on #144
I have actually tested it with a utility function as well but unfortunately, I had no luck. I'll prepare the repo today.

Thank you @WonderPanda

[2020-05-13 05:37] rigobcastro opened #148 "HasuraModule with forRootAsync is not working"
When I import the HasuraModule with `forRoot` it works

[code]

But when I import the module with `forRootAsync` it doesn't work

[code]

I think it's something that I'm missing because no errors appears on the console just the RouteExplorer doesn't map the routes.

Thanks for your support.

[2020-05-13 11:33] WonderPanda commented on #148
Hey @rigobcastro thanks for reporting this. I can confirm that the route isn't being mapped when using `forRootAsync` and will look into this.

As a side note, much do you leverage the ConfigService in your current application? I'm working on a new package that prevents the need to use forRootAsync in these situations because the equivalent of a ConfigService will already be bound and globally ava

[2020-05-13 11:41] WonderPanda commented on #148
I found the issue. I'll have a new package version published later today just need to update some test cases so this is caught in the future

[2020-05-13 17:06] #148 closed, assigned to WonderPanda

[2020-05-13 17:12] WonderPanda commented on #148
Hey @rigobcastro thanks for reporting this. It should be fixed as of `@golevelup/nestjs-hasura@0.3.3`

[2020-05-13 17:13] WonderPanda opened #150 "RabbitMQ Incorrectly Reports Successful Connection When Connection String is Invalid"

[2020-05-14 17:46] rigobcastro commented on #148
Thanks @WonderPanda for your fix.

I use the configService to storage secret values via environment files trying to comply with methodology https://12factor.net/config. Your idea sounds great let me know if you want a tester.

[2020-05-15 13:19] Hanawa02 opened #151 "[RabbitMq] Allow dynamic subscription to many topics in one subscribe"
I would like to be able to subscribe to many topics in one method, and also to change the topics subscribed to during run-time, is that possible?

![image](https://user-images.githubusercontent.com/11237366/82054463-480db800-96bf-11ea-940d-aa48c954f257.png)

[2020-05-15 13:26] WonderPanda commented on #151
Hey @Hanawa02 currently it's possible to bind a handler to multiple routing keys but not multiple exchanges. I don't think it would be a big change to allow binding on multiple exchanges though so I can take a look at adding that in.

Dynamically changing subscriptions at runtime would be a much bigger undertaking, can you elaborate more as to your use case for this?

[2020-05-18 08:53] Hanawa02 commented on #151
Hey @WonderPanda , thanks in advance for taking a look into this issue.

In my scenario I have a message bus (RabbitMQ server), and its going to collect data from many sources (mainly IOT devices), and for each IOT device connected, it will have a different topic.

The user then will be able to extract some values from this data, for that he will use my app to define the JSON path to extract the v

[2020-05-18 09:02] Hanawa02 commented on #151
I was able to create the subscriptions dynamically this way, but I am not sure if there is any way to remove the subscriptions.

![image](https://user-images.githubusercontent.com/11237366/82194332-eb94dd80-98f6-11ea-92bd-933910f59574.png)

[2020-05-18 13:41] WonderPanda commented on #151
Hey @Hanawa02 thanks for the updated examples. A few things jump out to me here that I think are worth discussing. You are using the term exchange and topic interchangeably which isn't entirely correct. `Topic` is just one of the various types of exchanges and I definitely do not think you should create an exchange per IoT device in your system. A topic exchange can be subscribed to based on [dyna

[2020-05-18 13:59] Hanawa02 commented on #151
I see, we are going to use the Topic type of exchange in the project, maybe I got confused and mixed both words.

Actually the main problem is that my system by itself will not know about the topics, my app is just a component of a big system, so I don't know how many topics we will have, and which, but my app needs to be prepared in the case of many. I just used the temperature/luminosity data as

[2020-05-18 15:14] WonderPanda commented on #148
@rigobcastro If you're still interested in testing the new config service checkout https://github.com/golevelup/ts-ecosystem/tree/master/libs/profiguration

It provides a number of benefits over the NestJS Configuration module that'll help you achieve 12factor:

- intellisense/type safety out of the box (you don't need to do `get<string>(key)` because we already know it's a string)
- exists outsid

[2020-05-20 11:29] n3n opened #152 "[Hasura] Include Option to Specify Trigger Name in Hasura Event Handling Decoration"
Hasura events can have more than one trigger for a schema/table/op. It would be better if the decorator accepts the `trigger.name` as an option, so we don't need to care about schema/table/op.
We can also create an event trigger to listen different column with the same schema/table/op

## Example

[code]

Reference: https://hasura.io/docs/1.0/graphql/manual/event-triggers/payload.html#json-payload

[2020-05-20 11:36] WonderPanda commented on #152
Hey @n3n Thanks for opening this issue, I think this is great feedback and it definitely makes sense that targeting the trigger name would give the user a lot more flexibility for properly subscribing to events.

I'll do my best to spend some time improving this feature this week

[2020-05-24 20:55] #152 closed, assigned to WonderPanda

[2020-05-24 21:01] WonderPanda commented on #152
Hey @n3n this feature as well as the fix that you submitted in #153 have been released and are now available in version `0.4.0`. The docs have been updated to reflect this change as well as I plan to deprecate the schema/table approach in favor of the trigger name and remove it in a future release

[2020-05-24 21:07] WonderPanda commented on #151
Hi @Hanawa02 sorry I missed the notification for your reply. I am still a little bit confused about what the desired use case here is. In the examples that you've provided you are creating subscriptions based on topics or exchanges in your decorators. That means that it can't really be dynamic in the first place since you would have to make code changes and redeploy your application in order to ch

[2020-05-24 21:09] WonderPanda commented on #144
Hey @PedramMarandi were you able to create a reproduction of this issue that I can take a look at?

[2020-05-24 21:09] WonderPanda commented on #125
Closing this in favor of just using the Hasura Trigger Name for routing as it is much more specific. See #154

[2020-05-24 21:09] #125 closed, assigned to nobody

[2020-05-25 03:28] n3n commented on #152
Good!!

[2020-05-25 07:05] Hanawa02 commented on #151
Hi @WonderPanda, no worries!

So far I am able to subscribe dynamically like this, the topics will be retrieved by API from another System:

![image](https://user-images.githubusercontent.com/11237366/82784724-6adb6180-9e61-11ea-9484-ac64185fada8.png)

This is enough for me and its working as I need, when I added the request I didn't had enough knowledge about the way decorators are applied. I thi

[2020-05-25 07:05] #151 closed, assigned to nobody

[2020-05-25 10:48] WonderPanda opened #156 "Integrate Support for Hasura Actions"
[Actions enable custom business logic for Hasura applications](https://hasura.io/docs/1.0/graphql/manual/actions/index.html.). We should find a way to support them in an idiomatic way with NestJS.

It would be worth looking into a [Custom Codegen](https://hasura.io/docs/1.0/graphql/manual/actions/codegen.html) integration that could help people write action handlers in NestJS\/

[2020-05-25 10:53] WonderPanda commented on #119
This needs to be further investigated based on feedback from the community about whether or not having multiple handlers bound to an event is desirable or not. For flexibility it's probably better to have a micro performance hit doing a `filter` instead of a Map so that people can use the Event Handler Bindings as they see fit

[2020-05-25 10:53] #119 closed, assigned to nobody

[2020-05-25 10:56] WonderPanda commented on #156
@n3n The Events plugin exposes a single HTTP endpoint for the user and then allows for automatic routing to the correct handler internally using Decorators with the Trigger Name.

This is an option for Actions as well, however I'm curious if you think that people would prefer to write individual API endpoints for Actions as opposed to having them all flow through one.

Or perhaps we should offer b

[2020-05-26 08:34] n3n commented on #156
@WonderPanda I would say that just decorator with the Action Name, it's enough.

For the people who prefer to write individual API endpoints, we can provide them Guard, Interface.

[2020-06-01 07:31] narimanam opened #157 "Logger for incoming requests"
- [x] feature-request
thanks for this great project.
Is there any way to add a logger to subscribers?
I want to log incoming requests in a default format for all subscribers
I think if an option exists on module configuration for enabling subscriber level logging that would be great.

[2020-06-01 14:05] WonderPanda commented on #157
Hey @nariman-amani what information specifically are you hoping to log from the subscribers? I'd prefer to allow a user to plug in their own logger instead of building it directly into the module.

[2020-06-01 16:31] narimanam commented on #157
@WonderPanda I need to log all of the requests received to my subscribers with information like routingKey or queue. something like morgan for express Rest requests.
I'm currently using my own logger in each subscriber function.
if a solution exists to add middleware to this library that'll be great.

[2020-06-01 17:00] WonderPanda commented on #157
You should be able to use NestJS `Interceptors` to attach common functionality to your handlers. It might be possible for you to share your logging functionality through an interceptor that you apply to your service classes. I'll consider the possibility of adding logging directly to the library but I'm worried that it would be enforcing something too specific

[2020-06-02 04:55] narimanam commented on #157
thanks. I used `Interceptors` to handle logging functionality

[2020-06-02 11:13] WonderPanda commented on #157
Awesome! I'm going to close this for now, feel free to create a new issue if you run into any problems

[2020-06-02 11:13] #157 closed, assigned to nobody

[2020-06-02 15:23] rennenc opened #158 "Ability to set prefetchCount on a single subscription"
From reviewing the interfaces and configurations, you can set the `prefetchCount` only on the `RabbitMQConfig`.

I'd expect it to be available on `MessageHandlerOptions` as well so that we can control the prefetch for each subscription independently.

Is there a way to configure this on the message handler level?

[2020-06-02 15:36] WonderPanda commented on #158
This needs some more investigation as this library is built against `amqplib` and RabbitMQ introduces it's own special handling for prefetch ontop of the AMQP spec:

https://www.squaremobius.net/amqp.node/channel_api.html#channel_prefetch
https://www.rabbitmq.com/consumer-prefetch.html

[2020-06-02 15:39] WonderPanda commented on #158
We do not set the flag globally which means that currently the prefetch count limit is already independent per consumer. I don't see any way with RabbitMQ to be able to specify different values per consumer. If there was a concrete need to be able to do this it appears it would need to be done using multiple different connected channels each with their own prefetch

[2020-06-02 18:30] WonderPanda commented on #158
@rennenc Do you have any experience setting up a prefetch count per consumer separate from the limitations listed above or was this more of a nice to have? I don't think it's particularly actionable at the moment other than we should probably expose an additional config option for the module that allows a consumer to specify whether they want the prefetch to be assigned globally or per consumer

[2020-06-03 22:57] TheoWolf opened #159 "HasuraEventHandler not working"
Hello,
I'm having issues with the HasuraEventHandler decorator, the hasura/events is getting the payload as expected but yet not redirecting it to the correct handler, I'm not sure if I'm doing something wrong so I will put snippets of my code.
For the sake of simplicity, I'm putting the Hasura event handler in the same controller as the Hasura events route.
Please let me know why the code is not

[2020-06-04 03:25] n3n commented on #159
@TheoWolf You need to decorate the method in providers, not in class controller.

[2020-06-04 10:32] TheoWolf commented on #159
@n3n Still not working even after adding a provider with @HasuraEventHandle, is there any other reason why this is not working for me.

How to make sure that my nestjs-hasura module import is working correctly, maybe Hasura is hitting the events endpoint without being processed by nestjs-hasura.

Thanks

[2020-06-04 14:33] WonderPanda commented on #159
@TheoWolf Hey thanks for being an early adopter of the library! I think the issue here is that in addition to including the `HasuraModule` you're also creating your own `HasuraController` which uses the same `hasura` prefix as what you've given in your module configuration. The intention is that the `HasuraModule` dynamically adds its own controller for the purpose of event processing and I believ

[2020-06-04 15:40] TheoWolf commented on #159
@WonderPanda Thank you for your feedback, it was super helpful. Since you mentioned that the Hasura module provides a controller with a ```hasura/events``` endpoint, I just had to remove mine and apparently NestJS was able to merge both controllers. It is not clear in the documentation that the Hasura module provides a default controller with a default implementation of ```hasura/events``` and it

[2020-06-04 15:49] WonderPanda commented on #159
Hey thanks for the feedback @TheoWolf! The first feature from the docs says:

"Exposes an API endpoint from your NestJS application at to be used for event processing from Hasura. Defaults to `/hasura/events/` but can be easily configured"

The intention was to communicate that this happens automatically but I realize that this the way this is worded is a bit ambiguous. I'll update the docs so tha

[2020-06-04 15:49] #159 closed, assigned to nobody

[2020-06-05 20:11] dsfcoll opened #160 "Unexpected return from a matcher function."
I have an issue with `@golevelup/nestjs-testing package`.

I have a test
[code]

And jest throws exception

[code]

But if i replace type to `any`, it works
[code]

[2020-06-08 11:12] WonderPanda commented on #160
Hey @VladStepanov just want to make sure I understand correctly. You're saying that you get this error message when you run the test, but after switching to using `any` the jest error goes away?

Are you able to share a repo or complete code example that demonstrates this behavior? It's really strange if changing a TS type definition causes the test to behave different since the Jest error is a ru

[2020-06-08 12:06] dsfcoll commented on #160
@WonderPanda ofc, https://github.com/VladStepanov/reproduction

[2020-06-10 13:31] WonderPanda commented on #160
Hey @VladStepanov I took a look at your reproduction, there are a couple things I suggest you change. One thing is that you're referencing an old version of the library. It got changed a while back to be called `@golevelup/ts-jest` as it's a generic tool for helping do Jest testing with Typescript and isn't specific to NestJS. The other thing is that you shouldn't use `createMock` to set up the re

[2020-06-10 13:31] #160 closed, assigned to nobody

[2020-06-15 10:43] hoersamu opened #162 "providersWithMetaAtKey and controllersWithMetaAtKey not returning instances properly"
I have i Project where i use Decorators to set functions to be called by a discord.js Client instance

For example the AuthService looks like this:

`@Injectable()
@DiscordPrivateCommand(['password', 'signUp'])
export class AuthService {
    constructor(
		@InjectRepository(UserRepository)
		private userRepository: UserRepository,
	) {}
    signUp = (message: Message) => {}
}`

and the DiscordServ

[2020-06-15 10:55] #162 closed, assigned to nobody

[2020-06-15 16:29] WonderPanda commented on #158
Closing this for now as it's not immediately actionable. Feel free to re-open if there's more information

[2020-06-15 16:29] #158 closed, assigned to nobody

[2020-06-17 06:57] piersmacdonald opened #163 "RabbitMQ package - receiving messages"
I have the following rabbitmq configuration:

This is my subscription function:

[code]

When I try to send message I see this error logged:

[code]

Adding an error handler like this:

[code]

produces this error:

`res.status is not a function`

I can't for the life of me track down if the error is in this package, `@nest/microservices`, `@nest/core`. Any ideas?

[2020-06-18 20:06] piersmacdonald opened #164 "RabbitMQ package - Dependencies"
I am receiving the following error:
[code]
My configuration looks like this:

[code]
and this is the "main" module:

[code]
It appears the `RabbitMQModule` is having trouble building an `AmqpConnection` but I thought that's what it did itself.

[2020-06-19 01:35] #164 closed, assigned to nobody

[2020-07-13 03:04] iampedii commented on #144
@WonderPanda Sorry for my huge delay. I was trying to reproduce the bug but apparently I was mixing some paradigms here.

I'd like to suggest better documentation for error handling. I'm really eager to contribute but I'm not feeling I know if good enough yet.

What I could understand is `errorHandler` is only being called when it's a `RabbitSubscribe`.

Here is my RPC implementation
[code]

By th

[2020-07-13 10:12] dotellie opened #165 "Remove message on RabbitMQ request timeout"
I'm relatively new to the whole MQ thing, not to mention that I usually don't do RPC calls, but I have this one instance where I'm doing them. However, it seems that if the timeout is reached in this library, the promise just finishes and no cleanup is done. The RPC call is still trying to execute which has no use to me as its results are just going to be voided anyway even if it does eventually f

[2020-07-15 15:37] erayalakese opened #166 "Unable to receive from queue"
Hi,

Imported the `RabbitMQModule` in my module like this:

[code]
And in one of my service files:

[code]

The binding exists between `rpc-queue` queue and `exchange1` exchange with the routing key `rpc-route`. But it's never receiving messages from the queue.

I can see the connection in Management plugin Web UI with "running" state, but the consumer list of the queue is empty. Looks like my con

[2020-07-20 12:52] WonderPanda commented on #166
Hey @erayalakese can you please share an example of how you are sending the message?

[2020-07-21 16:53] Saro-DA opened #169 "How to use .env variables in @RabbitSubscribe"
Greetings.

Thanks for this great library.

How can I use my .env variables such as queue name in the @RabbitSubscribe decorator?

[2020-07-21 18:10] WonderPanda commented on #169
@Saro-DA You can use the `@golevelup/profiguration` package to easily consume ENV in a way that allows you to reference configuration values inside your decorators:

https://github.com/golevelup/ts-ecosystem/blob/master/libs/profiguration/README.md

[2020-07-21 18:10] #169 closed, assigned to nobody

[2020-07-21 18:27] Saro-DA commented on #169
Sorry but the documentation is abstract. Is there any example?

[2020-07-23 05:24] rushprint commented on #166
I have same issue.
My question is should I create queue manually? or any options to make it automatically?
I think it would be better providing a working example with the library.

[2020-07-29 18:28] jgoux commented on #156
Hey @WonderPanda , I saw that you made a prerelease including the support for Hasura action 🎆 . Is anything missing?

[2020-07-29 18:58] WonderPanda commented on #156
Hey @jgoux thanks for your interest in the project! The prerelease includes some glue for being able to easily route Actions to specific Service handlers similar to the current Events integration.

However, in working on this I've found a number of limitations in terms of boilerplate on the Hasura side for how Actions and especially the related Custom Types are defined. I'm currently working on a

[2020-07-30 17:20] bbangert opened #170 "Use Stripe EnabledEvent to restrict valid event types"
The StripeWebhookHandler allows an arbitrary string for the event type. Stripe doesn't expose a normal valid list type in my searches. I did find `Stripe.WebhookEndpointUpdateParams.EnabledEvent` which appears to be all the valid event types for webhooks (though it includes `*`, which isn't afaik, but maybe it'd be worth supporting that for methods to match all webhooks?).

I duped the StripeWebho

[2020-08-04 13:41] WonderPanda commented on #170
@bbangert This sounds like it would be an awesome contribution. I'd definitely prefer to have type checked event names. If you want to create a PR I'd gladly get this merged

[2020-08-06 09:48] caio-emidio opened #171 "Package is not in the npm registry"
Hello,

Today I've try to install this pkg and receive this msg:

How i can solve it ?

[2020-08-06 12:27] WonderPanda commented on #171
Hi @caio-emidio you should use the package [`@golevelup/nestjs-rabbitmq` ](https://www.npmjs.com/package/@golevelup/nestjs-rabbitmq). Packages that start with @nestjs-plus are old and no longer maintained since we switched to the golevelup organization

[2020-08-06 12:27] #171 closed, assigned to nobody

[2020-08-10 13:33] #170 closed, assigned to nobody

[2020-08-11 11:00] yogeshkathayat opened #173 "nestjs-rabbitmq: Is there any way to read headers & properties of message in consumer?"
nestjs-rabbitmq: Is there any way to read headers & properties of message in pubsub consumer ?

[2020-08-11 13:58] WonderPanda commented on #173
Hi @yogeshkathayat, the raw message is passed to your consumer as a second argument. If you update the method signature of your consumer to accept `amqplib.ConsumeMessage` as a second argument you should be able to access all information that is available on the original message

[2020-08-11 13:58] #173 closed, assigned to nobody

[2020-08-19 12:04] jayleeman12 opened #174 "Question about message validation"
As specified [here](https://github.com/golevelup/nestjs/tree/master/packages/rabbitmq#type-inference) I understand message validation isn't a part of the built in functionalities. This might be the wrong place to ask (as this is a more of nestjs question), but I'm having trouble understanding how do I use `class-validator` and the nestjs `ValidationPipe` in a RabbitService class.

Any help or guid

[2020-08-28 14:40] GavinRay97 opened #175 "@golevelup/nestjs-webhooks requires "body-parser" module but not present in deps"
Tiny issue, will just throw `module "body-parser" not found` when running until you install it yourself:

https://github.com/golevelup/nestjs/blob/9e256d12303bde74d3b0e81f57804cf05c3a18f1/packages/webhooks/src/webhooks.middleware.ts#L2

[2020-08-28 15:07] GavinRay97 opened #176 "@golevel/nestjs-webhooks `RawBodyMiddleware` and `JsonBodyMiddleware` incompatible with @nestjs/platform-fastify"
The middlewares use the Express `req` and `res` objects.

I spent a good amount of time trying to figure this one out last night, because Stripe explodes on you if the webhook payload format isn't exactly how it wants =/

https://github.com/fastify/help/issues/158
https://github.com/fastify/fastify/issues/1965

According to this thread, you can set this up in Fastify like this:
[code]

So I attemp

[2020-08-28 17:19] WonderPanda commented on #176
Hey Gavin thanks for looking into this! To be honest I haven't spent a ton of time playing with Fastify but it is definitely high on my to do list because the additional performance gains are pretty substantial. I'd definitely be interested in developing working versions of all the golevelup plugins for Fastify.

I'm going to keep prioritizing getting the new Hasura Actions integration ready for p

[2020-08-28 17:21] WonderPanda commented on #175
Nice catch I'll get this listed as a peerDependency for this package so that you're alerted as part of yarn/npm install but I don't think I'll bundle it with the actual module

[2020-08-31 03:15] GavinRay97 opened #177 "Add support for Scheduled Events to `@golevelup/nestjs-hasura`"
Below works:

Addition to `hasura.events.interfaces.ts`:
[code]
Additions to `hasura.module.ts`:
[code]

![image](https://user-images.githubusercontent.com/26604994/91680095-35a57600-eb18-11ea-8df5-19414a0a6a8d.png)

[2020-08-31 03:39] GavinRay97 commented on #177
Submitted with #178

Only problem I had locally was this error, which I had to `@ts-ignore` and couldn't seem to fix:
![image](https://user-images.githubusercontent.com/26604994/91680667-f546f780-eb19-11ea-9ee0-05cc405b0f53.png)

This existed from the get-go though. Not sure what it is, even tried to mirror my `tsconfig.json` to be identical to the one in root.

[2020-08-31 23:24] GavinRay97 opened #179 "Type definition changes between Nest.js versions for `SetMetadata` breaks `@HasuraEventHandler()`"
The following definition from Nest `7.4.3` causes type errors:
[code]

In the version used internally for the `@golevelup` modules (`6.9.0`), the definition is:
[code]

Usage with updated types give the following signature:
[code]

Which throws the errors:
[code]

This can be fixed by explicitly typing the return here:
[code]
Either `any` or `TypedPropertyDescriptor` works (`any` is the current wo

[2020-09-01 03:20] GavinRay97 opened #180 "Toy implemenation for autogenerating Hasura Action metadata from decorator"
I was playing around with RC release and was curious about trying to get an implementation for autogenerating `actions.yaml`/`actions.graphql`/`metadata.json` from `@HasuraActionHandler()` decorators. Might not be the best because it uses GQL SDL strings.

This is a rough working draft I wanted to share in case it's useful at all:
[code]

[code]

And then the usage of `generateActionMetadataFromHa

[2020-09-02 00:57] WonderPanda commented on #180
Hoping to solve this problem using the kickass AST stuff you've been looking into. Ultimately consumers of this library won't have to worry about specifying SDL or a whole bunch of configuration for the Action Handlers this decorator application and it's arguments will be automatically computed and applied during TS transpilation

[2020-09-02 00:57] #180 closed, assigned to nobody

[2020-09-02 00:59] WonderPanda commented on #179
I need to actually start trying to set the repo up so I can properly test and attempt backwards compatibility against different major versions of NestJS... I'm tempted though to just update the dependencies to 7.x as a breaking change and end support for version 6.x though. Wish I had more stats on who was using these libraries in the wild.

Have you ever managed or know good examples of Typescrip

[2020-09-02 01:25] #175 closed, assigned to nobody

[2020-09-02 02:51] #177 closed, assigned to nobody

[2020-09-03 21:40] GavinRay97 commented on #179
Unfortunately not in practice. But in theory, I think you can do it like this with aliases:
[code]

[code]

And you may be able to use an environment variable to dynamically `require`/`import` the package names by version number, so like:
`NESTJS_VERSION="7.4" yarn test`

[code]

[2020-09-21 09:55] hosea3000 opened #187 "when i config errorBehavior = MessageHandlerErrorBehavior.ACK is invalid"
because enum  MessageHandlerErrorBehavior.ACK value is 0

next code is not run as expect

![image](https://user-images.githubusercontent.com/12440083/93753986-99145680-fc33-11ea-933a-9c78dd9c0f68.png)

[2020-10-04 13:53] johnico opened #188 "question about comparing this package to the official nest- multiple exchange/queues"
I have 3 microservices,

**service a**  should  publish to queue in exchange a  and listen to queue in exchange c
**service b**  should listen to routing key from the exchange like "log.*" and publish to exchange b
**service c**  should listen to exchange b and publish to exchange c.

1. can I achieve that in this package?  cause i see that in the current nestjs package i cant define multiple exch

[2020-10-05 17:17] WonderPanda commented on #188
@johnico Yes, you should be able to accomplish this scenario pretty easily. This package allows you to easily define as many exchanges and queues as you want and easily subscribe or publish to them across multiple NestJS apps/microservices.

The lack of flexibility from the official NestJS microservices RabbitMQ implementation is a big part of the reason why this library was created

[2020-10-06 00:51] #187 closed, assigned to nobody

[2020-10-06 00:54] WonderPanda commented on #187
@Syuusuke Thanks for reporting. Fix is available in `@golevelup/nestjs-rabbitmq@1.15.2`

[2020-10-06 01:06] WonderPanda commented on #166
@rushprint You do not need to create the queue manually. There are examples in the docs and in the integration tests for the library

@erayalakese closing this as no actionable information was provided about how the message is actually being sent. If you can provide more information or a small repro that demonstrates your issue feel free to open this again and I'll take a look

[2020-10-06 01:06] #166 closed, assigned to nobody

[2020-10-11 15:16] WonderPanda commented on #188
@johnico Perhaps you might find this recent StackOverflow useful as well as it talks about a similar setup: https://stackoverflow.com/questions/64203140/nestjs-microservices-have-one-clientproxy-to-publish-message-to-any-microservi/64249617#64249617

I'm going to close this for now but feel free to open another issue if you run into specific questions when it comes to implementation

[2020-10-11 15:16] #188 closed, assigned to nobody

[2020-10-15 07:01] johnico opened #191 "wrapping the library in an private npm pacakge"
hi

I am trying to create local npm package lets say called - rabbit-package  ( I need to use it in 5-6 projects, this why I wanted to create a wrapper)

the purpose, for now, is:
1.  to create a Publisher service that will just expose a function to send a message;
2. use the RabbitSubscriber

My issue now is that the app that uses the package wants also the **AMpqConnection**. and also if I injec

[2020-10-15 13:21] WonderPanda commented on #191
Sorry I don't see how I can help with this, it is not an issue with this library. It doesn't make sense to me why you would need to wrap this library with basically identical functionality. If you need an offline version that isn't served over NPM feel free to take the source code from this repo and use it but I don't have the available time to help you diagnose this. Maybe ask a question on Stack

[2020-10-15 13:21] #191 closed, assigned to nobody

[2020-10-17 19:12] johnico opened #192 "Expose isConnected for rabbitmq healthcheck ?"
is it possible to get the isConnected method for healthcheck ?  for example via nest terminus ?

thanks

[2020-10-18 17:46] mariotacke commented on #137
Just ran into this also. It wasn't clear to me, from the documentation, that `allowNonJsonMessages` exists. I dug through the code when I finally found the flag. Until then, I experienced the same issue as @rennenc which worried me. IMO, it is plausible to overlook this flag and cause an "infinite" loop. Ideally, non-JSON parse-able messages should be caught globally (and optionally discarded).

H

[2020-10-18 17:59] rennenc commented on #137
That is correct if you use the default behavior. However, you can use custom serializer and then you gain full control over the serialization process and the exception handling.

[2020-10-18 18:04] mariotacke commented on #137
Gotcha. Do you happen to have a snippet that show-cases using a custom serializer/deserializer? I can't find a reference to it in the docs.

[2020-10-18 18:45] mariotacke opened #193 "NestJS Lifecycle events support / Webpack HMR"
I installed the `@golevelup/nestjs-rabbitmq` package and I'm trying to use it in conjunction with hot module replacement / HMR.

The issue I'm seeing is that the RabbitMQ connection and channel does not get terminated upon `app.close()`. This causes additional connections to be made after reload which results in lingering connections and channels.

Ideally, I'd like for the connection to terminate

[2020-10-18 19:07] rennenc commented on #137
I haven't done so myself, but this seems to be such an example:
https://docs.nestjs.com/microservices/custom-transport

[2020-10-18 21:38] mariotacke commented on #193
For anybody interested, I found a way to do it; probably not as clean as it could be, but it works.

I modified the `AppModule` from above by implementing `OnApplicationShutdown` and calling `close()` on the managed connection. Unfortunately, `AmqpConnection` does not expose the `close()` method from `amqp-connection-manager` (`AmqpConnectionManager`) so I had to resort to an `<any>` type override

[2020-10-19 05:49] johnico commented on #193
@mariotacke hi, is it happen to you only with HMR?  cause as I can see when the app is closed/crashed (process.exit) the connection in the rabbit management are cleared

[2020-10-19 13:58] WonderPanda commented on #193
@mariotacke I think this is a good addition. I'll look at integrating it directly into the RabbitMQ module so that you don't have to manually do it inside of a modified App Module or rely on private member variables

[2020-10-19 13:59] WonderPanda commented on #192
@johnico I like the idea of this. I'll take a look at modifying the library so that it will be easier to provide health style information unless you're interested in taking a crack at it?

[2020-10-19 15:38] mariotacke commented on #193
@johnico, correct, this only happens with HMR since it technically does not "restart" the application and instead hot-reloads the modules.

@WonderPanda, thank you, that would be wonderful!

[2020-10-19 16:21] WonderPanda commented on #193
@mariotacke Out of curiosity what version of the library are you using? There has been a `getter` on managedConnection for quite some time now:

[code]

So you definitely shouldn't need to cast the connection as `any` in order to get your current solution to work. Either way I'll incorporate shutdown logic directly into the Rabbit module but just wanted to make sure you weren't running on a super

[2020-10-19 22:00] mariotacke commented on #193
@WonderPanda, I'm on `1.15.2` and just checked: sure enough, I can use the exposed `managedConnection` instead. For some reason I did not notice the getter when I looked through the source. 🤷🏻‍♂️ Thanks for the tip!

Just for reference, this is what I am doing now:
[code]

[2020-10-20 06:28] johnico opened #194 "How to ack message after writing to Database"
I have a subscribe that receive the message, then I need to write the message to the DB and then send another message to the queue

my question is how the ack the message after i finished with database actions

as far as I see in the docs the new Nack(true). is the smth I am looking for?

so if the database action has been failed, should I return new Nack(true). , for requeueing  ?

thanks

[2020-10-20 06:29] johnico commented on #192
@WonderPanda would love to, but I am not sure to find time to do that in a reasonable time :)

[2020-10-20 21:33] WonderPanda commented on #194
@johnico By default, the message will be acked as soon as your handler has finished executing. So assuming the DB operation succeeds you don't have to do anything. Under normal circumstances you do not need to manually ack.

If you want to requeue on error you can just wrap your operation in a `try/catch` and return `Nack(true)` from the handler

[2020-10-20 21:33] #194 closed, assigned to nobody

[2020-10-21 13:52] ArnonAfriat opened #195 "Messages from web UI does not reach RabbitSubscribe"
I have a service with the simple handler configuration:
[code]

When the applications starts, I can see in the rabbitmq web interface:
1. New connection has been created
2. New exchange has beed created

I generate the expected queue manually in the ui and bind it properly to the exchange.
When publish message from the web interface, with the proper configurations, I see the data in the queue but,

[2020-10-21 14:44] WonderPanda commented on #195
What do the messages look like that you're publishing through the UI? Are they in JSON format? The default configuration for handlers expects that messages will be proper JSON payloads otherwise they will not be passed to the handler

[2020-10-21 15:12] ArnonAfriat commented on #195
Yes it is proper JSON payload.

[2020-10-21 15:37] WonderPanda commented on #195
Can you please share the exact message contents that you are publishing through the RabbitMQ UI just so I can double check it?

[2020-10-22 09:09] ArnonAfriat commented on #195
Update:
As part of debugging, I install pika package for python and wrote a simple script for consuming messages based on the rabbitmq manual.
connection = pika.BlockingConnection(pika.ConnectionParameters('localhost'))
[code]
I accidentally ran this script before adding the 'channel.start_consume()' loop, and all of a sudden, everything is fine - messages sent from either Nest publisher or web ui

[2020-10-24 06:10] johnico opened #196 "Testing rabbitmq with amqp mock library"
HI

I am trying to figure out how do I run testing via mock , looking for in memory rabbit/amqp library
it means that in part of my integration test I want to establish in memory amqlib mock that the library can work with

the mock will get a real connection string and then all the rabbit interface will be via mock.

i Checked the integation folder here in the golevelup but it seems like it create

[2020-10-24 14:45] johnico commented on #196
Find a solution using docker-compose
Thx

[2020-10-24 14:45] #196 closed, assigned to nobody

[2020-10-25 17:58] #193 closed, assigned to nobody

[2020-10-25 19:08] johnico opened #198 "Bug (?)- Rabbitmq restarting without throwing or log a message while publish to exchange that does not exist"
while trying to publish to an unknown exchange  I see a restarting message like :

[code]

and the rabbit lost his connection and connect again,
I guess it is a good behavior but there is no error or error handling for that

code from my controller
[code]

even with Try/catch, i don't get any data/exception

[2020-10-26 12:43] johnico opened #199 "Infinite loop while throw Exception From service"
Found a bug while throw an exception from service with function that subscribe to a queue

reproducue:

1-  add the following function

I have a service with the following function 👎

[code]
or

[code]

2. send message via ui managment for example : {"test":"message"}

result: infinite loop  ( event id its wrap by if)

stack trace

[code]

I thought it because of the interceptor but also cancel it

[2020-10-27 08:25] itzahi commented on #199
Hi
For error handling you can use the errorHandler

[code]
that works for me

in addition you can create a custom handler like : ReplyErrorCallback

example for a custom one :
https://github.com/golevelup/nestjs/blob/master/integration/rabbitmq/src/rpc/reply.error.callback.ts
the custom one can help you for logging and extra logic

[code]

[2020-10-27 12:18] WonderPanda commented on #199
@itzahi Thank you for helping to answer this. Providing an `errorHandler` is the correct way to deal with this situation

[2020-10-27 12:18] #199 closed, assigned to nobody

[2020-10-28 10:46] johnico opened #200 "rabbitmq - retries connection attempts"
HI
is there an option to support retries connection?
means that the service will try to reconnect rabbit by config params for example:

`retryAttempts : 10`
`retryDelay : 10000` /ms

[2020-10-29 15:23] rennenc commented on #173
Would be great to have this appear in the documentation.

[2020-11-02 12:07] akalitenya opened #201 "register RPC handler based on a condition"
Thank you for this library!

I need a way to specify (through ENV variables) which RPC handlers to register for a specific app instance:
- Docker instance 1: handlerA, handlerB
- Docker instance 2: handlerB, handlerC

I read about Conditional Handler Registration, but It seems like it can only register all handlers or none of them.

[code]

Maybe there is a way to create/import separate Service (t

[2020-11-13 05:41] szlori opened #202 "Incorrect subscriber handle called"
This seems like a bug or a wrong usage on my side, please let me know if you experienced something similar.

We have a topic exchange with different microservices sending events to an audit log service.
In the audit log service we have an `@Injectable()` subscriber class with several `@RabbitSucribe()` handlers, designed to handle different types of events based on `routingKey`.

The routing key i

[2020-11-16 14:55] ssilve1989 opened #203 "RabbitMQ: Connection Resiliency functions in unexpected manner"
# Current Functionality

Currently it looks like the only way connection resiliency is supported is through setting `wait: false` on the `connectionInitOptions`. This results in the Nest service reporting that it has been successfully bootstrapped even though a Rabbit connection may have not been established. This results in application lifecycle events, like, `onApplicationBootstrap` being trigge

[2020-11-16 16:42] ssilve1989 commented on #192
I recently just created something like this to verify the health of the connection. It hasn't been thoroughly tested yet but seems to work thus far.

[code]

[2020-12-06 12:06] chromey opened #204 "Interceptors don't play nice with @RabbitSubscribe"
I ran into the same issue as #53 and also created a small repo to demo the problem: https://github.com/chromey/rabbit-issue

Basically, when using global interceptors, they will intercept methods annotated with `@RabbitSubscribe` and mark the `ExecutionContext` as type `http`. `context.switchToHttp().getRequest()` and `getResponse()` even return objects, but they are lacking methods defined in the

[2020-12-07 15:05] WonderPanda commented on #204
Is the logging interceptor in your example indicative of the type of global interceptor you're using in your actual app? Can you add some custom code to simply skip the logic in the interceptor based on the nature of the handler?

[2020-12-07 16:08] WonderPanda commented on #202
@szlori Is it possible for you to share a repo that contains a reproduction of this issue?

[2020-12-07 16:31] WonderPanda commented on #202
@szlori Also, what is the value for the `queue` that you're setting up in each of the `RabbitSubscribe` decorators? Does each one have it's own unique queue name?

[2020-12-07 23:53] WonderPanda commented on #202
@szlori I've added additional integration tests that cover your setup and have been unable to reproduce this issue. I suspect that you're reusing the same queue name across multiple `RabbitSubscribe` decorator configuration which will indeed make it possible for different messages to end up at different handlers. In general most applications would want to have a unique queue per subscriber

Please

[2020-12-07 23:55] WonderPanda commented on #201
@akalitenya RPC and Subscribers will only be discovered if they are part of Services that are actually included in a module. You should be able to conditionally include your Services/Injectables in the `providers` array of your module configuration based on ENV. I think this would be the easiest way to accomplish what you're asking.

Let me know if this will help your use case

[2020-12-08 00:10] WonderPanda commented on #204
@chromey Does this fix your use case? You can easily add small conditional logic inside your Interceptor based on the handler so that HTTP request are treated separately from messages coming through RabbitMQ. Try updating the code in your Logging Interceptor to this:

[code]

[2020-12-08 00:15] WonderPanda commented on #53
@4haohansen2033 Please see the workaround in #204

[2020-12-08 00:51] WonderPanda commented on #204
Added a utility to the library so that you don't have to duplicate the logic above. Docs are here: https://github.com/golevelup/nestjs/tree/master/packages/rabbitmq#usage-with-interceptors

It is available in `@golevelup/nestjs-rabbitmq@1.16.0` on NPM

[2020-12-08 05:38] akalitenya commented on #201
Thank you!
I will try this approach.

[2020-12-08 05:38] #201 closed, assigned to nobody

[2020-12-09 20:21] rennenc opened #207 ""Killer" message causing the service to disconnect from rabbitmq while trying to process the message"
I'm using
"@golevelup/nestjs-rabbitmq": "^1.15.2"
"amqp-connection-manager": "^3.2.0",
"amqplib": "^0.5.5",

I am experiencing a phenomenon where particular large messages are causing my nestjs service to disconnect from rabbitmq. After a few seconds it then reconnects, fails again and disconnects, and so on forever.

I am sending messages from a python service to my NestJs service over rabbitmq.

[2020-12-09 21:18] chromey commented on #204
@WonderPanda Thanks a lot, that's just what I needed! I had another workaround in place that basically checked the prototype of the request object for the existence of certain HTTP methods, but this is a lot cleaner and more expressive. Thanks again.

[2020-12-09 21:20] WonderPanda commented on #204
Awesome! Glad to hear that this helped you out

[2020-12-09 21:20] #204 closed, assigned to nobody

[2020-12-10 13:16] Sikora00 commented on #202
I'm facing simillar issue but with rcp.
https://github.com/Sikora00/nodejs-rabbitmq/tree/bug-report

[2020-12-10 13:50] WonderPanda commented on #202
@Sikora00 You have the same issue that I mentioned in my most recent comment in this thread. You're re-using the same queue name across multiple handlers:

[code]

This is a fundamental part of how RabbitMQ works, if you attach multiple handlers to the same queue then they will all get messages. You should use a unique queue per RPC. RabbitMQ is built to scale to a huge number of queues

[2020-12-10 14:00] Sikora00 commented on #202
@WonderPanda So what is the purpose of using routingKey either?

[2020-12-10 14:19] WonderPanda commented on #202
@Sikora00 Please review the RabbitMQ patterns documentation around message routing and exchanges. Both of these two links are very valuable in understanding how things work under the hood when it comes to these concepts. Don't worry about the code samples since `@golevelup/nestjs-rabbitmq` abstracts away most of that for you. What is important is that you take a look at the diagrams and concepts b

[2020-12-11 01:59] ajayprasad1982 opened #208 "how to configure mutilple connections(channel) from single consumer in @golevelup/nestjs-rabbitmq .i.e. set maxconcurrentConsumers and concurrentConsumers"
With current implementation ,we do not have option to configure maxConcurrentConsumers and concurrent Consumers for consumer.One consumer has only one connection in RabbitMQ as cited screen shot
![image](https://user-images.githubusercontent.com/13506045/101851453-96196a00-3b81-11eb-8e8c-33e7cf05909d.png)
code snippet as  below

[code]

but the expected behavior would be able to set the concurrent

[2020-12-12 23:07] micalevisk opened #211 "ts-jest not working properly when mocking falsy values"
Great lib!
but I think the tests in `(2)` below should pass, right?

[code]

but I'm getting this error:
[code]

Note that if using methods that returns falsy values works as expected -- which could be a workaround for now I guess.

### Environment

[code]

[2020-12-12 23:20] micalevisk commented on #211
basically this happen due to the condition on L37 bellow:
https://github.com/golevelup/nestjs/blob/00b2fd231a6b8e883bf5f6b18d897f55d2d09a82/packages/testing/src/mocks.ts#L35-L43
because `checkProp ?` will be evaluated to `false` when `obj[prop]` is a falsy value.

So if you change that to something like
[code]
it works as expected :smile:

the same applies to this snippet:
https://github.com/golev

[2020-12-13 14:01] Sinmson commented on #211
I don't think that this works "as expected".

Is there a reason to not change it like @micalevisk suggested?

[2020-12-13 16:31] WonderPanda commented on #211
@micalevisk Thanks for catching this and for the clear repro

[2020-12-13 16:35] #211 closed, assigned to nobody

[2020-12-13 16:38] WonderPanda commented on #211
This is fixed in the new package version:
`@golevelup/ts-jest@0.3.1`

[2020-12-14 16:58] WonderPanda commented on #202
I'm closing this for now because it works as intended based on the underlying RabbitMQ implementation. If there are additional issues related to this feel free to open or create a new issue

[2020-12-14 16:58] #202 closed, assigned to nobody

[2020-12-14 16:59] #195 closed, assigned to nobody

[2020-12-15 17:36] dvirarad opened #213 "support secured connection The "amqps" URI scheme"
The "amqps" URI scheme is used to instruct a client to make an secured connection to the server.

My MQ server is listing both to amqp and amqps protocols.
When I am trying to connect with the amqps protocol at my URI I can't connect to my MQ server.
In my Object RabbitMQConfig I return `{uri: amqps://uri:password@host-mq:5671}` I can't connect
but in case the `{uri: amqp://uri:password@host-mq:56

[2020-12-16 06:38] dvirarad commented on #213
Find the solution thanks to @lihaibh
update the `RabbitMQConfig` with `connectionManagerOptions`
`{
    exchanges: exchanges,
    uri: amqps://uri:password@host-mq:5671,
    connectionManagerOptions: {
      connectionOptions: {
        rejectUnauthorized: false,
      },
    },
  }`

[2020-12-16 06:38] #213 closed, assigned to nobody

[2020-12-16 16:51] dzanfardino commented on #174
I'm trying to figure this out too, @jayleeman12 have you made any progress?

[2020-12-18 07:13] akalitenya commented on #201
@WonderPanda
It works!

[2020-12-21 10:01] Moonnz commented on #174
Hello, i'm working on dto validation too, but ValidationPipe (like all pipes) work only inside controllers with Http methods or Microservices method (from official nestjs package microservices), i'm thinking of an equivalent interceptors or guards.

[2020-12-22 17:21] rennenc commented on #207
Hi team,
I'm not sure what's the desired method to report issues. I find this to be a pretty critical one and would be happy to get an acknowledgement that this didn't go under your radar.

[2020-12-22 18:25] WonderPanda commented on #207
Hi @rennenc
I apologize for not acknowledging this issue sooner. I could have done a better job in letting you know that it had been seen. Opening Github issues is definitely the preferred way of reaching out for this kind of thing.

That being said, there is currently no team behind this project. I'm a single developer maintaining all the packages in this repo and I have lots of obligations for m

[2020-12-22 19:25] productdevbook opened #215 "@golevelup/nestjs-hasura sample app"
Can you make a sample demo? Thank you
@WonderPanda

[2020-12-22 20:01] WonderPanda commented on #207
@rennenc Can you please provide some additional information? Is your consumer using `@RabbitSubscribe` or is it using `@RabbitRPC` to return a response to the publisher of the message?

What type of workload is being performed when you receive the message?

I just set up a quick app and published your killer message through it and it worked just fine without any errors. Maybe something is timing o

[2021-01-04 19:35] MarianaPyrih commented on #96
Hi.
Who can help how better to call waitForConfirms(function(err) {...}) on created channel?
Public channel of AmqpConnection is defined with amqplib.Channel type, but is ConfirmChannel

[2021-01-05 13:32] WonderPanda commented on #96
@MarianaPyrih At the moment I think you should be fine to just cast it using Typescript. I'll look into changing the exposed types in the next release

[2021-01-05 19:23] MarianaPyrih commented on #96
@WonderPanda Thank you, that's exactly what I did. I just thought, maybe I needed to go in a different direction to get this functionality, so I decided to ask again.
Also, probably, will be good to add callback as  additional optional argument for `publish` method in connection.ts and pass it to channel.publish, as confirmChannel supports. It will allow to handle case, when each published message

[2021-01-08 09:36] mabuonomo commented on #23
hi @WonderPanda  are there any updates on this issue?

[2021-01-08 14:27] WonderPanda commented on #23
@mabuonomo Interceptors definitely work and are flexible enough that they can represent pretty much any of the other enhancers.

Is there specific functionality that you would like to integrate?

[2021-01-08 16:03] mabuonomo commented on #23
@WonderPanda, thankyou for your quick reply, yes the interceptor works very well, but I have some problem with the custom decorator.

For example:

[code]

[code]

The decorator ReportMessage is never called, the message object contains all request data and not only msg object.

[2021-01-08 16:25] WonderPanda commented on #23
@mabuonomo I'm not sure off the top of my head whether or not it will be easy for custom decorators to be used when processing incoming messages.

However, what you are showing in your custom decorator will never be possible as RabbitMQ does not use an HTTP Context for message passing

[2021-01-08 16:36] WonderPanda commented on #207
@rennenc Happy new year! Hopefully you had the chance to rest and relax. Just wondering if there is any additional information that might be available to help deal with this issue?

[2021-01-09 02:25] akoidan opened #217 "RabbitMQ RPC nack doesn't reject the promise"
With nestJS rabbit MQ I use RPC from one server to another one. What I basically want is `await this.amqpConnection.request` to reject the promise when the consumer throw an error. As I understand from [this](https://www.rabbitmq.com/dlx.html) and [this](https://stackoverflow.com/a/28817796/3872976)  and [this](https://www.rabbitmq.com/amqp-0-9-1-quickref.html#basic.nack) documentation when you **

[2021-01-11 14:24] vKolerts opened #218 "RabbitSubscribe/RabbitRPC routingKey ignored"
[code]
  This handler catch all routing keys at queue
Output #1:
[code]
Output #2:
[code]

[2021-01-11 14:31] WonderPanda commented on #218
Do you have any other subscribers in your app? Have you used the same named `queue` in more than one spot?

[2021-01-11 14:34] vKolerts commented on #218
yes, I have two apps with subscribers to different  routingKeys on the same queue

[2021-01-11 14:39] WonderPanda commented on #218
If you re-use the same named queue then all subscribers using that queue have the possibility of receiving messages regardless of which routing key they are bound to on the individual subscribers. This is the expected behavior or RabbitMQ and has nothing to do with this library.

You're basically saying "Send all messages from both of these routing keys to the same logical place".

The subscriber

[2021-01-11 15:27] vKolerts commented on #218
ok, thanks

[2021-01-11 15:27] #218 closed, assigned to nobody

[2021-01-16 16:00] WonderPanda opened #219 "Hasura Metadata generation can cause unwanted diffs"
When writing out metadata using `js-yaml` the ordering of properties is different compared to what is generated by Hasura.

In order to address this logic will be added to only write out metadata if an actual logical change has been detected in one of the managed objects instead of doing it proactively every time the module is booted up

[2021-01-16 20:36] WonderPanda commented on #219
It turns out that we can get 99.9% of the way there by just explicitly constructing the Javascript objects with the same key order as what is generated by Hasura,

The only difference now is in how multi line strings are managed. js-yaml uses the `>-` prefix. Its not clear yet whether its worth spending time trying to correct this

[2021-01-16 20:51] WonderPanda commented on #217
@akoidan None of the links that you've provided mention returning message for negative acknowledgement in an RPC scenario. You have the option to use a Dead Letter Queue for nacked messages, however this will be different from the direct reply queue which is used to handle RPC so it will not show up automatically back at the requester.

If you need to return error information from the consumer to

[2021-01-17 17:01] akoidan commented on #217
@WonderPanda what's is the common pattern when error is thrown on the consumer? I couldn't seem to find any information about RPC communication in this case.

From my understanding when an error happens on the consumer. The provider should be always notified with this information. Waiting for another TIMEOUT_SECONDS should not be the case.

[2021-01-18 18:42] WonderPanda commented on #217
I think there might be some confusion about how RPC is working under the hood. There is no persistent connection between the producer and the consumer. Think of it like a mail system. The producer sends out a message with a request for data. It doesn't maintain a connection waiting for a response, it just includes a return address where a response can be eventually sent to. If the consumer never r

[2021-01-18 18:50] WonderPanda commented on #207
Feel free to open this back up again if there's any more information available to go off of. Right now it isn't actionable

[2021-01-18 18:50] #207 closed, assigned to nobody

[2021-01-18 21:10] akoidan commented on #217
@WonderPanda ok thank you for the answer. As I understand in rabbit RPC best practice it's not required to send a message.

However with the RPC pattern usually means there's a forward and backwards communication. Despite implementation encapsulated under it doesn't maintain the persistent connection the RPC API provided to the end user should fully abstracted from it. When you send an http reques

[2021-01-18 21:10] #217 closed, assigned to nobody

[2021-01-19 13:53] WonderPanda commented on #217
@akoidan Thanks for sharing your implementation. I guess the point that I was trying to make is that this library is intentionally flexible when it comes to how people want to handle their own errors. Your approach might work great for some users but be a big design issue for others depending on the nature of their application. For this reason I've left it up to people to implement their own.

If

[2021-01-19 13:58] WonderPanda commented on #163
@piersmacdonald I realize that this is is a super old issue. I apologize for not replying to it sooner. Based on the stack traces that you've shared my guess would be that you have a globally bound Interceptor that is attempting to do something with an HTTP request.

There's relatively new functionality and docs about this situation as other people have run into it before. See https://github.com/g

[2021-01-19 13:58] #163 closed, assigned to nobody

[2021-01-26 11:05] dvirarad opened #221 "inject AmqpConnection in my service"
Hi
I have issue when I am trying to connect to
This is my module that connects to RabbitMQ
`
@Module({
  imports: [
    RabbitMQModule.forRootAsync(RabbitMQModule, {
      useFactory: async (config: ConfigService) => {
        const exchanges = await getExchanges(config);
        return getRabbitMQConfig(exchanges, config);
      },
      inject: [ConfigService],
    }),
  ],
})
export class AmqpS

[2021-01-26 17:22] twigs67 opened #222 "Can you provide an example of the webhook or further explain in the docs"
Hello,

Using this as a service does not seem to be working.
[code]

I'm able to change the webhook secret key and the request still goes through. Also, I can't find `StripeEvent` is this a stripe type?

[2021-01-26 19:38] htndev opened #223 "[RabbitMQ] Strange behaviour of @RabbitSubscribe"
When I use a few ``@RabbitSubbscibe``, it has strange behavior.
Handler 1.
![image](https://user-images.githubusercontent.com/29665511/105895449-34706a80-601e-11eb-841d-1cad51501c63.png)
Handler 2.
![image](https://user-images.githubusercontent.com/29665511/105895550-51a53900-601e-11eb-8f2a-8db52e41a62e.png)
When I am publishing a message, it reacting one by one, *BUT* it has different routing key

[2021-01-26 19:43] htndev commented on #223
One more comment.
If I subscribe on 2 different queues, it will work fine.
From the [documentation](https://github.com/golevelup/nestjs/blob/master/packages/rabbitmq/README.md#competing-consumers), I got that If I want to avoid this behavior, I don't need to provide a ``queue``option.
Why does round-robin apply to different routing keys?

[2021-01-27 20:33] klesun opened #224 "Does this lib support rabbitmq Consitent Hash Exchange?"
Hi, thanks for your work. Did not find related discussions in the issues so rising a new one.

I take it [the lib](https://github.com/golevelup/nestjs/tree/master/packages/rabbitmq) exposes the _Routing_ and _Exchanges_ functionality that was not exposed in default Nestjs support classes due to [protocol generalization](https://github.com/nestjs/nest/issues/1382). Does the lib also allow to expres

[2021-01-29 01:38] theabuitendyk opened #225 "One handler bound to multiple exchanges"
Hello 👋 I'm working on adding support for message retries to my queues. I'd like to use the errorHandler to catch errors and publish the message to a delayed message exchange so that I can space out the retries. If I have one handler for the initial process attempt and another for the retries I end up with a lot of duplicated config & retry logic that I'll need to keep in sync.

Are there any plan

[2021-01-29 01:45] WonderPanda commented on #224
Hey @klesun. I've never used hash exchanges myself but in theory it should work.

This library definitely does not restrict you to using a single queue per exchange. It's recommended that you would have many queues if you're really going to adopt RabbitMQ as a central message bus in your architecture.

When you use either the `RabbitRPC` or `RabbitSubscribe` and include a named queue property the

[2021-01-29 01:49] WonderPanda commented on #225
Hey @theabuitendyk this is definitely a common ask from the community. I've had it on my radar for a long time now to take a look at improving the error handling and retry scenarios but I think it would make a lot of sense to tackle this with some breaking changes and release a 2.x version that addresses this and a number of other architectural improvements at the same time.

Would you be interest

[2021-01-29 02:20] theabuitendyk commented on #225
@WonderPanda Thanks for the quick response! That sounds great and I'd be happy to join the discussion. I'll try to find some time over the weekend to think about a reasonable interface for retries.

Out of curiosity what are the other main architectural improvements?

[2021-01-29 02:25] WonderPanda commented on #225
Other than error handling and retry logic the main ones that have been brought up are allowing for a more pluggable design around message parsing/serialization/deserialization/validation.

The current API made a lot of assumptions around JSON messages being a standard and so I had to tack on functionality for other patterns in a way that wasn't as composable as I would have liked to avoid making a

[2021-01-29 02:28] WonderPanda commented on #225
Just created an official discussion to talk about this further https://github.com/golevelup/nestjs/discussions/227

Please feel free to put in any thoughts or ideas you have about what the ideal interface for you would look like for the problems you're currently trying to tackle!

[2021-01-29 14:38] klesun commented on #224
Thanks for the reply!

I guess yes. My use case is that I have a configurable number of queues, currently 64 of them, each with it's own consumer, but they all are bound to same handler function: defining each of those 64 queues manually with separate `@RabbitRPC()` function is not an option for me, since in such case I would have to add/remove functions each time our devops changes the number in

[2021-01-29 18:16] WonderPanda commented on #224
Thanks @klesun I am definitely interested in hearing more about the results of your investigation and am open to adding functionality directly to the library to make your scenario easier to accomplish.

Out of curiosity are you going to be doing horizontal scaling of the NestJS applications that will be consumers from these queues? Otherwise I'm not sure I see the benefit of having hashed queues a

[2021-01-29 18:21] WonderPanda commented on #223
It's important to understand that in RabbitMQ a `queue` is its own destination for messages. A queue can be bound to multiple routing keys and even multiple application subscribers. When you re-use the same queue across multiple routing keys any messages sent to any of the matching routes will arrive at your handler.

This is a common point of confusion with people new to RabbitMQ so I might try a

[2021-01-29 18:34] htndev commented on #223
@WonderPanda thanks for your explanation! I want you to answer my question: If I create a consumer without providing a ``queue``, will my messages store after disconnect? (exclusive queue)

[2021-01-29 18:40] klesun commented on #224
Yeah, we have a bunch of clusters to which we want to delegate the jobs in the most efficient manner we can. Not sure it will work exactly same way I describe, we are still discussing options with the team, one of them is splitting these 64 queues: few own queues for each cluster, similar to your suggestion. Though I'm more looking towards having each cluster consume all these 64 queues and add so

[2021-02-01 11:27] igorz24 opened #228 "How to set response message contentType from rpcHandler?"
Hi,

I'm integrating two microservices written in NodeJS and Java. I have trouble in making both communicate, because Spring AMQP handler expects to receive "application/json" message from Node RPC Handler. As far as I understand it, the content actually is buffered as a JSON message, however, I cannot set the appropriate header for the returned message.

I would like to be able to set the headers

[2021-02-01 19:55] linus1412 commented on #156
Did the actions work ever progress? Seems a perfect fit.

[2021-02-01 22:04] WonderPanda commented on #156
@linus1412 To be honest this has fallen onto the backburner a bit lately. For my own projects I've been opting to go with using NestJS GraphQL capability and using the Remote Schema option to write custom business logic instead. It feels a bit more idiomatic and there is much less stuff that needs to be specially code generated.

If you and others are still interested in this though I could consid

[2021-02-01 22:07] WonderPanda commented on #228
It isn't really possible to do this today. I'm starting to consider the roadmap for v2.0 which might fix this and a lot of other issues. Please consider sharing some ideas you have for how you would like this feature to work over at https://github.com/golevelup/nestjs/discussions/227.

Some ideas that come to mind:
- should it be a new function that you add to the decorator?
- would you like to re

[2021-02-01 22:09] WonderPanda commented on #225
Closing this in favor of having a continued discussion with the community over in #227

[2021-02-01 22:09] #225 closed, assigned to nobody

[2021-02-01 22:26] WonderPanda commented on #223
@htndev If you do not provide a queue name, a random queue name will be assigned to your handler while NestJS is bootstrapping. This means that if your application is restarted it will create a new random queue to use. For this reason it is strongly encouraged that you always provide a logical queue name so that the same queue can be attached back to the handler on each application restart.

In th

[2021-02-01 22:26] #223 closed, assigned to nobody

[2021-02-01 22:41] WonderPanda commented on #222
@twigs67 Are you able to create a small example reproduction of the webhook secret not being validated?

Event payloads are available from the `stripe` package. I should update the docs to show this better but you should be able to get type safety like this:

[code]

[2021-02-02 00:46] WonderPanda commented on #221
@dvirarad If you are manually wrapping around the built in RabbitMQ Module you need to add `RabbitMQModule` to the exports array of your wrapper module. Then all modules that import your wrapper will have access to `AmqpConnection`

[code]

[2021-02-02 00:46] #221 closed, assigned to nobody

[2021-02-02 10:47] linus1412 commented on #156
Thanks @WonderPanda,

TBH I'm looking for best practice here and maybe what you described above it is.  My particular requirement is this:

I want my front end JavaScript app to be able to update multiple tables in one go and fire some business logic.  It seemed a good idea to get the web app to call a Hasura action that gets mapped through to Nestjs.  Inside Nest I would perform business logic, w

[2021-02-02 13:07] WonderPanda commented on #156
Yes this type of thing works really well with the Remote Schema functionality provided by Hasura. You would implement your custom business logic in NestJS and expose it over its own GraphQL server which can then be stitched together with Hasura's. Inside NestJS you can touch as many tables as you like using an ORM of your choice or even just using Hasura on the backend to execute your custom logic

[2021-02-02 14:21] igorz24 commented on #228
I'll join the conversation and move the discussion there.

[2021-02-02 14:21] #228 closed, assigned to nobody

[2021-02-02 22:29] linus1412 commented on #156
Thanks for the walk through, I look forward to your demo when you find the time.

[2021-02-03 17:14] fabricemathis opened #229 "RabbitMQ: pass message headers to amqpConnection.request()"
I'm surprised that it is possible to pass message headers through `amqpConnection.publish`, with the help of the `options` parameter, but not through `amqpConnection.request`.

Is it something that was specifically avoided, or is it just that there was no particular demand for this ?

[2021-02-03 18:27] klesun commented on #224
As promised, here is my update: I ended up writing my own implementation of [`ServerRMQ`](https://github.com/nestjs/nest/blob/master/packages/microservices/server/server-rmq.ts) and [`ClientRMQ`](https://github.com/nestjs/nest/blob/master/packages/microservices/client/client-rmq.ts). I was half-way of finishing them when I opened this ticket, but had a small hope that the functionality for working

[2021-02-03 18:27] #224 closed, assigned to nobody

[2021-02-04 17:15] neilime opened #230 "[RabbitMQ] How to handle the "reply-to" message from a published message"
Hi,

I cannot find in the documentation / issues how to retrieve the replyTo message of a published message.

Here is the service that publish the message, it works good.

[code]

The message is processed by RabbitMQ. Later an external service is consuming that message then publishes the response in the right reply-to queue:

[code]

How am I supposed to retrieve this message (`{"result": "ok"}`)

[2021-02-04 18:20] WonderPanda commented on #230
It looks like you're implementing your own version of RPC using your own `replyTo` this is fine, but on the consuming side you should use `@RabbitSubscribe` instead of `RabbitRPC` to receive the response from your external service.

Alternatively if your external service is using the direct reply to functionality of RabbitMQ you can use

[code]

instead of using `publish` so that your service will

[2021-02-04 18:22] WonderPanda commented on #229
No particular reason, just a lack of demand. This will be addressed as part of [the roadmap for v2](https://github.com/golevelup/nestjs/discussions/227)

[2021-02-05 11:58] fabricemathis commented on #229
Good news ! Thanks for your answer ! 😃

[2021-02-05 11:58] #229 closed, assigned to nobody

[2021-02-08 20:00] tataqwerty commented on #23
Hi @WonderPanda what about injection scoped (especially interested in `request` scope). Like somehow trigger `amqpConnection` dependent services and controllers to be reinstantiated?

[2021-02-08 20:15] WonderPanda commented on #23
@tataqwerty Can you please elaborate on your use case? Messages received over RabbitMQ are not tied to an HTTP request so it doesn't really make sense to ever try and make them request scoped. I don't even think it would be possible from a technical standpoint.

Everyone's app is different though so if you have a specific use case where this is important please share it here

[2021-02-09 12:21] priyankinfinnov commented on #98
Is there a way to register dynamically on the fly @WonderPanda @theabuitendyk ?

Context: I am writing a e2e/integration test for a distributed system. And i want to hold the queue consumer for some time. So i can use `registerHandlers` flag but when i want them to be executed how do i register dynamically via code?

[2021-02-09 13:05] WonderPanda commented on #98
@priyankinfinnov You can inject the `AmqpConnection` and interact directly with it to register subscriptions/rpc etc

[2021-02-09 18:18] Setitch opened #231 "[Question] Is it possible to just define connection without queues/exchanges and then define them later?"
I want to make application (which will be growing) and i dont know each exchange nor queues each module will use. I would love to define some basic queues/exchanges but i would love to be able to add them (define) at later time (onModuleInit for example). Is there a way to do this now?

[2021-02-12 15:17] neilime commented on #230
Thank you for this answer

[2021-02-12 15:18] #230 closed, assigned to nobody

[2021-02-15 18:40] underfisk commented on #231
You can provide an empty array, yes but if it tries to connect it would not be able to because there is no exchange therefore i advise you to create a default exchange and use it anytime you need
Now if the question is related to defining later, you can define later using amq connection (after injecting it)
Another alternative is to use a factory for the module using forAsyncRoot

[2021-02-16 15:05] AmadorSV opened #236 "Problem with interceptor and amqpConnection.publish"
Hi,

I'm in the need of encrypt and decrypt a part of the message when sending and receiving a message. I made an interceptor to accomplish this, my problem is that when I use amqpConnection.publish(msg) all pipes used in handle is not getting any data. When I use amqpConnection.request it works as intended.

[code]

[2021-02-16 15:07] WonderPanda commented on #236
Can you please show an example of how you're trying to use Pipes for the `publish` method. There isn't enough information here yet to be able to provide a good solution or recommendation

[2021-02-16 15:40] AmadorSV commented on #236
ext.handle()
        .pipe(
            map(payload => payload.data = Buffer.from(payload.data,'base64').toString('ascii'))
        )

here payload is empty

[2021-02-16 15:43] WonderPanda commented on #236
I still don't completely understand your scenario. Interceptors don't really make sense in the context of `publishing` a message. Do you want to run custom logic on every message right before you publish it? If so Interceptors will not work you should just create a wrapper service around `AmqpConnection` which you could inject instead that does your custom logic and then calls `publish` on the `Am

[2021-02-16 16:25] AmadorSV commented on #236
Yes, i want to do something with the message right before sending and receiving it

[2021-02-16 16:28] WonderPanda commented on #236
You have a couple options:
- write a helper function that you use to transform the message body before you publish it and just remember to call it before you do `publish` with the new message contents
- make your own RabbitMQ service which is a wrapper around `AmqpConnection` (it should inject the connection into its constructor). Then you can expose your own `publish` message which will hide the

[2021-02-16 16:28] #236 closed, assigned to nobody

[2021-02-16 16:42] WonderPanda commented on #231
@Setitch RabbitMQ has the ability to assert exchanges and queues in an `idempotent` way, which means that if the exchange or queue already exists, nothing happens if you attempt to create it again.

For this reason, you can slowly add queues/exchanges to module configuration overtime and they will be automatically created if they don't exist yet as part of the normal start up process of the Module

[2021-02-16 16:42] #231 closed, assigned to nobody

[2021-02-16 18:20] Setitch commented on #231
Thank you All for answers, i was just curious if ability to do that is available by some Decorators or i am to do that by hand. Now i know i would need to make that by hand and directly using connection service.

[2021-02-16 18:23] WonderPanda commented on #231
@Setitch You shouldn't have to do it by hand, just add them to the Module Options as you decide what your exchanges should be and then they will automatically be created if they don't exist next time the app starts up

[2021-02-16 18:28] Setitch commented on #231
Then i would need to define all exchanges up front (what if i have modular and plugin architechture - and i dont know them at the moment is providing queue module, only after (in modules that use this one?)

[2021-02-16 18:32] WonderPanda commented on #231
Yeah if you want it to be dynamic/plugin based you can do it by just injecting AmqpConnection and calling its methods directly

[2021-02-16 22:57] p5-bstahlhood commented on #176
Checking in on this issue. Running into the same issue trying to get stripe Webhook to work with Fastify.

[2021-02-21 12:47] Setitch commented on #217
@WonderPanda I think his implemantation should be added to the library - with example uses and documentation why he used that - so others can not only use it or implement theirs own. Nest is opinionated, so maybe its good to opinionate some flows and just leave users the ability to reimplement them themselves?

[2021-02-22 13:32] WonderPanda commented on #217
@Setitch I'll consider something similar for the V2 roadmap

[2021-03-03 22:19] pintobikez commented on #176
I solved it using [fastify-raw-body](https://www.npmjs.com/package/fastify-raw-body)

[code]

[2021-03-04 03:37] HMilbradt opened #238 "StripeModule providers unavailable in other modules"
I'm currently creating the StripeModule with `StripeModule.forRoot()`.  This is done inside my AppModule.

However, I've noticed that the Stripe client isn't available in other dependant modules.  I didn't see a `global` property being set anywhere in the source, so I'm curious if there's a recommended method for using the Stripe client in other modules.

For reference, I'm importing the StripeMod

[2021-03-04 03:43] HMilbradt commented on #238
Follow up:

I just remembered that the return value of the `forRoot()` function is itself a module config, so I've just gone and manually set `global` to true on it.  I'm assuming there's a better way to handle this, but this will work for the short term.

[2021-03-04 13:13] pigant opened #239 "Rabbit and ha-mode"
Context: I got a cluster in k8s with 3 nodes running rabbit. I set the policy to ha-mode=all over all my queues.

Problem: When 1 node is down, what is normal with my infrastructure, and that node got one queue what i'm listen to in nest. I lost the subscription, but not the connection. The problem with that is there are not errors detected and there is not new subscription ..

What i'm doing for

[2021-03-04 15:55] GavinRay97 commented on #176
I had tried this @pintobikez but couldn't get it working despite many config attempts.
It looks like the trick here was `runFirst: true`, nice one!

[2021-03-08 21:12] monkeydeus opened #240 "Dynamically configure RabbitSubscribe decorator?"
Is there a way to configure the arguments passed to the RabbitSubscribe decorator dynamically, without creating a new decorator factory, or some such?  What I would like to achieve is this:

@RabbitSubscribe({
		exchange: configService.get('EXCHANGE_NAME'),
		routingKey: configService.get('ROUTING_KEY_NAME'),
		queue: configService.get('QUEUE_NAME')
	})

[2021-03-09 12:03] jblyberg commented on #174
In assessing this package for our use, the inability to capture message patterns in a controller is a dealbreaker since we push all validation concerns to the microservice level. Understand that addressing this is in the roadmap so we'll keep an eye out for future changes.

[2021-03-10 11:08] spasibo-ra commented on #240
We will never know the answer

[2021-03-10 11:18] spasibo-ra opened #241 "How to create a @RabbitSubscribe from array Routing keys"
Can't use this.config in @RabbitSubscribe
![image](https://user-images.githubusercontent.com/6201285/110621575-0cd6fb00-81a3-11eb-86b6-dc8bd425d164.png)

[2021-03-11 13:32] WonderPanda commented on #240
Yes, it is possible assuming that you load the values ahead of time through ENV and make them available to your application before the Decorator file is processed.

It is not possible using something like `configService` as it would require the NestJS DI container to be bootstrapped ahead of time.

If you're interested it is possible to achieve this set up using [@golevelup/profiguration](https://

[2021-03-11 13:34] WonderPanda commented on #241
Decorators do not have access to values from inside of a class. This is a limitation of Typescript and not this library

[2021-03-11 13:34] #241 closed, assigned to nobody

[2021-03-11 13:36] WonderPanda commented on #238
Generally I'd recommend wrapping your own Module around third party ones so that you can control what providers you want to re-export and make available to other parts of your application. That way you can selectively import your own module eg `PaymentsModule` (which wraps Stripe) and anything that needs it can import it. I try to stay away from Global modules/providers unless its really necessary

[2021-03-11 13:36] #238 closed, assigned to nobody

[2021-03-11 13:45] spasibo-ra commented on #241
![image](https://user-images.githubusercontent.com/6201285/110796604-d079cc80-8280-11eb-981e-4b97fd11c9f8.png)

[2021-03-11 13:47] WonderPanda commented on #241
Sure if you want to pull them from a global variable that is technically okay. You'll probably want a way to load globals properly and have type safety for them which can be accomplished using @golevelup/profiguration

[2021-03-15 13:01] trotsaleksandrov opened #242 "Upgrading amqplib in rabbitmq"
Hi!
Is it possible to upgrade `amqplib` in rabbitmq package to version ^0.7.0 or higher?
That package uses `url-parse` which has this [vulnerability](https://snyk.io/test/npm/url-parse/1.4.7)
Thanks in advance!

[2021-03-15 21:17] Scrib3r opened #243 "Undefined dependencies and private fields in rabbitmq subscriber"
Hello everyone. ✋
I have one strange issue with `RabbitSubscribe`.
There is module with the exchange consumer that handle files in base64 format.
Module:
[code]
Consumer:
[code]

main.ts:
[code]

I see in my logs that subscriber has connected to my exchange with set queue and routing key:
[code]
But I have a problem with accessing to my private fields and injected dependencies because after receiv

[2021-03-16 05:55] Scrib3r commented on #243
I realised that I have `Scope.Request` dependencies inside IFileService and it was a reason of undefined properties.
But I need them. Are there any solutions for injecting request dependencies per `RabbitSubscriber` or I should use only dependencies with default scope?

[2021-03-19 14:02] bmcgoncalves opened #244 "Request: class validator, promises response errors"
Hi, we want to create an functions ecosystem with rabbitmq.
Something like this:

**One queue per function:**
![image](https://user-images.githubusercontent.com/27480860/111791638-4e5e5900-88bb-11eb-8e4e-e09673a570bb.png)

**All validations need to pass from API to Microservices:**
![image](https://user-images.githubusercontent.com/27480860/111791688-5a4a1b00-88bb-11eb-8a7d-bbcc74d51397.png)

To d

[2021-03-19 15:17] underfisk commented on #244
@bmcgoncalves So what you are looking for is to use class-validator and provide custom errors right? You can do that easily by creating a simple interceptor that uses class-validator and you can get errors and format the way you need but it would also imply that you create a custom (generic) payload, something like:

[code]
That is a naive solution but you need to handle all the success/error logi

[2021-03-19 23:24] bmcgoncalves commented on #244
I know I can do that, thanks. But i think it could be integrated in your project.
For instance, there is another project for rabbitmq that supports a @Validade decorator, and we can reject promises to the client (we can catch an error). That project has only one problem: only supports one queue for multiple routing keys.

I think I need a merge of the two projects ;)

[2021-03-19 23:39] underfisk commented on #244
@bmcgoncalves I have discussed that idea but it would imply having a custom payload, i might have to talk with @WonderPanda and open a suggestion for the whole community that uses already this package but its a nice suggestion

[2021-03-24 17:13] zimiovid opened #245 "Use AmqpConnection in services"
I have a trouble

I created module `AmqpModule`

[code]

Then added this module to `app.module.ts`:
[code]

Follow the docs, i added `AmqpConnection` into my constructor.
[code]
and catch erro in console
![image](https://user-images.githubusercontent.com/61754500/112353868-3896cc80-8cdd-11eb-8aad-52269041c98c.png)

Where my mistake? Should i add `AmqpConnection` in providers under `AmqpModule`?

[2021-03-24 22:09] zimiovid commented on #245
Duplicate https://github.com/golevelup/nestjs/issues/221

[2021-03-24 22:09] #245 closed, assigned to nobody

[2021-03-26 13:23] arthurgrigoletto opened #246 "Cannot read property 'isConnected' of undefined"
Hello, I'm trying to build microservices applications with a RabbitMQ connection. Am I doing something wrong?

main.ts
[code]

app.module.ts
[code]

user.module.ts
[code]

service.
[code]

Result

[code]

Can anyone help me out?

Thanks

[2021-03-26 19:12] WonderPanda commented on #244
@bmcgoncalves Thanks for the suggestion, this is definitely something that could be improved. Which is the other library that you're referring to which provides this behavior?

[2021-03-26 19:18] WonderPanda commented on #243
@Scrib3r Right now there is no support for Request scoped providers since they're tied to the HTTP request lifecycle in NestJS so it doesn't map well with an event driven component like RabbitMQ that uses a persistent connection.

What is the nature of the request scoped dependency that your IFileService is depending on?

[2021-03-26 19:29] bmcgoncalves commented on #244
Hi,
I haven't tried the package. From the examples and description it seems to do what I want but only for one queue per microservice.

https://www.npmjs.com/package/nestjs-rmq

[2021-03-26 19:37] #242 closed, assigned to nobody

[2021-03-26 19:40] WonderPanda commented on #242
@trotsaleksandrov This is now available in `@golevelup/nestjs-rabbitmq@1.16.1`

[2021-03-26 19:42] WonderPanda commented on #222
@twigs67 Feel free to open this up again if more info or a reproduction for the validation not working is available. Closing for now

[2021-03-26 19:42] #222 closed, assigned to nobody

[2021-03-26 19:43] #240 closed, assigned to nobody

[2021-03-26 19:48] WonderPanda commented on #246
@arthurgrigoletto You should not add `AmqpConnection` to your providers. It is already provided from the RabbitMQ module. If you want to use the AMQP behavior across multiple modules you should create a wrapper Module that does `RabbitMQModule.forRoot` and then export the entire RabbitMQ Module so make all the dependencies available to any of the other modules in your app

[2021-03-26 20:04] WonderPanda commented on #244
@bmcgoncalves Thanks, I appreciate the feedback. I will definitely consider this for functionality in the next major version of the library

[2021-03-27 00:05] Scrib3r commented on #243
@WonderPanda It's really disappointed 😞
I have a custom solution of pattern unity of work for transactions per every request cross all code components based on `Scope.Request` and `TypeORM`. It's work in http but not in RabbitMQ.
Do you have any plans for supporting Request scope inside rabbit consumers?

[2021-03-27 15:17] WonderPanda commented on #243
@Scrib3r I can see how Unit of Work would be a desirable pattern to be able to implement when processing messages from RabbitMQ. I'm not sure how much work is involved with being able to leverage `Scope.Request` outside the context of HTTP or if it is even possible but I will take a look and see what is possible

[2021-03-29 17:11] #246 closed, assigned to nobody

[2021-03-29 18:17] arthurgrigoletto commented on #246
Thank's @WonderPanda, it worked for me :)

[2021-04-06 17:49] joelbqz commented on #156
@WonderPanda this approach seems good, I was thinking to do the same, especially now with Hasura 2.0 that supports RBAC for Remote Schema

[2021-04-07 12:18] WonderPanda commented on #156
@joelbqz Yes I agree completely. With the addition of permissions for remote schemas in 2.0 the best way to integrate Nest and Hasura together is using this feature.

I don't think that there is any point in spending time trying to pursue auto generating Hasura Actions handlers with regular HTTP and Controllers compared to going the GraphQL approach. I'll put up a sample repo of how I currently st

[2021-04-12 07:34] gialang opened #248 "Sending request to connect every 5 seconds"
i try to connect to RabbitMQ (version 3.1.5) to publish a message.
This is my code
[code]
but it send a request every 5 seconds, and i get error message when i publish a message

[code]

[2021-04-13 10:28] gialang commented on #104
@mcblum did you fix it ?
i have same issue with it.

[code]

[2021-04-13 11:31] Ponjimon commented on #78
@WonderPanda Has there ever been an update to this? We want to separate workload and thus require having more than one connection. The way @kdi-1 proposed seems a bit too hacky; I'd love to see named connections, similar to how `nestjs-amqp` does it.

[2021-04-29 00:25] supaspoida opened #250 "Support for Hasura 2.0 metadata?"
I've been experimenting with the hasura integration from this repo on a hasura 1.3 project. I'm looking to upgrade to hasura 2.0 which I know makes some changes to the metadata structure. I'm wondering if the automatic event registration from this package is expected to work with the new metadata format or if an update will be required?

Thank you!

[2021-04-29 11:36] WonderPanda commented on #250
Hey @supaspoida I've also been watching the Hasura 2.0 progress with anticipation. I'm very excited by some of the changes happening over there and will most likely adopt it as soon as they drop the alpha tag and least move to beta.

The current Hasura Integration offered in this repo does still expect that `tables.yaml` will be a single file so if you're moving to the new metadata format that spl

[2021-04-29 16:21] iamonkey opened #251 "@RabbitSubscribe in controllers?"
Hi,

Firstly, many thanks for developing the rabbitmq for NestJS.  We are using it for messaging where we have multiple subscribers.

We like the approach of having all our interfaces to the outside world being defined in our controlers (which then choose which service to route to).  Is there a way we can get @RabbitSubscribe to work in a controller (@Controller) rather than jus in services (@Serv

[2021-05-11 15:18] arjenvdhave opened #259 "UnhandledPromiseRejectionWarning when sending message on closed connection"
If you use the `amqpConnection.request` when there is no connection yet you get a UnhandledPromiseRejectionWarning.

To reproduce config the RabbitMQModule with a broken url and wait = false
[code]

Then use the `amqpConnection.request` like this:
[code]

Now you will first get an UnhandledPromiseRejectionWarning before the catch logs the  "Error: Failed to receive response within timeout of 10000

[2021-05-12 10:38] noctis-doahub opened #261 "Can not publish with amqpConnection"
`@Injectable()
export class ProductsService {
  constructor(
    private readonly amqpConnection: AmqpConnection
  ) {
  }

  @RabbitSubscribe({
    exchange: 'events',
    routingKey: 'product.created',
    queue: 'products',
    queueOptions: {
      durable: false,
    },
  })
  public async onHandleProductCreated(msg: {}) {
    console.log(`Received message: onHandleProductCreated`, this.amqpC

[2021-05-13 04:36] noctis-doahub commented on #261
It worked now. Thanks

[2021-05-13 04:36] #261 closed, assigned to nobody

[2021-05-18 14:56] #259 closed, assigned to nobody

[2021-05-18 15:32] WonderPanda commented on #251
@sz-adminuser Yeah I don't see why this should be an issue, the decision not to discover handlers in Controllers was somewhat arbitrary and wasn't based on any technical limitations

[2021-05-19 17:00] adrianwix opened #265 "nestjs-testing package is outdated"
https://www.npmjs.com/package/@golevelup/nestjs-testing Doesn't include support for promises

[2021-05-19 19:40] rexchoppers opened #266 "RabbitMQ RabbitSubscribers not hitting right function"
Hi, we've been integrating this library in order to utilize exchanges properly for RabbitMQ in our NestJS microservice. When consuming a message from the exchange, the library seems to do a "round-robin" technique of the subscribed functions rather than hitting the correct function.

Producer (PHP Although this is not the issue as it is sending to the exchange okay)

![image](https://user-images.g

[2021-05-19 23:47] audiBookning commented on #222
Thanks for the example.
But i had some problems with it. I will show here how i resolved it for anyone who stumble on this issue.
Correct me if i am wrong.

 The `Stripe.AccountUpdateParams` is the payload used for creating an account, not the one for an event in response to it.
As seen here in the [API](https://stripe.com/docs/api/events/types#event_types-account.updated) the event returns an [ac

[2021-05-20 12:13] WonderPanda commented on #266
Hey, this question comes up frequently. The issue in your setup is reusing the `cats_queue` across multiple handlers.

In this setup all messages sent to either `env.user.getNotifications` or `env.user.getOneNotification` are all sent to the same queue (think of it like a mailbox). The behavior of Rabbit is that if there are multiple consumers listening on the same queue then messages coming in wi

[2021-05-20 12:13] #266 closed, assigned to nobody

[2021-05-20 12:25] rexchoppers commented on #266
@WonderPanda Hi, fantastic - I apologize for this being a setup issue rather than a code issue with the library. I appreciate the response. I'll get this re-configured. Thank you once again!

[2021-05-20 12:57] WonderPanda commented on #266
@broadstone-connorbrady No need for apologies! I appreciate you taking the time to open up such a detailed issue with the relevant screenshots and code samples. Its really cool to know that you're using the NestJS RabbitMQ integration in a multi language stack where PHP is also in the picture

[2021-05-20 19:24] rexchoppers commented on #266
@WonderPanda We'd prefer not to add PHP into the mix but that's the joy of working with legacy systems. Thank you for your advice. I've just spotted a duplicate issue at #141 too

For anyone stumbling across this or anyone who is slightly puzzled, looking at this issue provided some answers: https://stackoverflow.com/questions/32220312/rabbitmq-amqp-best-practice-queue-topic-design-in-a-microservi

[2021-05-21 14:38] WonderPanda commented on #265
@adrianwix Can you give some more context into the issue you're seeing?

Using the latest version of the library from NPM this works just fine:

[code]

[2021-05-22 16:04] adrianwix commented on #265
It should automatically mock promises like https://github.com/golevelup/nestjs/pull/161
[code]
### Output

[code]

I copied your package code directly from the repository and it mocks promises as expected. I am using it right now for testing in the meantime.

Anyways thanks for making this package. It saved a lot of time for me while writing tests

[2021-05-22 16:05] adrianwix commented on #265
Using "@golevelup/nestjs-testing": "^0.1.2"

[2021-05-26 12:42] RLSWE commented on #251
We would like to be able to do so, too.
Usually in NestJS that's what happens, so it's weird to use the service class for that logic.
If now we need to route some logic to other layers, we will have to name those layers with something else than `service`, because `service` is now being used for the routing logic (instead of the controller).

What was the decision originally on using only service c

[2021-05-26 13:11] WonderPanda commented on #251
@RoniLeshes Controllers in NestJS are discovered different and are much more closely tied to the HTTP lifecycle which is separate from RabbitMQ. I find that users are more likely to inject a HTTP Request scoped dependency in Controllers which will break the ability for the Class to be properly instantiated and used for receiving messages from RabbitMQ.

It's easy to have a separate routing layer t

[2021-05-26 13:18] RLSWE commented on #251
@WonderPanda yea I was imagining it has to be something like that (the coupling of controllers to HTTP).

For us, implementing such feature is great, as our microservices are using only RabbitMQ for inter-service-communication and the only HTTP that is open to the world is our API Gateway.

Maybe it's worth adding the capability to do so and mention the tradeoffs in the README?

[2021-05-26 14:34] iamonkey commented on #251
Thanks for the feedback.  We are using this in prod and it's great, so thank you to everyone that supports and develops this!

From our perspective, we have resolvers and controllers managing what comes into a MS, whether that is HTTP, GRPC or GraphQL. We separate all of these routes from the Service layer.  In that architecture, that natural place is for  external comms from RabbitMQ to also sit

[2021-05-31 10:20] RLSWE opened #270 "Feature request: allow setting message properties in AMQPConnection"
As seen in the README, the way to send RPC is doing something like so:
[code]

RabbitMQ messages are capable of setting per-message properties.
Beside the basic properties, some optional properties are available, like correlation id, reply-to, etc...  https://www.rabbitmq.com/publishers.html#message-properties

Currently there is no way of setting such properties using `AMQPConnection`.
It seems t

[2021-05-31 15:09] dorman99 opened #271 "More Docs Detail and Example"
hello iam hafizh

currently ive case to build an application that can produce dedicated data generate by master collection, as example

collections
- users
- vouchers
- user-vouchers

each time voucher being generated the data will be map into user-vouchers collection. in the past few days, this package seems will help me to solve my problem, but my question is, i got lost while using di read.me d

[2021-05-31 20:29] alessandrosangalli opened #272 "How to make webhook public?"
By default all my routes needs authentication, how i can make my webhook route (i'am using stripe) public?

[2021-06-01 11:36] LucSalommez opened #273 "PubSub consumer never consumes messages with RabbitSubscribe"
Hello,

I have an issue with consuming messages in a pubsub maner.
I am able to create a connection to the exchange and to publish messages on it (confirmed on the UI).

I do not understand why my function associated with RabbitSubscribe is never called.
I have triple checked the exchange and route key and it is correct.

In my Module I use :
[code]

And my service :
[code]

Is there something I a

[2021-06-01 13:16] WonderPanda commented on #270
I'm not sure about correlation and reply-to as both of those are specfically managed by the library in order to make RPC work properly using RabbitMQs direct-reply-to functionality but there are definitely some useful ones that people might want to leverage that should be exposed

[2021-06-01 13:17] WonderPanda commented on #271
@dorman99 This repository is home to 8 different packages. It is not clear from your message which package you are referring to

[2021-06-01 13:18] WonderPanda commented on #272
@alessandrosangalli How are you currently authentication globally? You will need to add an exception for the stripe route

[2021-06-01 13:19] WonderPanda commented on #273
Please share the start up logs from your Application specifically the ones emitted from the RabbitMQ package. These should show the subscribers and patterns being attached

[2021-06-02 09:02] LucSalommez commented on #273
Hello and thanks for your help @WonderPanda .
I do not find any specific logs from RabbitMQ except for the module being initialized.
Maybe the problem occurs on a registration level ?

Here is the complete log of the startup of my application :
[code]

Or maybe should I add a flag to have more debug logs ?
Thanks

EDIT : I don't know if this is helpful to you but the UI of RabbitMQ tells me that n

[2021-06-02 11:46] WonderPanda commented on #273
There are no logs indicating that the handler has been discovered so I think there is something wrong with your setup. Did you register `MailService` in the `providers` array of its parent module? Only registered providers can be discovered

[2021-06-02 12:45] LucSalommez commented on #273
The MailService is indeed properly imported in providers.
The constructor of the Service is being called, I can see my `console.log("inside")` and a new message is properly created.

I tried adding a `console.log` in `OnModuleInit()` function of the package and the console.log is never called.
Maybe this is linked to my issue.

I am using the version `"@golevelup/nestjs-rabbitmq": "^1.16.2"` with

[2021-06-02 13:00] WonderPanda commented on #273
Is it possible for you to share a minimum reproduction of this issue? It is difficult to diagnose without seeing the problem

[2021-06-02 14:13] LucSalommez commented on #273
I tried to reproduce the error using a minimalist project and was surprised to see it working.
I thus tried to find what was differing and it seems the issue is coming from my `main.ts` file.

[code]

When using the commented version (`app.startAllMicroservicesAsync()`) the subscriber is never registered but when using `app.listen(3000)` it works properly.

Do you know if it possible for it to wor

[2021-06-02 14:23] WonderPanda commented on #273
@LucSalommez Unfortunately the library isn't a "true" NestJS microservice at the moment so we can't rely on `startAllMicroservicesAsync` to establish listeners at the moment. I'll need to look into this a bit more and see what solutions make sense

Tracking this with #274

[2021-06-02 14:24] WonderPanda opened #274 "Support using RabbitMQ with NestJS microservices"

[2021-06-02 14:26] LucSalommez commented on #273
Thank you very much for your help and reactivity.

[2021-06-02 15:11] WonderPanda commented on #273
No problem. I'm going to close this now as the root cause has been identified and will track any additional info in the dedicated issue for microservices support

[2021-06-02 15:11] #273 closed, assigned to nobody

[2021-06-02 17:15] iamonkey commented on #138
Hey @saarikivit @WonderPanda and @rkalkani where did you get to this?  I'm having the same challenge :-)

[2021-06-02 18:01] saarikivit commented on #138
I decided to make the error handling policy to not retry on error. Thus removing the infinite loops.

Currently I'm removing this from my stack and using nest js events with bull. I realized I really don't need this yet at all.

[2021-06-03 14:41] WonderPanda commented on #138
@sz-adminuser At the moment my best answer is to include appropriate error handling inside of your message handlers so that they don't bubble up and cause a retry.

There are so many possible ways different people may want to uniquely handle error setup that I never put anything opinionated in the library

You have full access to the amqp connection so it should be possible to for example use a Ne

[2021-06-03 14:42] WonderPanda commented on #272
Closing this for now as it's not really an issue with this library but in how you're configuring your NestJS app. If you can provide more detail about your setup to help narrow it down feel free to reopen this and I can take a look

[2021-06-03 14:42] #272 closed, assigned to nobody

[2021-06-03 14:42] WonderPanda commented on #271
Feel free to reopen if you can provide some more context here for what you're looking for

[2021-06-03 14:42] #271 closed, assigned to nobody

[2021-06-03 14:58] iamonkey commented on #138
Hi Thanks for responding.  This is what I have done and it seems to work well....

Created a Dead Letter Exchange (DLX1) that rejected events go to.
DLX1 puts the events back for retrying or removes them after certain number of retries and persists them in a DB.
Those put back in go to a delay exchange which has no subscribers but has a second Dead Letter Exchange (DLX2).  Messages on the delay ex

[2021-06-03 15:26] iamonkey commented on #138
One quick q... is there a way to specify centrally (i.e in RabbitMQConfig) that all queues default to not requing on the event of error (defaultNackErrorHandler)?  At the moment whenever an exception occurs that is not caught it is putting the event back into the queue.  We fix this by using errorHandler ... but it worries me that other members of the team will miss including this and it will kill

[2021-06-04 15:35] dorman99 commented on #271
hey, iam sorry for my mistake for undetailed message before.

currently iam trying to use the rabbitMq services. its working properly now... iam little bit confuse before because its only support for exchange cases am i right ? if we use the original package from nest, there is send message to send single queue, so iam assuming this package approach is pub/sub pattern, even though we still can use

[2021-06-04 15:36] dorman99 commented on #271
@WonderPanda

[2021-06-04 15:55] dorman99 commented on #271
btw i cant reopen this issue.

and i found this one https://github.com/golevelup/nestjs/issues/69

how can i set this assertQueue query params ?

[2021-06-04 17:15] dorman99 commented on #271
`await this.amqpConnection.publish(constant.exchanges.challenge.remove.name, routing, {id: id}, {persistent: true});`

i have add persistent to options configuratin while publishing the message.

        exchange: constant.exchanges.challenge.remove.name,
        routingKey: constant.exchanges.challenge.remove.routingKeys,
        queueOptions: {
            durable: false
        }
    })
    pub

[2021-06-05 08:31] iamonkey commented on #138
For anyone following up on setting default so that it does not automatically requeue:

defaultSubscribeErrorBehavior

[code]

[2021-06-06 19:08] RLSWE commented on #270
Yea I think mainly for us what's missing is the `expiration`.
`expiration` sets TTL (time to live) per message. The problem we are seeing not having that can be seen in that example:
- Microservice A sends an RPC that eventually should create some entity via Microservice B and get that entity from B
- Microservice B is currently down for some reason
- Microservice A get's a timeout -> Eventually s

[2021-06-07 16:43] Alterock13 opened #276 "Undefined message on non-JSON RabbitMQ subscribe"
Hello,

I am discovering your project, trying to setup a nest microservice using more specific RabbitMQ features (namely, the usage of exchanges)

The issue is that my program should be able to parse non JSON incoming message from an exchange so I can process it and redirect it to another exchange.
While fiddling with the code, I discovered the option `allowNonJsonMessages` which seems to provide

[2021-06-08 12:00] WonderPanda commented on #265
Hey @adrianwix I deeply apologize for not realizing what was going on here earlier. Quite a while ago now I changed the package name and started releasing this under `@golevelup/ts-jest` instead of `@golevelup/nestjs-testing` since the mock utility is generic to TS and jest and doesn't really have anything to do with Nest. I somehow didn't catch that you were referring to the older package in our

[2021-06-08 12:00] #265 closed, assigned to nobody

[2021-06-08 12:02] WonderPanda commented on #276
@Alterock13 What gets printed when you log the `rawMessage`? Currently receiving undefined to the first message is expected (although probably not the best design choice) but if you're not using JSON with the current version of the library it is up to you to handle the raw message based on what makes sense for your app

[2021-06-08 12:05] WonderPanda commented on #250
@supaspoida Now that the beta tag has been released I'm going to start work on this

[2021-06-08 12:16] Alterock13 commented on #276
@WonderPanda Thanks for your reply. When I tried yesterday, `rawMessage` container the `fields`, `properties` and `content` but their own properties were `undefined`. After receiving your reply, I launched my rabbit cluster again and now I have content in `content`. I don't know what could have caused this on Rabbit side as the code I posted before hasn't changed.. Anyway, now it seems to work, so

[2021-06-08 12:17] #276 closed, assigned to nobody

[2021-06-08 18:36] supaspoida commented on #250
@WonderPanda that is awesome news, thanks for the update! Have been holding off on updating our metadata cause your lib is so helpful I didn't wanna give it up.

[2021-06-08 18:56] WonderPanda commented on #250
@supaspoida Thanks :pray:

I'm curious to know more about your experience working with NestJS + Hasura are there any other painpoints or gaps that you wish were addressed?

I've been experimenting with the ability to generate permissions in TS using codegen which could then be applied against the Hasura metadata instead of having to configure all the permissions through the UI console. We've found

[2021-06-11 16:11] necrocyber opened #278 "How access to channel?"
Hello.

I am trying to access the channel with: AmqpConnectio.channel so I can use its nack () and ask () methods. Is it possible to do this?

[2021-06-16 13:32] silentroach commented on #243
+1 for request scoped consumers like [in nest](https://docs.nestjs.com/techniques/queues#request-scoped-consumers)

[2021-06-19 09:42] LucSalommez commented on #274
Hello, is there any hope that this feature is developed in near future or should I abandon RabbitMQ for my Microservices architecture ?

[2021-06-25 09:31] ApizrTech opened #279 "Malformed message causes handler not called + high cpu"
Hi,
Thanks for your very good work.
Just to tell that if a malformed* json message is published to a topic, via the rabbitmq web console, then a nestjs consumer has the following problem :
-the cpu goes high
-the delivery rate displayed by the console is around 1000/s
-the handler function is not triggered

*in my case, a double quote was missing at the end of a field's string value

my versions :

[2021-06-28 14:51] BraunreutherA commented on #250
Hi @WonderPanda,

I've created a PR #280 which handles the new Metadata Schema of Hasura 2.0 . I'll work on the cron hooks next. Maybe you could help by reviewing the code? :)

[2021-06-28 14:56] WonderPanda commented on #250
Hey @BraunreutherA Just going through the PR, thank you for your contributions! I actually have support for the new metadata format built out on a local branch as well. The main difference is that I've included a config option in the Module so that consumers can indicate whether or not they want to target v2 or v3 metadata which means that it shouldn't be a breaking change for users who may still

[2021-06-28 15:02] WonderPanda commented on #278
Yes, it is possible. The channel is available on the `AmqpConnection` which is an Injectable that is available to your Nest application.

[2021-06-28 15:02] #278 closed, assigned to nobody

[2021-06-28 15:04] WonderPanda commented on #279
This depends on your error handling configuration. By default, a message that is failed to be processed will be requeued. If you do nothing about it, there will be a loop of requeues. You can use the nack behavior instead if you like but in general with this library It is up to you to provide the correct error handling behavior for your application

[2021-06-28 15:04] #279 closed, assigned to nobody

[2021-06-29 01:04] MattGson opened #281 "Modules: "configuring once and importing anywhere else" is already Nests behaviour?"
I am struggling to understand why the Modules package is required?

The described reason of "configuring once and importing anywhere else" seems to already be catered for by Nests module system.

Modules are singletons so if you register dynamically with configs in a root module, you can just import everywhere and you will get the same configured instance?

Relevant docs:
https://docs.nestjs.com/m

[2021-06-29 01:07] #281 closed, assigned to nobody

[2021-06-29 07:50] Zyles opened #282 "Instantiate a new class"
Is there a way to create a new class instance from the discovery data?

I have my service which registers all the available classes and the data returned is:
[code]

How can I dynamically in code create an instance of BooleanAttributeType without knowing its name, for example in a loop?

I tried with something like:
[code]

But get:
`TypeError: [attributeTypeClass.discoveredClass.instance] is not

[2021-06-29 14:00] WonderPanda commented on #282
`injectType` and `dependencyType` in your example both point to the constructor function of `BooleanAttributeType`

[2021-06-29 14:00] #282 closed, assigned to nobody

[2021-06-29 23:50] Zyles commented on #282
`TypeError: [attributeTypeClass.discoveredClass.injectType] is not a constructor`

[2021-06-30 05:11] iamonkey commented on #138
Another excellent feature that has really helped us is prefetchCount.  We have a Pupperteer MS running that was crashing if it tried to do too many requests at once.  This limits the number of messages a consumer can take that are not ack.  More info [here](https://www.rabbitmq.com/consumer-prefetch.html).

@WonderPanda it would be even more helpful to be able to put this setting on a per subscrib

[2021-06-30 12:29] WonderPanda commented on #282
@Zyles You need to access the `prototype.constructor` if you want to try and dynamically instantiate a class. It'll be up to you to figure out how to pass the right args to it if the constructor expects any. Here's an example:

[code]

[2021-06-30 19:52] BraunreutherA commented on #250
Hi @WonderPanda did you do some progress on this? If you can push your local branch to github, I could also help on merging it. We're very much looking for the v2 version :)

[2021-06-30 20:47] stvnwrgs opened #283 "forRootAsync with ConfigModule does not work"
If started with the debugger, it works. If started without a debugger,  configService.get gives back undefined. It seems, the AmqpFactory is established before the configService is ready.

[code]

[code]

[2021-06-30 21:03] WonderPanda commented on #283
It is very strange that whether or not you attach the debugger seems to have an impact on the behavior. I haven't looked at this extensively but I think it might be an issue with the ConfigModule or your configuration of it. I just tried to reproduce this using the following code and it works as expected:

[code]

[2021-06-30 21:14] jmcdo29 commented on #283
@stvnwrgs do you have `ConfigModule` as `global: true`? Or a minimum reproduction? Nest's built in ConfigModule acts kinda strangely sometimes in my opinion. Weird that the debugger makes it work too 🤔

[2021-07-01 11:52] WonderPanda commented on #250
@BraunreutherA I'm planning on doing a release this evening. I've tagged you in the Pull Request #284 if you'd like to have a look. I took inspiration from the fixtures approach to testing you had stubbed out in your PR

[2021-07-02 03:20] ChrisBates opened #285 "Null RPC responses throw JSON parse error"
In `initDirectReplyQueue()` (`connection.js`) it's trying to parse what it expects to be JSON content inside the Buffer.

[code]
If the Buffer is empty (i.e. the RPC handler returned a null/void/undefined) then it's trying to parse an empty string. This throws an error.

[code]

I was going to propose handling it the same way it's currently being handled in `handleMessage()` with a try/catch, this

[2021-07-05 12:23] ApizrTech commented on #279
Thanks for your detailed answer.
However my handler function is not called in the case I submit, so I can't figure out where to define the error handling.
Is there another place to define error handling, in annotations or module ?
Thanks
Anselme

[2021-07-06 12:21] #250 closed, assigned to nobody

[2021-07-06 12:22] #285 closed, assigned to nobody

[2021-07-06 12:29] WonderPanda commented on #250
This is now available as of `@golevelup/nestjs-hasura@1.3.0`

If you would like to use v3 metadata you will need to pass `v3` to the `metadataVersion` property of `managedMetaDataConfig` in your Module configuration.

I have some other breaking changes that I'd like to make to the Module Config in the near future so at that time I will update the default to be `v3` and release a `2.x` version of t

[2021-07-06 12:30] WonderPanda commented on #285
@ChrisBates Thanks for the contribution. This is available as of `@golevelup/nestjs-rabbitmq@1.17.1`

[2021-07-06 12:31] WonderPanda commented on #283
Closing as there doesn't appear to be anything actionable here for this library. Feel free to open again if you have more info we can investigate

[2021-07-06 12:31] #283 closed, assigned to nobody

[2021-07-08 21:37] ssarj opened #289 "RabbitMQ: DefaultRpcErrorBehaviour is ignored"
This can be seen in [setupRpcChannel](https://github.com/golevelup/nestjs/blob/d72c8fa4950d057d5d1eab896699dddd2b00e724/packages/rabbitmq/src/amqp/connection.ts#L323), where it accidentally references [defaultSubscribeErrorBehaviour](https://github.com/golevelup/nestjs/blob/d72c8fa4950d057d5d1eab896699dddd2b00e724/packages/rabbitmq/src/amqp/connection.ts#L374).

I will submit a PR today :)

[2021-07-08 23:00] WonderPanda commented on #289
@ssarj Thanks! I appreciate you taking the time to diagnose and come up a with a solution for this :rocket:

[2021-07-09 11:08] gallak87 commented on #243
also +1 for request scoped if possible

[2021-07-13 13:08] rakeshlanjewar opened #290 "[ RabbitMQ ] how to publish a message to particular queue"
Hey Guys,
I am trying to publish a message to a particular queue, but not sure how to do it.

[code]

```this.amqpConnection.publish('', '', {msg : "Hi"})```

[2021-07-13 13:10] WonderPanda commented on #290
@rakeshlanjewar Generally speaking you shouldn't be trying to send messages directly to queues. You should be sending them to the exchange with a routing key and they will be automatically handled at the correct queue.

[2021-07-13 13:18] rakeshlanjewar commented on #290
Can you please give me an example !