[2021-07-13 13:19] WonderPanda commented on #290
Did you read through the docs? https://github.com/golevelup/nestjs/tree/master/packages/rabbitmq#sending-messages

What is the issue that you're having?

[2021-07-13 13:21] rakeshlanjewar commented on #290
Thanks for the help!

Sorry, I am fairly new to rabbitMQ.

coming from ampqlib 😞

[code]

[code]

[2021-07-13 13:21] #290 closed, assigned to nobody

[2021-07-13 13:23] WonderPanda commented on #290
If you're trying to use RPC to get a response back you should use the request method: https://github.com/golevelup/nestjs/tree/master/packages/rabbitmq#requesting-data-from-an-rpc

[2021-07-14 14:00] LucSalommez commented on #274
Hello, do you have any update on this issue ?
Do you know any alternative in order to have Pub/Sub in a NestJS Microservices architecture ?
Thanks

[2021-07-15 23:48] TrejGun opened #291 "dynamic modules and tests"
Heya! Thanks a lot for your libs, they are truly amazing
I was using dynamic modules for some time and then decided to cover one of my modules with tests using jest like in nest docs

here is my module
[code]

and here is how I initiate in the test file
[code]

this works but each time after tests has already passed I see a warning from jest

[code]

I believe this is because of static property ca

[2021-07-16 12:40] WonderPanda commented on #291
Hey @TrejGun thanks for the kind words. Another user recently suggested that the pattern for setting up a static `Deferred` property isn't ideal as it triggers the await behind the scenes https://github.com/golevelup/nestjs/pull/252

Can you give this a shot and define it as `static Deferred = () => MailchimpModule.externallyConfigured(MailchimpModule, 0);`

[2021-07-17 01:46] TrejGun commented on #291
@WonderPanda , @steinroe  thanks! the new pattern works like a charm

btw I have the same case , my module is actual npm which I use in several apps

[2021-07-21 14:46] guohui666 opened #292 "about consumer"
Sorry, I'm not good at English

when i use  `deadLetterExchange` to  expire unpaid orders ， I don't want to create consumer, because it will always access my program, so I added a new parameter `needConsumer` to control whether to create consumer

Is there a better way to do that?

thx

[code]

[code]

[code]

[2021-07-21 21:23] diegodarossi opened #293 "allowNonJsonMessages = true call"
in AppModule is set the "APP_GUARD"
`{
      provide: APP_GUARD,
      useClass: AuthorizeGuard,
 }`

@RabbitSubscribe({ exchange: 'example', routingKey: '', queue: 'example', **allowNonJsonMessages: true**, })
when allowjson this to true and the message does not come in JSON is calling the "AuthorizeGuard" why?

[2021-07-22 11:49] WonderPanda commented on #293
Are you sure that this is happening based on the `allowNonJsonMessages` property? In general Guards and Interceptors will be applied to your handlers

[2021-07-22 12:23] diegodarossi commented on #293
I managed to solve here

what happened was that if I sent an invalid JSON directly through the Rabbit panel when I arrived in my "AuthorizeGuard" the variable "req" was undefined and gave a problem in the code below, I put it to check if the context was from RabbitMQ and solved.

[Link Image](https://i.ibb.co/zZ12WLx/rabbit.png)

[2021-07-22 12:28] #293 closed, assigned to nobody

[2021-07-25 12:56] leanpilar commented on #229
any news on this?
on the 0.1.5 the request function type accepts as third argument requestHeaders?: Dom.RequestInit['headers'] but it not works or I pass it wrong?
like {param: 'param'}

[2021-07-30 22:52] collinwu opened #294 "Having trouble consuming messages via subscription (nestjs-rabbitmq)"
Hello, I'm having trouble leveraging @golevelup/nestjs-rabbitmq package and I'm not sure what I'm missing.

I've been following the docs wiring up the message queue to a NestJS application, but I'm publishing messages via the RabbitMQ admin client, but not getting any messages showing up via subscription handler.

Screenshots below:

`Messaging Service / Module`

<img width="619" alt="Screen Shot

[2021-08-03 19:55] stvnwrgs commented on #294
I'm facing a similar issue. This is really strange because it worked a while ago and it is still working inside another module. I also recreated the rabbitmq instance multiple times.

[code]

[code]

[code]

![image](https://user-images.githubusercontent.com/1257443/128077435-b0a80b04-7dd0-46ac-80db-0fb17a294553.png)

[code]

Node: v14.4.0

The messages get directly requeued for some reason withou

[2021-08-06 17:44] collinwu commented on #294
@stvnwrgs - thanks for sharing!

i swapped out the `3.8.5` image for `3.8.17` but i continue to have the same issue where i create test messages and they end up stuck in the queue without the subscription handler processing them. i also tried to manually acknowledge, but then the message doesn't flow through so nothing to acknowledge

im leveraging nestjs v8, but i'm not sure the issue is there. i

[2021-08-07 15:32] collinwu commented on #294
i figured out where and what went wrong in my scenario.

i suppose a combination of factors played into this, but for anyone that might be facing a similar issue, check your nestjs pipes, guards, interceptors.

debugging led me to inspect: https://github.com/golevelup/nestjs/blob/master/packages/rabbitmq/src/amqp/connection.ts#L430

I was able to log a silent error telling me that the request was

[2021-08-07 15:32] #294 closed, assigned to nobody

[2021-08-07 16:53] leanpilar opened #297 "graphql-request - headers not passed correctly to the request method"
my setup
module:
[code]
service:

[code]

method:

[code]

but the request headers don't contain var
I try tp follow the type value:
`request<T = any, V = Variables>(document: RequestDocument, variables?: V, requestHeaders?: Dom.RequestInit['headers']): Promise<T>;`
but can't make it work.
Did I make some mistake??

[2021-08-09 12:01] WonderPanda commented on #294
@collinwu Thanks for following up on this and writing up a detailed breakdown of how you solved the issue. In the future I will see about trying to add some kind of warning or logs that indicate that requests are being rejected due to interceptors

[2021-08-15 00:19] TrejGun commented on #291
I thought it was fixed but apparently, it was not.

Here is an example code to demonstrate the issue, it could be a little bit simpler, so sorry.
You should have nmv to switch between node 14 and 16 and download one file

first switch to node 14
[code]

then clone example project
[code]

then download elasticmq-server-1.2.0.jar from https://github.com/softwaremill/elasticmq and start it from the r

[2021-08-15 00:23] TrejGun commented on #291
lol, this looks like a problem with uuid
nevermind

[2021-08-15 00:42] TrejGun commented on #291
so while I tried to create a bug to uuid it turned out it is ok
[code]

this simple test on empty repo as well as on nestjs-sqs repo works perfectly fine

so the problem is somewhere in this module or nest itself. can you please help me to nail it down?

[2021-08-15 00:46] TrejGun commented on #291
some more references
https://github.com/TrejGun/uuid-bug
https://stackoverflow.com/questions/65653226/jest-and-randombytesrequest-open-handles

[2021-08-15 00:58] TrejGun commented on #291
just checked on another module to make sure it is not nestjs itself.
the problem is definitely in this module

i would love to help to fix it

[2021-08-16 12:20] WonderPanda commented on #291
The stack trace here is pointing entirely at code coming from `@nestjs/core`. The code base for dynamic modules is very small (1 file, less than 200 lines of code) and it doesn't reference or use the `uuid` package anywhere. I need more evidence that this is actually an issue with this library before I can spend time debugging. Have you tried the ideas from the linked StackOverflow thread in your

[2021-08-16 13:10] TrejGun commented on #291
to move the mouse? yes i did :D does not help

[2021-08-16 15:13] sluchznak commented on #176
@pintobikez Hello. How to enable this plugin only for stripe webhook route in nest app? I don't want to bind raw body to each request.

[2021-08-19 06:36] gms1 opened #300 "@golevelup/nestjs-modules: wrong dependencies defined"
currently it defines 'shortid' as dependency:
https://github.com/golevelup/nestjs/blob/31f96fefa2a95b4707d70a59119f11f9d981c50a/packages/modules/package.json

these dependencies are currently in use:
https://github.com/golevelup/nestjs/blob/31f96fefa2a95b4707d70a59119f11f9d981c50a/packages/modules/src/dynamicModules.ts
[code]

[2021-08-19 14:57] rafaelcorreiapoli commented on #279
I'm also having the same issue.
@ApizrTech did you manage to solve it ?

[2021-08-26 15:49] aitormunoz commented on #243
+1 for this request. At least if it's not supported, it would be fine to show an error...

[2021-08-26 15:52] aitormunoz commented on #243
@Scrib3r For now I solved it like this.

Inside uploadFile method:
[code]
Hopefully help you

[2021-08-26 15:55] Scrib3r commented on #243
@aitormunoz Thank you!
But I've started to use without **Unit of work pattern** and prayed to God for consistent saving data without transactions. 😞

[2021-08-26 16:09] WonderPanda commented on #243
What ORM are you using for UoW? Does the service that handles the RabbitMQ message call out to a bunch of other services that all make changes or could you just not open up a new UoW and then flush it manually?

[2021-08-30 13:13] arslancharyev31 opened #303 "Conditionally import `HasuraModule` based on value from `ConfigService`"
Hello.

The documentation regarding [Automatic Hasura Metadata Synchronization] states that:

It is quite trivial to do so with `process.env.NODE_ENV`, since it is available outside of the Dependency Injection framework, but what if we wanted to set the condition based on the value from Nest's `ConfigService`, which is available from within the DI? I know that if we use `HasuraModule.forRootAsync`

[2021-08-30 14:21] WonderPanda commented on #303
Are you trying to conditionally enable/disable the entire HasuraModule? Or just the configuration which causes it to try and automatically synchronize your Hasura metadata?

The HasuraModule needs to be included in imports if you want to be able to process events inside your application

[2021-08-30 14:26] WonderPanda commented on #292
I think that I am confused about what you are trying to accomplish. In your example, what should happen with the method:
[code]

Does this method receive messages?

[2021-08-30 15:24] arslancharyev31 commented on #303
I am actually unsure about it, now that you asked it. Is there any use to it other than to automatically synchronize Hasura metadata? If that's all it does, then yes, I want to disable the entire module since it would not be needed for the production. I wanted to do it using the `ConfigService`, but could not find a way.

[2021-08-30 15:30] WonderPanda commented on #303
The HasuraModule provides the necessary components to actually receive event payloads from Hasura and then route them to the correct service so that they can be handled by your custom business logic. If you do not include the HasuraModule in your imports then you will not be able to process events.

The section you linked in your original comment from the docs is referring specifically to the `man

[2021-08-30 15:35] arslancharyev31 commented on #303
OK, now it makes perfect sense. The `ConfigService` is available at the `managedMetaDataConfig` section as a DI as well, which answers my initial question. I am very grateful for your help.

[2021-08-30 16:12] WonderPanda commented on #303
No problem, glad I was able to help out :)

[2021-08-30 16:12] #303 closed, assigned to nobody

[2021-08-30 18:31] #300 closed, assigned to nobody

[2021-09-01 17:12] JacobT14 commented on #23
@WonderPanda I have a specific example that I am running into and @mabuonomo was going down the same path I am going down (and to no avail).

Basically, rather than just getting the message in our consumers, we want to receive some sort of context.  In our specific example, we want to set an integrationId(or more simply a groupId), but this grouping is figured out inside of the consumer, not befor

[2021-09-02 12:54] gallak87 opened #308 "Question about RmqSubscribe handler and serial message pattern"
Hi - is there any example pattern to have a subscribe handler process messages synchronously based on some hash?

I can think of a way to do it with a thread pool, basically grab the message, hash the id with a modulo 3 for example, and have a thread consuming each of the buckets to synchronously handle this message - but before I implement this by hand in my typescript pkg, I was wondering if the

[2021-09-02 18:38] WonderPanda commented on #308
No existing functionality exists in the current package for this. To be honest, I've never heard of someone trying to accomplish something like this before inside the handlers.

Could you use https://github.com/rabbitmq/rabbitmq-consistent-hash-exchange instead and then just limit the count of retrieved messages on the consumer to 1 so that it is processed synchronously?

[2021-09-02 18:46] WonderPanda commented on #23
@JacobT14  I can definitely see the use case for this and think it woulds be a fantastic addition. Unfortunately I've had almost no time lately to look into improvements on the RabbitMQ side of things as I'm no longer using it for my day job which makes it difficult to context switch and prioritize. Any chance you feel like taking a crack at implementing a custom context for RabbitMQ messages? It

[2021-09-02 19:03] JacobT14 commented on #23
@WonderPanda I'll be honest, I'm somewhat new to nestjs, so I'm not really sure where I would start.  The closest I would get would be just figuring out the reflection stuff inside of the handleMessage function(essentially just following how they handle it internally), but I'm not sure if that's actually what needs to happen.  So, if you provide some initial guidance I might look into it, otherwis

[2021-09-02 19:15] WonderPanda commented on #23
@JacobT14 No worries, my first hunch would be to take a look at the `ExternalContextCreator` as its how we currently wire up the RabbitMQ handlers to the NestJS pipeline https://github.com/golevelup/nestjs/blob/46e6f93f190db29bbc4348b1e0b6a686b67dbb30/packages/rabbitmq/src/rabbitmq.module.ts#L127

Nest has a few built in context types for HTTP, RPC, and GraphQL already so I definitely think it sho

[2021-09-03 00:42] TrejGun commented on #291
this is not related to your code mate, cheers

[2021-09-03 00:42] #291 closed, assigned to nobody

[2021-09-05 11:26] pedramaghasian opened #309 "customize the properties"
Hello,
please add the ability to customize the properties or add new one.

thank you .

[2021-09-05 14:38] guohui666 commented on #292
I may not have described it clearly, This is my current code,

I use `createRpc` to create  a new `exchange`

[code]

now the handler is `() => Promise.resolve()`   because this is a special queue , I don't need a consumer , I want all messages to go to the `deadLetterExchange` when they expire， so I added a new parameter `needConsumer `to control whether to create consumer and change the source c

[2021-09-05 23:05] fasenderos commented on #176
That's how I managed to enable this plugin only on one route:

[code]

[2021-09-08 15:04] WonderPanda commented on #309
@pedramaghasian Can you please elaborate on what you're looking for here? I assume this has to do with RabbitMQ?

[2021-09-08 15:10] WonderPanda commented on #292
I don't think you should be using `createRpc` for this at all. Can you just create the necessary queue using the AmqpConnection directly?

Alternatively if you basically just need this code:
[code]
You could just move this to a new public method called for example `bindRoutingKeys` and then it can be reused inside of `createRpc` as well as in your own code

[2021-09-09 14:06] mohsensaremi opened #310 "Keep unack messages in queue and disable requeue"
I have a message listener like this:
[code]
If the validation fails. It will requeue the message again and again and fails millions of times.
If I change the `errorBehavior` to `MessageHandlerErrorBehavior.ACK` or `MessageHandlerErrorBehavior.NACK`, the message will be deleted and gone forever.

I need a way to keep the unacked messages in the queue.

How can I keep them in queue but do not requeu

[2021-09-09 14:11] WonderPanda commented on #310
Your best bet would be to set up a [dead letter exchange/queue](https://www.rabbitmq.com/dlx.html) which nacked messages will be automatically sent to. Then you can decide what you want to do with these messages as part of your application logic

[2021-09-10 12:36] guohui666 commented on #292
You're right, I can pull this logic out and use it, I'll try it this way, thx

[2021-09-10 13:52] WonderPanda commented on #292
@guohui666 I think that this could be useful to expose from the AmqpConnection so if you try it out and it works for your purposes I'd gladly accept a pull request

[2021-09-12 06:04] mohsensaremi opened #311 "Using rabbitmq_delayed_message_exchange for delay message not work as expected"
I registered `RabbitMQModule` like this:
[code]

and publish messages like this:
[code]

But this message will execute right after publishing and will not wait for 10 seconds before executing.
Am I doing something wrong?

[2021-09-16 14:59] #310 closed, assigned to nobody

[2021-09-16 15:00] WonderPanda commented on #309
Closing for lack of information. Feel free to open again if there's more context for what you're trying to accomplish and what the desired API might look like

[2021-09-16 15:00] #309 closed, assigned to nobody

[2021-09-17 13:36] WonderPanda commented on #215
@productfrontenddeveloper I recently did a video workshop for Hasura + NestJS integration. The repository is available here:
https://github.com/WonderPanda/hasura-nestjs-workshop

[2021-09-17 13:36] #215 closed, assigned to nobody

[2021-09-19 08:32] Deigmin opened #312 "Rabbit queues"
Hello. My problem is I just want to point to queue I want to subscribe without writing exchange and routing key because I don't need them.  Is it possible doing this anyhow?
I want something:
[code]

instead of :

[code]

[2021-09-20 00:38] WonderPanda commented on #312
If you just want direct queue connection you might just want to use the built in NestJS RabbitMQ support.

Usually exchanges help to ensure your application is built well which is why this library was created, but they are not a requirement

[2021-09-20 20:11] #312 closed, assigned to nobody

[2021-09-22 09:12] eduscrakozabrus commented on #311
To fix it: change in your module
 type: 'topic'  ->  type: 'x-delayed-message'

And install before plugin, if not dot it

RabbitMQModule.forRoot(RabbitMQModule, {
            exchanges: [
                {
                    name: 'my-cool-delayed-exchange-name',
                    type: 'x-delayed-message',
                    options: {
                        arguments: { 'x-delayed-type': 'd

[2021-09-22 09:59] mohsensaremi commented on #311
@eduscrakozabrus Thank you.
I am closing this issue.

[2021-09-22 09:59] #311 closed, assigned to nobody

[2021-09-22 16:01] WonderPanda commented on #311
@eduscrakozabrus Thanks for chiming in here :pray:

[2021-09-22 16:03] WonderPanda commented on #308
Closing for lack of information right now. Feel free to reopen if you have a chance to look at the consistent hash exchange or provide some more information about what's needed here

[2021-09-22 16:03] #308 closed, assigned to nobody

[2021-09-23 15:54] vinaybedre opened #315 "[Question] Multiple handlers for a queue separated by routing key"
Hey,

Is it possible to do something like following with golevelup/rabbitmq within the same module?
[code]

[2021-09-23 16:09] vinaybedre commented on #315
If this is not possible, does it mean that by using golevelup/rabbitmq, we can only tie one method to an entire queue?
What is the reasoning behind this? Should I need to use different queues for various purpose of communication between 2 parties?

[2021-09-23 17:23] WonderPanda commented on #315
Queues in RabbitMQ are lightweight and they are intended to be purpose driven. There is no benefit to to reusing the same queue for multiple handlers. A typical application that's properly leveraging RabbitMQ would have dozens if not hundreds or more queues.

A single RabbitMQ node could potentially handle tens of thousands of queues, see for example https://stackoverflow.com/a/22990200/1364771

I

[2021-09-23 17:24] #315 closed, assigned to nobody

[2021-09-23 18:00] vinaybedre commented on #315
@WonderPanda Thanks for the insights.
I have couple of microservices (8+), which communicate between them either via RPC / Event publishing.
I thought of having 1 queue for 1 service.
I am afraid that having 1 queue per purpose may explode the number of queues I may have say in next 3 to 5 years. (just an estimation).

On the other hand, I do not want to have a single handler per service and use s

[2021-09-23 18:10] WonderPanda commented on #315
I don't think number of queues should be a concern for you at all unless you think that it could increase to be hundreds of thousands or millions

[2021-09-24 09:06] eduscrakozabrus commented on #315
@RabbitSubscribe({
    exchange: 'messenger',
    routingKey: 'user-send-message',
    queue: 'messenger',
  })

и
  @RabbitSubscribe({
    exchange: 'messenger',
    routingKey: 'customer-send-message',
    queue: 'messenger',
  })

there is no difference, the functions are called randomly. Why specify routingKey in the decorator at all. The documentation indicates that the decorator determines w

[2021-09-24 12:17] WonderPanda commented on #315
@eduscrakozabrus You have two handlers which are both bound to the same queue. This is an anti pattern. When you do this, all messages from both routing keys all end up in the same queue, but two handlers are connected to that queue so it is not deterministic which handler will receive the message.

The only way to safely re-use the same queue is if you add conditional logic inside the handler to

[2021-09-24 12:18] WonderPanda commented on #292
Closed as it appears that the main issue is resolved

[2021-09-24 12:18] #292 closed, assigned to nobody

[2021-09-24 13:04] j-schreiber opened #316 "Subscribe to queues without knowing the exchange and binding key (e.g. default exchange)"
Hey all, I am having real troubles understanding how golevelup expects me to know the exchange and routing key in advance, when I simply want to consume messages from a particular queue. As I understood it, the  `@RabbitSubscribe` decorator requires an `exchange` and `routingKey`, as shown in the example above:

[code]

I understand, that golevelup dynamically creates the binding. But what happens

[2021-09-24 13:27] WonderPanda commented on #316
I think you probably want to use a `direct` exchange. https://www.rabbitmq.com/tutorials/tutorial-four-javascript.html

I'm a bit confused about some of your other requirements though. It sounds like you're still required to know the names of queues ahead of time so there's still some burden of "knowing" the the destinations for things.

[2021-09-24 13:56] j-schreiber commented on #316
Hey @WonderPanda  thanks for responding so quickly! Yes, the direct exchange is useful, but in most of my use cases it's not necessary. Instead, I would like to use the [default exchange](https://www.rabbitmq.com/tutorials/amqp-concepts.html#exchange-default) (which is either "empty string" or `amq.direct`). In that scenario, the publisher implicitly knows about the destination queue (even though

[2021-09-24 14:02] WonderPanda commented on #316
Its not currently supported but I don't think it would be a big change. Are you interested in contributing this functionality? You would just need to update the decorator to make `exchange` and `routingKey` optional properties and then update the `setupSubscriberChannel` method in connection.ts to provide default values if no values are explicitly provided

[2021-09-24 16:37] j-schreiber commented on #316
Absolutely. I am still a novice with NodeJS/Typescript, but I will try my best to prepare a PR.

[2021-09-24 16:37] WonderPanda commented on #316
@j-schreiber No problem :) Feel free to ask if you have any questions and I can provide assistance

[2021-09-27 07:45] weedget commented on #316
@WonderPanda do you have any plan/timeframe when you would like to prepare it? I'm also interested in this and maybe I can help somehow (for sure in testing this case).

[2021-09-27 08:04] j-schreiber commented on #316
I plan to prepare the PR this week. We will see, if WonderPanda will approve it 😆 .

[2021-10-02 21:03] PainteR commented on #297
I also encountered this problem. It happens because the module uses an outdated version of "graphql-request": "^1.8.2", which only supports global headers.

[2021-10-06 00:17] #316 closed, assigned to nobody

[2021-10-06 00:21] WonderPanda commented on #316
Thanks for the contribution. These changes are published and available in `@golevelup/nestjs-rabbitmq@1.18.0`

[2021-10-06 12:57] #297 closed, assigned to nobody

[2021-10-06 12:59] WonderPanda commented on #297
@leanpilar @PainteR fixed in `@golevelup/nestjs-graphql-request@0.1.7`

[2021-10-14 14:25] nidomiro opened #322 "RabbitMQ: dynamic Subscription"
I'm trying to make the topic of a subscription configurable [via NestJs Module-Initialization].

The problem is, decorators cannot use values available at Object creation time.

Is there a way to create a Subscription 'manually' and keep the benefits of the Decorator-variant (automatic reconnect, ...)?

[2021-10-14 14:29] WonderPanda commented on #322
This is a major shortcoming of the NestJS configuration system and why I strongly suggest that configuration should occur separate from DI/Module initialization. The config package `@golevelup/profiguration` which I use for my own projects specifically gets bootstrapped at the start of your application before any imports are evaluated so you can actually use it to configure decorators.

If you wan

[2021-10-14 14:42] #322 closed, assigned to nobody

[2021-10-18 14:57] federicogatti opened #324 "RabbitMQ: inject @RabbitSubscribe decarator properties from .env"
I need to inject different properties in @RabbitSubscribe() decorator based on my ._env_ file likes

[code]

Actually I'm not able to inject the properties using the process.env variable or using the NestJS Config Service.

Can you explain me how do that? I don't find anything in the documentation

[2021-10-18 14:59] WonderPanda commented on #324
This is not an issue with this library and is a symptom of how Config loading is done with NestJS. Please follow up with discussion here: https://github.com/golevelup/nestjs/discussions/323 where someone is asking similar quesitons

[2021-10-18 14:59] #324 closed, assigned to nobody

[2021-10-18 15:02] WonderPanda commented on #324
I have updated the answer in the linked discussion to provide two different ways to accomplish what you're looking for. Please continue discussion there if the answers are not sufficient for your use case

[2021-10-22 12:09] ivorpad opened #326 "Add support for dispatching scheduled events with an injectable service"
I read the code in #182, but it does not explain how to use it, and the documentation does not provide any information.

I noticed it detects if the event is a Hasura Scheduled Event with:

[code]

And all it does is allow to pass the event with:

[code]

But you need to handle your own insert via `POST /v1/query` and pass a body with a `create_scheduled_event` type — am I right?

[2021-10-25 12:42] WonderPanda commented on #326
@ivorpad Please see the docs here:
https://github.com/golevelup/nestjs/tree/master/packages/hasura#automatically-synchronize-hasura-metadata

You need to use the `TrackedHasuraEventHandler` decorator which will automatically update your `metadata` files. After that you just need to run `hasura metadata apply` in order to synchronize the changes. You do not need to use any APIs eg `create_scheduled

[2021-10-25 23:44] ivorpad commented on #326
@WonderPanda Please don't close this, I've read the docs.

The `TrackedHasuraEventHandler` decorator doesn't take an `scheduled_time` option. e.g. `HasuraScheduledEventPayload` — in fact, I don't think this interface is being used ? only in this test.

https://github.com/golevelup/nestjs/blob/bcb6fc6b4294ac2200f7b85a0c4ccd62bfec5782/packages/hasura/src/tests/hasura.event-handling.spec.ts#L154-L169

[2021-10-26 00:38] WonderPanda commented on #326
@ivorpad Its in the Readme under the section called [Registering Scheduled Event Handlers](https://github.com/golevelup/nestjs/tree/master/packages/hasura#registering-scheduled-event-handlers)

You just use the `TrackedHasuraScheduledEventHandler` decorator for scheduled stuff.

[2021-10-26 13:32] ivorpad commented on #326
@WonderPanda I think you're confused, It is not the same. How would you pass a `scheduled_time` to `TrackedHasuraScheduledEventHandler`? It takes a `cronSchedule` config option and not a `scheduled_time`.

https://github.com/golevelup/nestjs/blob/51609a9225748752153e831ffbf1041cb168144b/packages/hasura/src/hasura.decorators.ts#L26-L35

https://github.com/golevelup/nestjs/blob/51609a9225748752153e8

[2021-10-26 13:39] WonderPanda commented on #326
Are you trying to schedule a one off scheduled event using a decorator? I don't see how it would make sense at all to do that. Decorators are evaluated once during code import when the application boots up so everytime your application starts up it would schedule a new event at a hard-coded time? What value would you put in the `schedule_time` if you were going to do this? Would you be constantly

[2021-10-27 06:25] ivorpad commented on #326
@WonderPanda

And this was my question 😋

Alright I'll think in something. Would you like me to give it a try and send a PR with this feature?

[2021-10-27 12:56] WonderPanda commented on #326
Sure, if you feel like trying to build this feature I would gladly take contributions

[2021-10-27 15:46] 3fd opened #328 "RabbitSubscribe not setup correctly when routingKey is empty string"
No messages are received for a fanout exchange subscription with
[code]

This is a regression introduced in #317

https://github.com/golevelup/nestjs/blob/master/packages/rabbitmq/src/amqp/connection.ts#L441

[2021-10-27 15:48] WonderPanda commented on #328
I'll try and get a fix out for this after work this evening

[2021-10-30 23:34] #328 closed, assigned to WonderPanda

[2021-10-30 23:36] WonderPanda commented on #328
Fix is available in @golevelup/nestjs-rabbitmq@1.18.1

[2021-11-03 22:41] renato-spaka commented on #138
@iamonkey & @WonderPanda , this discussion is so rich, thank you.

Nevertheless, I have my own questions about this:
Where and when should I set QueryOptions (expires, deadLetterExchange, deadLetterRoutingKey)?
Where is the definiton of `amqplib.Options.AssertExchange` (what are the values?) for RabbitMQExchangeConfig?

[2021-11-08 17:44] rishabh-banknovo opened #334 "Multiple concurrent consumers and Prefetch Count at queue level"
I want to spin up multiple consumers count and also want to add prefetch level at queue level. Please advise.

[2021-11-09 05:04] omermorad opened #335 "Suggestion: implementing auto-mocking capabilities"
Hi,

The `testing` package in `golevelup` is great, the easy functionality of `createMock` makes it easy to mock things without any effort; @jmcdo29 - saw your issue at nest repo (https://github.com/nestjs/nest/pull/6277 - _feat(testing): add auto-mocking capabilities_) and thought maybe I can implement it, so I did.

My questions are (1) Do you still want this feature? (2) Is this the right repo

[2021-11-09 05:06] jmcdo29 commented on #335
Oh! That's a cool way to go about it actually. There's an open PR in Nest's main repo to add this Auto mock kind of setup as well. I need to bring it back up and see what else we want to do on it

[2021-11-09 05:20] omermorad commented on #335
Thanks :))

Nice! Let me know if you wanna see the code, it's short.
Actually the more I think about it - it feels like it should be separated from nest's repo, it feels like it is something extra (exactly like `createMock` does) that needs its own package (and treat it as an extra)

The PR is open a long time for a while by the way :|

[2021-11-10 17:40] WonderPanda commented on #335
@omermorad If you have a more general purpose NestJS wrapper for testing I'm definitely open to including it in this repository.

At the moment the mock functionality lives inside `@golevelup/ts-jest` which is just a general purpose mock that really doesn't have anything to do with NestJS. I don't think I'd want to update that package to take on any Nest related dependencies since the library is u

[2021-11-10 19:02] omermorad commented on #335
@WonderPanda yes, you are totally right, the original package is for general purposes, so it doesn't make sense to add nest dependencies there.

Sounds good, so do you want me to create a fresh new PR that adds a new package called `@golevelup/nestjs-testing`? I'm almost finished with it

Another thing - what do you think about adding Mocha/Sinon support (maybe Sinon stub function) to the original

[2021-11-10 19:13] WonderPanda commented on #335
I'm definitely open to it assuming that we can get the type safety guarantees on feature parity with what is in `ts-jest`. We might need to rename that package too though to just be `ts-testing` or something if its going to support a bunch of different runners/frameworks beyond jest

[2021-11-10 21:53] omermorad commented on #335
But it's for nestjs specifically, I'm using the `Reflector` there

[2021-11-10 21:58] WonderPanda commented on #335
Yeah, I understand. I think that we definitely want to have a dedicated package for the NestJS testing eg `@golevelup/nestjs-testing` which can handle anything to do with Reflector or any other NestJS dependencies.

In my previous comment I just meant that if you were looking at adding in functionality to the existing package `@golevelup/ts-jest` to support other frameworks eg mocha/sinon we shoul

[2021-11-10 22:14] omermorad commented on #335
Ok, got you.
Sounds good, I will create two different PR's and we will discuss everything there(?) :)

[2021-11-11 07:55] TheToiletsWar opened #336 "Subscribe to the decorator to receive messages"
I subscribed to a queue but I did not receive a message on my console.

![image](https://user-images.githubusercontent.com/65486245/141258391-2a139296-fabe-47e0-aa06-882c396feba2.png)

 I saw in the rabbitmq UI that the message was received but Unacked
![image](https://user-images.githubusercontent.com/65486245/141259073-8ac0ef84-c18e-4b47-ba54-de21f4dcd0a7.png)

After searching for a period of ti

[2021-11-11 13:21] WonderPanda commented on #336
Please share the code for the Guard so that I can see what the logic is doing inside. You should probably just update it so that it allows messages originating from RabbitMQ to pass through

[2021-11-11 13:21] WonderPanda commented on #335
That sounds awesome, thanks @omermorad!

[2021-11-11 13:22] omermorad commented on #335
😎😎

[2021-11-12 01:01] TheToiletsWar commented on #336
This is the internal logic of my guard. I use the context object to get the request. I used the console to output this request when I looked for the problem before, and found that the message from RabbitMQ has been printed in the console loop.

![image](https://user-images.githubusercontent.com/65486245/141389956-21177283-7f58-496b-b1ed-550b269e9f4b.png)

This is my guard scope property set to def

[2021-11-12 01:14] WonderPanda commented on #336
You need to add some custom logic in here to skip the guard and return early if the ExecutionContext belongs to RabbitMQ. You can see a similar example for interceptors here in the docs: https://github.com/golevelup/nestjs/tree/master/packages/rabbitmq#usage-with-interceptors

Basically you should be able to just do:

[code]

[2021-11-12 02:28] TheToiletsWar commented on #336
Thank you for your help, it is very useful. The reason for this problem should be that I ignored part of the document。

[2021-11-12 12:49] WonderPanda commented on #336
No worries!

[2021-11-12 12:49] #336 closed, assigned to nobody

[2021-11-13 11:46] farzadso commented on #221
I wish we didn't have to `export` it. Other libraries (e.g., the `@nestjs/mongoose` library) don't require this extra `export` line. I think the reason is that the `RabbitMQModule` itself doesn't directly export the `AmqpConnection`.

I chose not to go with this model and create a service for my wrapper module that exposes functions that `create` or `read` messages.

[2021-11-15 06:07] omermorad commented on #335
@WonderPanda I want to draw your attention to something; I've made a little bit of a research (actually "us", thanks @potoos) and [found this package](https://github.com/marchaos/jest-mock-extended) called `jest-mock-extended`, can you take a short look? It seems that they took it a little step further, and I thought maybe to give it a try, but of course, to ask you first.

@potoos (a friend who w

[2021-11-15 18:31] WonderPanda commented on #335
@omermorad It doesn't surprise me that someone has take the automocking further. The current implementation is a pretty small wrapper around Jest. If the other library is objectively better I'm fine to look at using it as the foundation for some NestJS testing utilities

[2021-11-15 20:34] potoos commented on #335
@WonderPanda the main differentiator between the libraries that we've found is the deep mocking capabilities for nested objects. We've found that @golevelup/ts-jest doesn't do this well out-of-the-box.

We couldn't quite understand why createMock didn't stub all of the first-level dependencies and only some. Could be our misuse.
We found that jest-mock-extended's [mock](https://github.com/marchaos

[2021-11-15 21:27] WonderPanda commented on #335
Are you able to show a quick snippet that demonstrates the difference between the two?

[2021-11-16 07:24] omermorad commented on #335
I can try :)

**Example 1**

Take a look on the query runner mock (`queryRunnerMock`), the `mock` function is imported from `jest-mock-extended`

[code]

**Example 2**
In this case the `Spec` class is wrapping `createMock` function (I mean when we call `.mock` function in the builder), and not the function from `jest-mock-extended` (which is called `deepMock`). In this example we had to stub all t

[2021-11-16 12:21] Tam2 commented on #176
The above solution from @fasenderos doesn't seem to work when using versioning - https://docs.nestjs.com/techniques/versioning

Edit - fastify-raw-body v 3.2.0 supports a route array

https://github.com/Eomm/fastify-raw-body/releases/tag/v3.2.0

[2021-11-17 14:38] omermorad commented on #335
@WonderPanda any update?

[2021-11-18 13:48] WonderPanda commented on #335
@omermorad I don't have a lot of time to investigate this further right now, currently trying to get a side project into market. If the functionality of `jest-mock-extended` works out better for what you're trying to accomplish I have no issues with using that as the foundation for a Nest testing package and am more than happy to help you incorporate it into @golevelup or if you'd prefer to publis

[2021-11-18 20:48] annakopp opened #338 "update to use new nestjs/common version to get rid of axios vulnerability"
https://github.com/nestjs/nest/issues/8114

[2021-11-25 01:51] jmcdo29 opened #339 "createMock: Unexpected Matcher (Again)"
When using `@golevelup/ts-jest` with Nest's new [`autoMock` feature](https://docs.nestjs.com/fundamentals/testing#auto-mocking), if no return or resolve value is provided for the mock, then jest provides a rather strange error message.

[code]

I've found that this _is_ because there's no mock return value from the mock created by `createMock`. You can see the setup in the [`test.ts `](test.ts) fi

[2021-11-30 14:35] Scrib3r opened #341 "How to use custom logger in AmqpConnection"
Hello everyone. I have next configuration of Rabbit module in my app.module:
[code]

I have disabled logger in my main.ts with next buffering:
[code]

But how I received a lot of logs from AmqpConnection.ts. I see that it use `Logger` class from `nestjs/common`. But can I use another instance of logger? For example, `MyLogger` from example?

[2021-12-15 00:59] jlally21 opened #343 "Setting of "arguments" in "queueOptions" object not working correctly"
Hello,

I am setting `arguments` in the `queueOptions` object like:

[code]

 Both the queue ("TEST_QUEUE") and bind to exchange ("EVENT-BUS-MAIN-HEADERS-EXCHANGE") are created, but the arguments remain empty.
 `arguments: { 'x-match': 'all' }` Is that the correct format?

 I tried finding example code online that sets the `arguments` field, but could not find any.

![image](https://user-images.gi

[2021-12-15 09:30] dany-nrich opened #344 "Undefined services on scope transient"
I have an issue when using scope transient.
It prevents the injected services from being injected at all and therefore all dependencies are `undefined`.

I am aware of a [similar issue](https://github.com/golevelup/nestjs/issues/243), but the issue here is with scope transient, which unlike scope request, should not be related to http requests.

Bare-bones example:

[code]

If no scope is given (m

[2021-12-15 11:36] yogiGueta opened #345 "deadLetterExchange and deadLetterRoutingKey are not working?"
I am trying to implement a retry mechanism, so I tried to use deadLetterExchange and deadLetterRoutingKey in my consumer, but when I put those params and restart the service,  the service is stuck and did not finish the initialization step.

After some investigation its looks like Rabbit service is stuck on an infinite loop in the function:
node_modules/@golevelup/nestjs-rabbitmq/lib/amqp/connecti

[2021-12-17 14:17] #343 closed, assigned to nobody

[2021-12-21 11:52] ChrisDoernen opened #347 "ExternalContextCreator dependency missing"
Hi there,

I'd love to try out this package as it seems to really fill the gap that the official NestJS microservice/rabbitmq transports are leaving.

Unfortunately I get the error that Nest can't resolve ExternalContextCreator as a dependency of RabbitMQModule.

I am importing the RabbitMQModule directly in the AppModule.

Version is latest (1.19.9).

I am on Nest 8.0.0 for @nestjs/common and @ne

[2021-12-21 12:32] ChrisDoernen commented on #347
#342

[2021-12-22 14:00] christopheblin opened #348 "changing queueOptions will crash next restart"
Let's say you have a subscriber like this

[code]

You push the app to prod, everything is fine (exchange created if it does not exist, queue created if it does not exist, binding betwen queue and excahnge)

now, you change an option like deadLetterExchange

[code]

The app will not start :
[code]

I know this is the expected behavior from RabbitMq perspective (i.e multiple consumers may be bound

[2021-12-22 14:07] WonderPanda commented on #348
These types of situations are tricky for a general purpose library because what might be appropriate for your scenario (in terms of delete + recreate) could be terrible for someone else.

I think that the best option (although it increases API surface) is to have an additional option inside `RabbitSubcribe` that allows you to specify custom behavior/error handling for when asserting the queue fail

[2021-12-22 15:01] christopheblin commented on #348
WDYT about this :

[code]

[code]

[2021-12-23 05:53] foxted opened #351 "Custom logger for nestjs-hasura"
Hi there,

Is there a way to override the default logger in nestjs-hasura? Would like to extend it to use our custom logger but I don't really know how.

We are sending json logs to Google Cloud Logging, would love to use the same format, but the custom logger isn't picked up by the module. Ex.:

[code]

We can see in the example that the logs are shown using Nest.js default logger instead.

Thank

[2021-12-23 11:49] in-emilio opened #352 "Validation of message payloads structure"
I tried to validate message payload structure using class-validator dtos and it does not work. Anyone who knows how to solve this?

[2022-01-03 20:49] annakopp opened #355 "Multiple stripe webhooks"
Is it possible to set this up to work with two different webhook endpoints? (I need one for connect accounts & one for direct accounts.)

[2022-01-05 09:06] bogulean commented on #341
Hello, same here, the ability to override default logger would be much appreciated. Or at least a workaround...

[2022-01-10 09:11] Mi-lex commented on #246
Can you write a brief example of such module ? Did not quite get how I can export entire module.
I wrote something like this:

[code]

I assume that is not what u meant.

[2022-01-10 13:10] underfisk commented on #352
Which packages are you using in order to validate the DTO? If possible could you provide a snippet/repro?

[2022-01-10 13:12] underfisk commented on #351
I think we can create a factory for the logger so that you can use your own logger like the official Nestjs core package does
Would you like to create a PR for that? I can do that if you prefer

[2022-01-10 13:17] underfisk commented on #341
I'll take a look into this matter and see if we can provide a custom logger
@Scrib3r The code looks right to me but we do not use the logger defined for Nestjs, we could but i think having a factory would be better and give you more flexibility.

[2022-01-10 20:03] CarsonF commented on #355
You can setup stripe with one webhook url and use mulitple `@StripeWebhookHandler` with different events

[2022-01-10 20:07] annakopp commented on #355
@CarsonF That's what I was doing initially but then I needed to create a webhook that used stripe connect (stripe sends different events to direct vs connect webhooks).

I think I can create the 2nd webhook to hit the same endpoint, but the webhook secret will be different, so that won't work.

[2022-01-10 20:14] CarsonF commented on #355
Ahh my bad you're right.

I think you could configure the module twice with a different controller prefix. The decorator uses their discovery library which I believe is global, so both modules would find all handlers. Each webhook controller though would use its own signing secret verification first.
Worth a shot.

[2022-01-11 21:20] underfisk commented on #351
After investigating this request I have found no need on having a custom logger as a config property, there's a better way on having a consistent logger across the nestjs app which is overriding nestjs default logger.
If you use `useLogger` it will override the logger factory which means when nestjs hasura module instantiates its logger instance it's going to use your custom logger, therefore, all

[2022-01-12 07:13] Scrib3r commented on #341
@underfisk It sounds good. I think that having a logger factory for external modules such as this is a good idea. May be would it be a factory with implementation specific interface for logger?

[2022-01-12 11:53] underfisk commented on #341
As i have explained in one of the issues that have requested the same feature for the hasura module, if you override Nestjs logger all the instantiated loggers from our rabbitmq package will directly stream the logs to your custom logger, now i haven't checked in-depth but from some small tests, all my amq goes through my custom logger

[2022-01-12 11:55] underfisk commented on #344
@dany-nrich We're not sure that nestjs 8 works correctly yet with our current version, that's my primary goal soon to make sure we do support it because there are really good changes
Can you give us a repro? Also could you try using the same nestjs version we're using at this moment just to make sure it's not something new?

[2022-01-13 01:29] foxted commented on #351
My code does use `useLogger`, but for some reason it doesn't seem to work:

[code]

Here's what I get:

[code]

[2022-01-13 02:13] foxted commented on #351
For some reason, I installed `@golevelup/nestjs-modules` explicitly and now the logging works as expected :)

[2022-01-13 02:16] foxted commented on #351
Confirmed, installing `@golevelup/nestjs-modules` explicitly did the trick, it works as expected:

[code]

I'm gonna close this for now 👍🏻

[2022-01-13 13:22] AnanthGopal opened #360 "Is it possible to Subscribe multipe row?"
Hi @WonderPanda

Below code, i used to Subscribe data from Rabbimq, but i got only one row from rabbitmq, but I need to receive bulk rows, Is it possible?

[code]

[2022-01-13 13:30] underfisk commented on #360
@AnanthGopal What do you mean by rows? Do you mean that your payload dto is a row data format? I'm not sure if you want to receive multiple rows (in the context that you're talking about your DTO) or that you want multiple events to be consumed at once by the subscriber?
When a message is sent, it is singularly consumed

[2022-01-13 13:49] AnanthGopal commented on #360
thank you for your response @underfisk

For example, I received payload data like below
`{"name":"test1"}`

But i try to receive payload as an array-like below

`[{"name":"test1"},{"name":"test2"},{"name":"test3"}]`

[2022-01-13 13:51] underfisk commented on #360
@AnanthGopal I would advocate making some property `rows` where you have your array but even at the root level it should do just fine. Test something like
[code]

[2022-01-13 13:57] AnanthGopal commented on #360
@underfisk  Can you provide sample code for consume multiple rows ?

[2022-01-13 13:58] underfisk commented on #360
All you have to do is go over your publisher code (where you actually send the rows) and make an object where the rows are inside the `rows` property

[2022-01-13 14:03] AnanthGopal commented on #360
@underfisk  yes i can publish multiple rows to Rabbimq but I want to consume or receive or subscribe multiple rows from rabbitmq(Now I receive one by one row from Rabbbimq queue)

[2022-01-13 14:05] underfisk commented on #360
@AnanthGopal I will have to play around with what you're trying to accomplish, could you create a github repro containing a sample code so i can fetch the project and take a look?

[2022-01-13 20:09] WonderPanda commented on #360
@AnanthGopal Are you referring to treating messages as an RXJS Observable?

[2022-01-13 20:11] WonderPanda commented on #355
I'd definitely try out the suggestion provided by @CarsonF first and see if it works out for you. In a future version we might be able to provide support for multiple configurations with some kind of name value that allows you to correlate webhook handlers to only be linked to the specific signing secret that matters for them.

Are there any major differences between connect accounts and direct ac

[2022-01-13 20:22] WonderPanda commented on #352
@in-emilio As underfisk mentioned we need more information here. How are you attempting to use class-validator? Are you using Pipes or Interceptors, or something else?

[2022-01-15 14:17] iangregsondev opened #361 "Update documentation to explain that a Type is needed for typescript to get "options" of an exchange working."
Hi,

Great library!

Maybe we could update the documentation, I had to install the following to get code completion working on options of an exchange in the Options

[code]

Cheers

[2022-01-19 11:05] L-U-C-K-Y opened #362 "Is it required to define the exchange and pseudo queue for direct reply-to?"
Hi all

Thanks for this great library, we just learned about it as we run into limitations of the `@nestjs/microservices` lib.

While reading the docs, I saw that the `direct reply-to` feature is used and I was wonder why a queue is defined in the below example:

[code]

According to the rabbitmq docs:

As I understand it from the docs, no queue is required and the default exchange can be used.
If

[2022-01-19 13:10] #362 closed, assigned to nobody

[2022-01-19 17:32] annakopp commented on #355
I think that's the only difference as far as I understand.

[2022-01-19 19:41] underfisk commented on #361
@iangregsondev Thanks for brining this up, i can take a look but i'll need a clear repro if you can provide one to understand exactly what this provides

[2022-01-19 19:49] iangregsondev commented on #361
It provides typescript types, without it there is no code completion on the "options"

I can get a repo to you but it will be the weekend..

But in your code you have

[code]

But with no types, there is no code completion on

![image](https://user-images.githubusercontent.com/2370364/150202955-f8819859-cbbf-4490-a646-b3f334d4ec18.png)

Once you have it installed then you can see it here

![image]

[2022-01-19 19:50] underfisk commented on #361
Thanks, i see the problem now and i think we can actually incorporate the types

[2022-01-19 19:56] iangregsondev commented on #361
No worries, as I say if I install them in my own project then it works..

Ohh, I noticed one other thing as well, its not urgent - well none of these are, everything works great..

But there is a definition of "channels" that you can pass, there are no types fro this i.e.

![image](https://user-images.githubusercontent.com/2370364/150203846-082c20a7-3d4c-49ae-bccc-e18e0cb57f87.png)

Thanks again f

[2022-01-20 20:47] underfisk commented on #361
#367 contains an improvement on how the types are being imported and its already merged to master so once @WonderPanda is available to deploy a new version you'll be able to see the types being working as expected

[2022-01-20 21:32] #341 closed, assigned to nobody

[2022-01-21 09:26] underfisk commented on #338
Will be addressed at #342

[2022-01-21 09:26] #338 closed, assigned to nobody

[2022-01-21 09:28] underfisk commented on #335
The auto mock will be available when #342 is released

[2022-01-21 09:30] underfisk commented on #200
I'll be working on this issue alongside what was proposed at #203

[2022-01-21 09:31] underfisk commented on #192
I'll be taking a look into exposing this to also be compatible with Terminus, @ssilve1989 thanks for also sharing your implementation

[2022-01-21 09:32] underfisk commented on #143
Alongside with Nx i would suggest `pnpm`, i can have a PR soon for this after we release the next version that supports nestjs v8

[2022-01-21 09:34] underfisk commented on #29
@WonderPanda Nestjs exposes a load package util which allow us to lazy load this module and also ask the consumer to provide us with the module instead, if that's the expected behaviour i can make the change

[2022-01-21 09:34] #347 closed, assigned to nobody

[2022-01-21 09:34] #335 closed, assigned to nobody

[2022-01-21 09:37] underfisk opened #369 "RabbitMQ controllers support"
Previously I had suggested that we migrate to microservices adapter, well the way that microservices packages work with what we have as services is using controllers which gives the developer more flexibility to leverage things such as pipes, guards, etc etc

My proposal here is to support both services and controllers and help people to slowly migrate (having two ways of defining handlers etc can

[2022-01-21 09:39] underfisk commented on #176
By default we use express adapter for every package that requires it, i can take a look at supporting Fastify, it won't take that much since I've made libraries to support both adapters, if anyone still finds this interesting to become part of the package, I'll gladly implement

[2022-01-21 09:40] underfisk commented on #345
@yogiGueta Could you provide me a repo to setup faster locally? I have removed the code from the comment so that its less confusing

[2022-01-21 09:42] underfisk commented on #348
@christopheblin Can you try the new release version, there was a PR #349 that introduced this feature so let me know if that addresses your concerns

[2022-01-21 09:43] underfisk commented on #334
@rishabh-banknovo You have now the capability to have multiple channels and define `prefetchCount`. If that doesn't help you, i would need a little bit more details

[2022-01-21 09:44] underfisk commented on #251
@iamonkey My proposal #369 will have any rmq decorator being supported within a controller instead of only services.

[2022-01-21 09:47] underfisk commented on #239
@pigant This seems more a higher-level problem not related to how RMQ module manages your connections, you can in fact have a module that leverages the module lifecycle (more specifically the module shutdown) and make sure you disconnect or force to unmount.
The connections are closed once the module is destroyed (https://github.com/golevelup/nestjs/blob/3b18359c5203ab05dd1c06899e772c8065e055bc/pa

[2022-01-21 09:47] #239 closed, assigned to nobody

[2022-01-21 09:49] underfisk commented on #270
@RoniLeshes I'll implement this options but a warning about some other properties such as the correlationId because they can interfere with, a warning would be dispatched in the console if the correlationId is overwritten

[2022-01-21 09:52] underfisk opened #370 "Documentation improvement (https://docusaurus.io/)"

[2022-01-21 10:00] #96 closed, assigned to nobody

[2022-01-21 10:17] christopheblin commented on #348
@underfisk I am the author of the PR so yes it address my concerns :)

I dont have much time to upgrade the libs in our apps right now, but next app will definitively use the new `assertQueueErrorHandler` option

I'll close this issue, feel free to reopen for any concerns you may have

[2022-01-21 10:17] #348 closed, assigned to nobody

[2022-01-21 11:27] jeremylvln commented on #369
It would be neat indeed, one step forward hexagonal architecture \o\

[2022-01-21 13:54] WonderPanda commented on #370
I love this idea. Having a dedicated site built with Docusaurus would be a great addition

[2022-01-21 13:55] WonderPanda commented on #270
I think we should just start with expiration and not allow them to override correlationId until we have a clearer understanding of the use case

[2022-01-21 13:56] WonderPanda commented on #334
I definitely think this is covered by the recent additions of multiple connections. @rishabh-banknovo if it doesn't cover your use case feel fee to open this back up but I'm going to close it for now

[2022-01-21 13:56] #334 closed, assigned to nobody

[2022-01-21 13:58] WonderPanda commented on #29
The intent was to make a dedicated package for the AmqpConnection logic that could be used completely separately from NestJS ecosystem eg `@golevelup/rabbitmq`.

I don't think it's a very important issue right now though. We should probably switch over to NX before we start splitting apart more packages. I'm going to close this for now and we can revisit it again in the future.

[2022-01-21 13:58] #29 closed, assigned to WonderPanda

[2022-01-21 14:00] WonderPanda commented on #143
The biggest thing that I don't have a clear understanding of yet is how we should implement the publishing step with NX. This is currently something that Lerna still does much better as it takes care of incrementing all the version numbers for dependent packages and releasing them together.

Maybe @jmcdo29 has this all figured out now in his Ogma repo?

[2022-01-21 14:02] underfisk commented on #143
He has, he's using https://github.com/changesets/changesets which is great

[2022-01-21 14:03] WonderPanda commented on #143
Cool, does it have an NX plugin integration? Or what is the rough process we would have to follow to integrate it?

[2022-01-21 14:05] underfisk commented on #143
https://dev.to/jmcdo29/automating-your-package-deployment-in-an-nx-monorepo-with-changeset-4em8

[2022-01-21 14:50] WonderPanda commented on #143
I've seen this package mentioned as a good option on the official Nrwl Twitter account: https://github.com/jscutlery/semver

Would be interesting to see what the pros and cons are of this versus a manual setup using changesets

I like that this one is an actual NX plugin as opposed to a lot of glue scripts tying everything together

[2022-01-21 16:30] jeremylvln commented on #143
Oh, I started implementing this a lot of time ago but didn't manage to finish. I've done it today.
Unfortunately, I didn't see the discussion here beforehand, sorry about that. I've opened a PR to migrate to Nx, but I indeed need to work on the publishing step.

**EDIT:** I've added the `semver` plugin and plugged the npm publish integration too. The implementation seems fine, but it should be tes

[2022-01-21 22:10] norberto-e-888 opened #372 "Feature requeset: setting message headers"
Hi,

At my company we have a use case for writing to the message headers to set the following properties:

'x-retry': counter of retries attempts
'x-retry-limit': limit number of retry attempts
'x-delay': number of milliseconds the message should be delayed

could I get some guidance on how this might be achieved using the underlying amqp client, so I can potentially contribute said functionality

[2022-01-22 18:27] underfisk commented on #289
This issues seems to have been fixed, also there was a change on the error behaviour

[2022-01-22 18:27] #289 closed, assigned to nobody

[2022-01-22 18:28] underfisk commented on #208
@ajayprasad1982 This was implemented with the new channels options

[2022-01-22 18:28] #208 closed, assigned to nobody

[2022-01-22 18:28] underfisk commented on #198
@johnico I would need a repro, if you can provide one i'll investigate this further

[2022-01-22 18:39] underfisk commented on #372
@norberto-e-888 This could be achieved during the publish using `headers` property in message properties but our rabbitMQ module isn't forwarding that, i can provide this feature

[2022-01-22 18:43] underfisk commented on #370
I will delay this until we have Nx, there's the following integration (https://www.npmjs.com/package/@nx-plus/docusaurus) that would be worth looking at

[2022-01-23 00:46] #372 closed, assigned to nobody

[2022-01-23 00:52] WonderPanda commented on #372
Thanks @underfisk for super fast turn around to help out norberto. This is available now in `@golevelup/nestjs-rabbitmq@1.21.01`.

Let us know if it accomplishes your goals

[2022-01-23 03:22] norberto-e-888 commented on #372
Thanks a lot for the super fast support. There is just one thing I forgot to mention, our use case requires not only to set headers on publish but also on message re-queueing, meaning when we return and instance of Nack(true). Any ideas on how we might achieve this?

[2022-01-23 22:42] #270 closed, assigned to underfisk

[2022-01-24 10:33] underfisk commented on #372
@norberto-e-888 After testing for a while it seems that the message that is consumed is simply forward but if you wish to customize the error behavior you can do that and provide your custom error handler using `errorHandler` property. If this doesn't help you i can test more in-depth but having a repro by then would be then also useful

[2022-01-24 12:36] shakedo opened #379 "RabbitMQ logging - Unable to replace RabbitMQ logger with an external logger"
In RabbitMQ module, ConsoleLogger (@nestjs/common) is used for logging and by that it's not possible to replace it with an external logger as described here: https://docs.nestjs.com/techniques/logger#use-external-logger

The solution is to use Logger (@nestjs/common) instead of ConsoleLogger in these files:

packages\rabbitmq\src\amqp\connection.ts
packages\rabbitmq\src\rabbitmq.module.ts

[2022-01-24 13:01] WonderPanda commented on #360
Closing for now since there is nothing actionable for us. Feel free to open again if you can provide a more clear understanding of what you'd like to accomplish

[2022-01-24 13:01] #360 closed, assigned to nobody

[2022-01-24 13:09] underfisk commented on #379
@shakedo You can extend `ConsoleLogger` and we shouldn't be going back to the deprecated `Logger`, you can see at: https://docs.nestjs.com/techniques/logger#extend-built-in-logger that you can extend and then provide your logger

[2022-01-24 13:09] WonderPanda commented on #339
This is a tricky one to implement properly without good access to runtime reflection. What do you think that the behavior should be here? You'd rather it just return undefined like the example using `jest.fn` explicitly?

FWIW the reason the matcher is failing is because when you don't specify anything at all for the returns of a function like this you get back a `Proxy` object

[2022-01-24 15:02] shakedo commented on #379
Thois code for example, dosent replace RabbitMQ logs and do replace NestJs logs:

class MyLogger extends ConsoleLogger {
  log(message: any, context?: string) {
    super.log(message + '!!!!!!!', context);
  }
}

async function bootstrap() {
  const app = await NestFactory.create(AppModule, { bufferLogs: true });
  app.useLogger(new MyLogger());
  app.flushLogs();
  await app.listen(3000);
}
boots

[2022-01-24 15:15] underfisk commented on #379
@shakedo Thanks for the repro, I'll need to investigate and see why's that happening

[2022-01-24 17:31] norberto-e-888 commented on #372
@underfisk Looking at the args of `errorHandler` it looks quite promising as it exposes the headers, I will experiment to see if these headers are read-only or if we can write to them. I will report back my results. Thanks again for all the help.

[2022-01-24 18:08] vincent-benbria opened #383 "Vulnerabilty in shortid dependency"
ShortId is deprecated and vulnerable: https://github.com/dylang/shortid

Exposure of Sensitive Information to an Unauthorized Actor in nanoid.
Path:  @golevelup/nestjs-rabbitmq > @golevelup/nestjs-common > shortid > nanoid

Should be replaced by NanoID: https://github.com/ai/nanoid

[2022-01-24 18:58] WonderPanda commented on #383
@vincent-benbria Are you interested in contributing this change?

[2022-01-24 19:29] vincent-benbria commented on #383
Done. This PR does 20 letters for random IDs instead of the previous 7 letters. Only need to change `nanoid()` to `nanoid(7)` to reduce it, but it obviously increases the chances of a collision.

[2022-01-24 19:59] #383 closed, assigned to nobody

[2022-01-25 22:45] ckfngod opened #386 "RabbitMQ: events are being consumed before application is ready on Nest 8"
Hey all, I'm running into an issue where RabbitMQ consumers start up and consume events before the main Nest application is completely initialized. This started happening after we migrated from Nest 7 to Nest 8. I've resolved the issue in my application by moving the RabbitMQ module to the very end of the application module imports list:
[code]

Package versions:
[code]

Is anybody else seeing thi

[2022-01-27 12:03] underfisk commented on #386
@ckfngod I'm not sure if the problem was actually from v7 to v8, the lifecycle we use is the initialization of the module which means each provided `RabbitMQModule` will spin its connections etc etc
What I could do is provide a way to perform what we do at `onModuleInit` and actually bind at `onApplicationBootstrap` but i need to play with it first
Could you just provide a sample github repo with

[2022-01-27 13:14] WonderPanda commented on #386
I think it should probably be fine for us to move all the logic from `onModuleInit` to `onApplicationBootstrap` like you suggested.

@ckfngod I don't think the order of the imports actually matters in your case, its more likely that its just a lucky thing with the timing that you happen to see a difference when you reorder the array

[2022-01-27 21:06] verti4cal commented on #369
+1

otherwise i have to rewrite any service function or have to implement a second function as a wrapper.

[code]

[2022-01-29 03:37] ckfngod commented on #386
@underfisk @WonderPanda Thanks for the responses. Yeah it looks like it's definitely lucky timing, wasn't able to get it to work in my sample app. I'm seeing issues specifically with this in combination with a GRPC microservice. Rabbit consumers will begin processing events before the GRPC service is ready so as the application starts up it will throw a bunch of errors but afterwards it works fine

[2022-01-31 14:16] underfisk commented on #379
After checking this it seems to be an internal nestjs issue, I've communicated to see what we should be doing differently, anyway it should work as it was with `Logger`

[2022-01-31 14:17] #361 closed, assigned to underfisk

[2022-01-31 14:25] underfisk commented on #248
I'm not sure exactly what would be the repro in this particular case, not even sure the context where the `publish` method is being invoked

[2022-01-31 14:25] #248 closed, assigned to nobody

[2022-01-31 14:40] #386 closed, assigned to underfisk

[2022-02-02 01:28] #379 closed, assigned to nobody

[2022-02-03 21:40] foxted commented on #351
The issue is back after updating to the latest versions:

[code]

[2022-02-03 21:54] underfisk commented on #351
@foxted I have merged a PR that reverts the change from using `Logger` -> `ConsoleLogger` and we just need to do a new version so that its reflected in every package
@WonderPanda When you can produce a new minor, that would be great

[2022-02-03 23:20] foxted commented on #351
Thanks @underfisk, appreciate it 🙂

[2022-02-04 13:19] #351 closed, assigned to nobody

[2022-02-04 13:22] WonderPanda commented on #351
@foxted Can you try out the new release `@golevelup/nestjs-hasura@2.0.2` and let us know if your issue is fixed?

[2022-02-04 18:56] #369 closed, assigned to underfisk

[2022-02-04 18:56] #251 closed, assigned to nobody

[2022-02-05 09:48] foxted commented on #351
Just updated to the new release and it works again :) Thank you @WonderPanda 🚀

[2022-02-05 10:29] farzadso commented on #386
Is a fix for this in progress?

[2022-02-05 10:50] farzadso commented on #386
This is what happens when you comment something before testing it :D

All my `onModuleInit` functions are working before the app consumes messages now.

Thanks for the fix.

[2022-02-08 20:03] apichai-brnp commented on #345
![image](https://user-images.githubusercontent.com/12517161/153066550-95bbcef6-36df-4d0b-b398-88be55c1f28f.png)
I found message error

[2022-02-08 20:55] underfisk commented on #345
@Ma2iio Did it start after we upgrade to v8? It seems to be an underlying `amqlib` error but if you could provide us a repo and the steps to make this happen, i'll take a look and see what might be causing this

[2022-02-09 13:26] Deegiimurun opened #391 "Npm and github codes does not match"
Hello, I just noticed source code from github and npm package aren't same. For example there is no enableControllerDiscovery in RabbitMQConfig.

[2022-02-09 13:29] WonderPanda commented on #391
I just published `@golevelup/nestjs-rabbitmq@2.2.0` which contains the latest.

[2022-02-09 13:29] #391 closed, assigned to nobody

[2022-02-09 13:41] Deegiimurun opened #392 "Github code and npm package code does not match"
Hello, i just noticed that enableControllerDiscovery was missing from RabbitMQConfig in npm package v2.1.1. I also saw bunch of missing codes.

[2022-02-09 13:42] #392 closed, assigned to nobody

[2022-02-10 07:34] Deegiimurun opened #393 "How to open multiple connection and use in their respective modules?"
Hello, is it possible to create multiple connection and use in their respective modules? I tried like

`@Module({
  imports: [
    RabbitMQModule.forRoot(RabbitMQModule, {
      exchanges: [
        {
          name: 'exchange1',
          type: 'headers',
        },
      ],
      uri: 'amqp://username:password@server1:5672',
      enableControllerDiscovery: true,
    })
  ],
  controllers: [Firs

[2022-02-10 07:38] Deegiimurun commented on #393
I tried solution like https://github.com/golevelup/nestjs/issues/78#issuecomment-585641143. But it is same result with 2 connection opened and created same queues on them

[2022-02-10 14:09] underfisk commented on #393
@Deegiimurun The way it is designed isn't going to use the same module instance, so the best thing would be to only import the module once and allow the discovery to do its own thing. A few months ago I thought about implementing re-usable connections so the module would share connections/metadata across all instantiated modules.
If this is not an intended thing we'll have to revisit but i will as

[2022-02-10 15:52] Deegiimurun commented on #393
Hello i just created repro in https://github.com/Deegiimurun/nest-rqm-repro

For simplicity i used docker compose to start 2 rabbitmq instance. How to run:

1) run `docker compose up --build`
2) It starts 2 rabbitmq instance on port 5001, 5002 (15001, 15002 for web interface) with username and password of guest:guest.
3) After started use nest cli to run nest project with command `nest start --wat

[2022-02-13 12:22] apichai-brnp commented on #345
@underfisk Thank you, I resolved by delete exchange and queue. It's work

[2022-02-13 12:37] underfisk commented on #345
I'm glad that you've a solution

[2022-02-14 12:42] raviada4440 opened #395 "Please make sure that the argument Symbol(GraphQLClientInject) at index [0] is available in the <Module> context"
"@nestjs/common": "^8.2.6",
      "@nestjs/config": "^1.1.6",
      "@nestjs/core": "^8.2.6",
      "@nestjs/graphql": "^10.0.2",
      "@nestjs/jwt": "^8.0.0",
      "@nestjs/mapped-types": "*",
      "@nestjs/passport": "^8.1.0",

`app.module.ts`

      imports: [
        GraphQLRequestModule.forRoot(GraphQLRequestModule, {
          // Exposes configuration options based on the graphql-request

[2022-02-14 20:44] Samuel-Schober-USU opened #396 "RabbitMQ: Support void as SubscribeResponse"
Currently `SubscribeResponse` is the type `Nack | undefined`.
https://github.com/golevelup/nestjs/blob/master/packages/rabbitmq/src/amqp/handlerResponses.ts#L10
[code]

In my application I can not use the `@RabbitSubscribe` annotation, because I need to extract the exchange from options provided as provider, so I have to call the `createSubscriber` function of the `AmqpConnection`. But the handler

[2022-02-17 08:59] Bitexbot opened #397 "[ts-jest] How to properly test a NestJS custom decorator?"
As pert title, what's the best practice for testing a nestjs decorator like this?
[code]
Inspired by [this thread](https://github.com/nestjs/nest/issues/1020) I tried to test the decorator above, but I didn't fully understand what [kamilmysliwiec meant in response to the OP](https://github.com/nestjs/nest/issues/1020#issuecomment-417646366)

Here is my test, and the `coverage` reports that the las

[2022-02-18 16:42] chromey commented on #112
Hi @WonderPanda

I just stumbled over this exact problem. Do you still stand by your assessment that using the `ClassSerializerInterceptor` globally is discouraged? In particular, you mention that global interceptors are applied to *all* Nest providers, but the Nest docs state that this only true for "every controller and every route handler", and that's also my experience - which would mean they

[2022-02-22 13:22] Loki-Afro opened #399 "provide an example of re-exporting the RabbitMQModule"
Could you please provide an example the RabbitMQModule is re-exported and an AMQPConnection is provided globally?

I am coming from this issue https://github.com/golevelup/nestjs/issues/246#issuecomment-808472225 and i'm struggling to get it working.

Thanks

[2022-02-23 01:44] rmendoza-prescriber commented on #395
Good evening folks! I have the same issue as @raviada4440, any luck on this?

[2022-02-23 05:40] Deegiimurun commented on #393
Hi, @underfisk is there any update on this one?

[2022-02-23 12:14] underfisk commented on #393
@Deegiimurun Hey, i'm sorry but i've been out but once i'm able too i'll pick the repro and review this issue

[2022-02-23 12:24] maciejtutak commented on #399
At the end of nest.js Modules [documentation](https://docs.nestjs.com/modules#dynamic-modules) there is a bit about exporting a dynamic module:

[code]

Therefore, I think you can do something like this:

[code]

and you should be able to use `SharedRabbitModule` across your application.

[2022-02-25 17:27] avnigenc opened #402 "Question - Manual `ack` error"
Hi all,

I try manual ack with `amqpConnection` but this error occurs.

[code]

Consumer

[code]

ACK function - rabbitMQService
[code]

[2022-02-28 13:16] ahmednawazkhan opened #404 "How Queues are created automatically on application startup"
Hello. Thank you for such a great library. Can you please help me in understanding how queues can be created and attached to exchange automatically on application startup. I can see exchanges are created automatically which we define them in `RabbitMQModule.forRoot()`

[2022-02-28 13:20] #404 closed, assigned to nobody

[2022-02-28 13:21] ahmednawazkhan commented on #404
it creates queue automatically

[2022-03-01 19:56] ofilipowicz commented on #355
I tried multiple setups of two webhook endpoints - two separate modules, two configurations in one module. Unfotunately nothing worked. The issues I encounted during my testing where:

- Basically, one of the configurations didn't expose endpoint at all. It kept returning 404 in Stripe dashboard.
- The other endpoint was established but returned an error
`No signatures found matching the expected

[2022-03-02 10:56] ahmednawazkhan commented on #240
this is a common use case. I solved it using `AmqpConnection` class

![image](https://user-images.githubusercontent.com/20334388/156347928-52b9dffe-132e-4db4-af3e-96ddbd1f8d41.png)

Hope this helps

[2022-03-02 11:06] ahmednawazkhan commented on #106
this is a common use case. I solved it using `AmqpConnection` class with `OnModuleInit`

![image](https://user-images.githubusercontent.com/20334388/156347928-52b9dffe-132e-4db4-af3e-96ddbd1f8d41.png)

Hope this helps

[2022-03-08 13:39] underfisk commented on #395
@raviada4440 Can you make sure you only have 1 nestjs package installed, what i've noticed after upgrading to v8 is the conflicts with the dependency injection when multiple versions are installed, if that doesn't solve this particular issue, could you create a github repro so that we can investigate?

[2022-03-08 13:41] underfisk commented on #397
I'll close this @Bitexbot because it isn't related to golevelup or any of its packages, if you wish to test custom decorators using nestjs ecosystem you'll need to use `Reflect` API and assert that the metadata is added correctly or performs whatever you wish to do with it

[2022-03-08 13:41] #397 closed, assigned to nobody

[2022-03-08 13:42] underfisk commented on #399
@Loki-Afro No it isn't re-used, each time you have a `RabbitMQModule` it will create all its connections scoped to that import, each time you have import the root module it will not share any connections therefore as @maciejtutak probably having a shared module would be the best solution if you wish to re-use connections

[2022-03-08 13:42] #399 closed, assigned to nobody

[2022-03-08 13:44] underfisk commented on #402
@avnigenc It doesn't seem related to the package, from what I can see it might be some header configuration at your message and these messages are reported with the underlying node js rabbitmq package. Check the package repo and see if anyone has reported the same issue (https://github.com/amqp-node/amqplib)

[2022-03-08 13:44] #402 closed, assigned to nobody

[2022-03-08 13:46] underfisk commented on #396
@Samuel-Schober-USU Could you create the PR that will provide this feature? I don't think having void will have any effect because undefined would be the value gathered if nothing is returned
Any contribution would be more than welcome!

[2022-03-17 18:46] #396 closed, assigned to nobody

[2022-03-17 19:03] schealex opened #408 "Frame size exceeds frame max"
Hi guys,

i'm trying to use the awesome rabbitmq module with Amazon MQ (RabbitMQ 3.9.13) and i'm getting this error once the service tries to connect:

[code]

this is my module setup:

[code]

Hope someone can help me on this because this is blocking my deployment right now :/

Regards
Alex

[2022-03-18 06:50] schealex commented on #408
nvm. fixed it. but for others stepping on this i was using amqp as protocol where AWS requires amqps. That was all.

[2022-03-18 06:50] #408 closed, assigned to nobody

[2022-03-22 23:30] ledger32570 commented on #404
Is it possible to pass in a custom queue name?

[2022-03-24 05:39] MateoKruk opened #409 "NestJS global auth guard clashing with RabbitMQ subscriber"
I have set up a global auth guard for my app and it's intercepting the pub/sub I have setup. Anyone know how to fix this problem?

<img width="343" alt="image" src="https://user-images.githubusercontent.com/9438362/159849810-50b88a4e-eba8-4c85-8633-d7e8c9ff2294.png">

[2022-03-24 20:59] reinaldorauch commented on #409
I think I got a similar problem with an interceptor, you can in your guard skip the validation if you're in a rabbitmq context like so:

![image](https://user-images.githubusercontent.com/2676370/160009273-b9d65a75-99a1-493b-8c53-9bff77ee7a84.png)

The `isRabbitContext` function is in the package

[2022-03-25 20:19] felinto-dev opened #410 "How to clean automock?"
[code]

[code]

[code]

I tried:

[code]

But didn't work. I get the same result.

[2022-03-29 04:13] andrewda commented on #393
Hey @Deegiimurun & @underfisk, I've been running into the same issue. I'm happy to work on a PR to add this functionality if it's not currently possible, but might need some guidance (or at least a high-level overview of how it should be implemented).

[2022-03-29 11:07] underfisk commented on #393
@andrewda The way it is working right now only contains a single connection which means that in order to support multiple you need to adapt (https://github.com/golevelup/nestjs/blob/18ca7996ca66d9681ff763658cfc5256f9d26405/packages/rabbitmq/src/rabbitmq.module.ts#L64) the factory to push new connections to an array of connections rather than a single connection object. The implementation should be

[2022-03-29 15:59] andrewda commented on #393
Great, thanks for the details @underfisk! I'll see what I can do.

[2022-04-01 13:05] narekkeryan commented on #244
Hi, is there any updates from this issue? We are switching from NestJS message pattern to this lib and we already have functionality to handle errors thrown from promises, so it would be great to see this implemented, it will save us a lot of time migrating.

[2022-04-01 16:07] L-U-C-K-Y commented on #244
Same for us, we would also appreciate to be able to benefit from throwing errors from promises.

[2022-04-05 15:19] edilson opened #412 "Issue using createMock function from testing package on Jest expect"
I'm having an issue using the createMock function of the lib with expect from Jest, basically when I pass an object value to expect it returns empty but if I console.log the object before passing to the expect function it returns the correct value.

I have this values from an InMemoryRepository:

[code]

If I pass one of those values from the array or the whole array to expect it returns empty obj

[2022-04-05 21:36] buffcode opened #413 "Unable to use assertQueueErrorHandler: Channel ended"
I am trying to (re-)configure a queue and add a dead letter exchange. Therefore I added `assertQueueErrorHandler: forceDeleteAssertQueueErrorHandler` as implemented by #348.

Unfortunately this still crashes, as the channel is closed as soon as the queue assertion fails:
[code]

Is this feature subject to a specific RabbitMQ version (3.7.28) or configuration?

<details>
<summary>Queue configuratio

[2022-04-06 13:51] andrekat opened #414 "Cannot find module '@nestjs/common'"
Hey!

I installed the @golevelup/nestjs-rabbitmq@2.2.0 package in my Nest JS app. As soon as I run the app, I am getting following error message.

`
Error: Cannot find module '@nestjs/common' Require stack: - D:\node_modules\@golevelup\nestjs-rabbitmq\lib\amqp\connection.js - D:\node_modules\@golevelup\nestjs-rabbitmq\lib\index.js - D:\apps\api\dist\invitation\invitation.service.js - D:\apps\api\d

[2022-04-07 23:42] rphansen91 opened #415 "Cancel Consumer and Restart"
**Issue**
Currently it is possible to cancel a consumer, but their is not clear way to restart the consumer.

**Reason**
When dependencies of a Microservice are offline it is beneficial to stop the consumer and only restart when work is ready to be continued. This saves a lot of rabbit bandwidth not needing to deliver nack requeue over and over until the consumer is ready.

**Solution**
Maintain a

[2022-04-09 17:33] #393 closed, assigned to nobody

[2022-04-09 21:03] FahmyChaabane opened #417 "is publishing messages really "Fire and Forget" ?"
Hello,

First of all, i want to appreciate your work for maintaining this piece of library, it is so much needed.
And i do believe it should be mentioned in the official NestJs documentation that if we wanna dig a little bit into rabbitmq, we could use @golevelup/nestjs-rabbitmq and not only stick to the general implementation that NestJs guys have done.

I do have one little question about the do

[2022-04-11 00:37] diegodario88 commented on #410
Hey @felinto-dev  have you tried `jest.restoreAllMocks();` ?
I ask you because I had a problem restoring mocks before and that method saved me

[2022-04-11 10:58] all2pie opened #419 "Support for Different Exchange Types"
Add an option to specify the exchange type i.e direct, topic, headers and fanout.
Currently all the exchanges are of type topic.

[2022-04-11 11:23] all2pie commented on #419
Found it Module in initialization.

[2022-04-11 11:23] #419 closed, assigned to nobody

[2022-04-13 04:03] Deegiimurun opened #420 "How to consume queues dynamically?"
Hi I'm trying to make wrapper module around @golevelup/rabbitmq module.  Im getting config data from parent module. is it possible to consume queue dynamically? For example

@RabbitSubscribe({
    exchange: 'sms.receive',
    queue: `${SmsModule._specnum}.sms.receive`,
    routingKey: 'sms',
    queueOptions: {
      bindQueueArguments: {
        "x-match": "all",
        "type": "sms",
        "t

[2022-04-13 06:59] Deegiimurun commented on #420
One solution could be register queues in RabbitMQModule.forRootAsync and use them later.

[2022-04-13 08:06] Deegiimurun commented on #420
Okay it seems i can use static async AmqpConnectionFactory and create&manage connection myself.

[2022-04-13 08:43] #420 closed, assigned to nobody

[2022-04-13 10:49] laserchicken commented on #355
As a last resort you could probably monkey patch it:
[code]

[2022-04-14 13:46] igolka97 opened #421 "Returning 'true' or '1' to rabbit handler throws its handler to infinite loop"
Returning `true` or `1` to rabbit handler throws its handler to infinite loop. Is it expected behavior and why?

The same with `Promise.all` and promises that returns `true` or `1`

[2022-04-16 10:27] rubiin commented on #204
@WonderPanda I having similar issue

[2022-04-16 11:06] rubiin opened #422 "Issue with interceptor"
When using the package with modules that provide global interceptor, i am getting error.
[code]

[code]

when i call the rabbit/test route, i get the following error and it keeps looping:
[code]

I did try the https://github.com/golevelup/nestjs/tree/master/packages/rabbitmq#usage-with-interceptors as you can see on the stack trace

[2022-04-16 13:47] singhajit1616 opened #423 "Error: channel is not available"
I'm creating an API which will accept the message and then will publish it to the queue.

So i have initialized my app.module.ts

[code]

And in the service imported the library AMQPService like this `constructor(private readonly amqpConnection: AmqpConnection){}`

So when, using the methods exposed like this `this.amqpConnection.channel.assertExchange(exchange.name, exchange.type, exchange.option

[2022-04-18 13:28] WonderPanda commented on #422
@rubiin What is the global interceptor you are using? Can you please share the code that shows how you are attempting to skip the interceptor in the case that the context type is `rmq`?

[2022-04-18 13:29] WonderPanda commented on #423
Can you please share an example repo that demonstrates the issue so that it can be properly investigated?

[2022-04-18 13:58] WonderPanda commented on #421
You should not be returning anything from a method decorated with RabbitSubscribe. They should be `void` or `Promise<void>` methods

[2022-04-18 14:02] WonderPanda commented on #417
Hey @FahmyChaabane the idea of "fire and forget" isn't supposed to indicate that the message is not persisted in RabbitMQ. Instead the concept is that your application code is not expecting to get a direct response based on publishing its message.

This is in contrast to RPC where your application code *is* expecting to get a result back.

Let me know if this makes sense or if you need more clarif

[2022-04-18 14:59] singhajit1616 commented on #423
@WonderPanda here is the repo link https://github.com/singhajit1616/backend_nest_api

[2022-04-18 15:20] WonderPanda commented on #423
Where is the value for `RABBIT_MQ_URI` coming from in your setup?

[2022-04-18 16:11] rubiin commented on #422
Actually I am using nestjs-i18n for translation and it has the interceptor

[2022-04-18 17:29] WonderPanda commented on #422
There's not a whole lot that we can do from this side if a third party interceptor does not properly handle unknown context types. I suggest that you open the issue over at https://github.com/anchan828/nest-i18n and open up a fix on their side so that it exits early and doesn't throw errors

[2022-04-18 17:29] #422 closed, assigned to nobody

[2022-04-19 04:45] singhajit1616 commented on #423
@WonderPanda getting these values from .env file. And have updated the repo. And I have noticed that `AmqpConnection` is creating a new instance as while creating the connection i have configured it something like this
[code]
And the log is also showing the same config under the package
[code]

But while accessing the connection through `AmqpConnection` the config object is different
[code]

[2022-04-19 23:05] FahmyChaabane commented on #417
@WonderPanda Thank you for the response.
Yes, think i get it now.
I also believe that is how brokers do their job in general, that why i got confused ^^

[2022-04-20 08:56] nusu commented on #414
I had the same issue for stripe package, strangely when I looked at the package.json "@golevelup/nestjs-stripe" was not there, I added it and installed it again and the issue have been resolved.

In your case it seems like you are trying to install rabbitmq version, maybe checkout your package.json to make sure it's in the dependencies

[2022-04-20 10:26] #417 closed, assigned to nobody

[2022-04-20 16:03] wave-light opened #424 "createMock does not work as expected with Prisma"
When mocking Prisma, `createMock` does not create jest functions for the query methods. For example:
[code]
The above causes a Typescript error: `Property 'mockReturnValue' does not exist on type ...`

[2022-04-20 22:04] underfisk commented on #424
@wave-light What's does the actual object look like? Is the user defined? Is the methods in the user object defined? I've never ran into problems with nested mocks but I would like to know what's going on, if you can provide a repro then we'll be able to just get it and play around

[2022-04-21 07:27] Xdy1579883916 commented on #261
How to solve it

[2022-04-21 07:33] Xdy1579883916 commented on #261
[code]

[2022-04-21 09:21] underfisk commented on #409
@MateoKruk The answer provided above will fix your issue, you can decide whether your guard can ignore mrq messages

[2022-04-21 09:21] #409 closed, assigned to nobody

[2022-04-21 09:24] underfisk commented on #410
@felinto-dev I usually advocate to avoid mutating the mock functions, I would say to use spys which are safer and all you need to do is just mock the dependency that you are injecting for `HostersLimitsRepository` so instead of:
[code]
I would do
[code]

That's just an example but using spys it will just be a proxy in the end

[2022-04-21 09:26] underfisk commented on #413
@buffcode Be sure that your queue is empty in RMQ because otherwise the configurations are different and that might cause this. If your instance is already brand new then just provide us a repo to replicate this

[2022-04-21 16:07] wave-light commented on #424
Hi @underfisk. The user is indeed defined, and the methods in it are also defined. I have created a repo to demonstrate the issue: https://github.com/wave-light/prisma-examples-graphql-nestjs
Please take a look at the last commit to see the issue. Thanks.

[2022-04-21 16:47] underfisk commented on #424
@wave-light Can you try using spys rather than mutating the mock? Usually thats the best approach, all you need to do is to spy on the instance and then proxy the calls

[2022-04-22 09:45] wave-light commented on #424
@underfisk That's what I ended up doing. I was just wondering why I can't call `mockReturnValue` directly on those methods in the object created by `createMock`.

[2022-04-22 09:47] #424 closed, assigned to nobody

[2022-04-23 11:01] alko89 opened #425 "[Stripe] No signatures found matching the expected signature for payload."
I am trying to configure Stripe webhooks and it doesn't seem to work for me:

I configured the app:
[code]

And created a handler service:
[code]

I used stripe-cli (`./stripe listen --forward-to localhost:3000/stripe/webhook`) to forward webhooks to my dev instance and triggered a webhook `customer.updated` event from the dashboard, which throws:
[code]

I've created a min repo from typescript st

[2022-04-23 17:18] underfisk commented on #414
@andrekat Can you post here your package.json because as @nusu it might happen when packages mismatch
If you prefer to give us a repro I'll review and see what's going on

[2022-04-23 17:18] #410 closed, assigned to nobody

[2022-04-23 17:20] underfisk commented on #412
@edilson Can you create a small repro with the following code or so?
Also it seems you are creating mocks for nested objects where you don't need to, `createMock` will accept partially your object and all nested objects but it would be good for us to have some sort of repro

[2022-04-23 19:11] #421 closed, assigned to nobody

[2022-04-23 19:12] #413 closed, assigned to nobody

[2022-04-23 19:13] #414 closed, assigned to nobody

[2022-04-23 19:13] #352 closed, assigned to nobody

[2022-04-23 19:14] underfisk commented on #344
@dany-nrich I'm reaching you to know if you have found a way around this or if Nestjs v8 helped you achieve what you're trying to?
I'm closing this issue but you can re-open if its still happening and if you can provide us a repro

[2022-04-23 19:14] #344 closed, assigned to nobody

[2022-04-23 19:16] #345 closed, assigned to nobody

[2022-04-23 19:17] #339 closed, assigned to nobody

[2022-04-23 19:22] #415 closed, assigned to nobody

[2022-04-23 19:50] #176 closed, assigned to nobody

[2022-04-23 19:52] #137 closed, assigned to nobody

[2022-04-23 19:52] #144 closed, assigned to nobody

[2022-04-24 00:26] nitoba commented on #423
Hello, I have similar trouble.

### This is my module
[code]

-----------
### This is an config file that export an function with configuration file

[code]

-----------
### This is my service file

[code]

-----------
The basic problem is that the _**"amqpConnection"**_ is not injected on service and due this is undefined

[2022-04-24 00:43] nitoba commented on #423
I think this is bug of the version 2.3.0
In version  "@golevelup/nestjs-rabbitmq": "2.2.0" all works fine

[2022-04-24 09:51] #326 closed, assigned to nobody

[2022-04-24 09:51] #274 closed, assigned to nobody

[2022-04-24 09:53] #192 closed, assigned to nobody

[2022-04-24 09:54] #179 closed, assigned to nobody

[2022-04-24 09:54] #165 closed, assigned to nobody

[2022-04-24 09:55] #78 closed, assigned to nobody

[2022-04-24 09:55] #71 closed, assigned to nobody

[2022-04-24 09:56] #138 closed, assigned to nobody

[2022-04-24 09:57] #174 closed, assigned to nobody

[2022-04-24 09:57] #198 closed, assigned to nobody

[2022-04-24 09:57] #200 closed, assigned to nobody

[2022-04-26 20:46] verti4cal opened #430 "Error - AmqpConnection is undefined"
After the latest Update (2.3.0), i get an error using the AmqpConnection.
The injected AmqpConnection is undefined.
It only happens, when the RabbitMQModule gets imported in a submodule and not the main "AppModule".

I forked the repo and edited the integration-tests to match these circumstances.

https://github.com/verti4cal/nestjs

[2022-04-26 21:10] verti4cal commented on #430
I got the error.
But I have to write some tests for this use-case.

Btw. I'm adding tests for the NamedConnectionModule aswell.
The  module got imported in the integration-test module, but there are no test cases covering it.

[2022-04-26 22:43] verti4cal commented on #430
i fixed the issue and added tests for the named connections.

Doing so, i found another bug, wich should be discussed:
currently the configuration.e2e-spec.ts suit fails, because the connection is reused.
therefore the amqp.connect function is only called the first time.

it's really problematic, because the configs of these connections differ.

[2022-04-27 05:16] yinchuandong commented on #430
Hi @verti4cal , thanks for the update! I also met this issue. I also found it works in the submodule if there is another Rabbitmq connection. Will keep an eye on this issue and looking forward to seeing the updates.

![image](https://user-images.githubusercontent.com/3993196/165445424-141bb42b-f637-4e25-8c17-ccb29cad419a.png)

[2022-04-29 14:11] verti4cal commented on #430
@underfisk @WonderPanda
I cant think of a really good check for changed configuration on the named connections.

Problem is:
Connection A with name 'test' is created with config A
Connection B with the same name 'test' should be created, but with config B.
->
the connection-manager returns the already created connection A without any info or error.

The user would think, the connection with config

[2022-04-29 15:56] mrmodise opened #433 "Publishing to queue bound to exchange"
Hi,

I wanted to know whether it's possible to publish messages to a queue instead of an exchange. Okay that part is answered cause I can do so via the routing key. However, I wanted to know how do I programmatically bind a queue to an exchange via the routing key to ensure when I push content to the exchange it gets routed to the linked queue

Thanks,

[2022-04-29 16:59] underfisk commented on #433
You will always need a default exchange and i do advocate to do so

[2022-04-29 18:40] mrmodise commented on #433
@underfisk aligned to that too however I would like my data to sit in the queue instead of exchange to allow me to have multiple queues linked to a single exchange hence my question above. I notice I cant just create the queue like i can with the exchange similar to how [amqp-connection-manager](https://github.com/jwalton/node-amqp-connection-manager#basics) does it. I can create an exchange link

[2022-04-29 19:22] underfisk commented on #433
@mrmodise Can you give me a practical example (e.g: code snippet) using the amq connection manager so that i can see what you're thinking of.
You can customize your queue and the way your consumers work but if you want something to sit on top of a queue then there are better alternatives (and simpler) than using rmq, doesn't Redis/Bull serve your purpose? I don't use that often RMQ nowadays but if

[2022-04-29 19:24] underfisk commented on #430
@verti4cal It does make sense what you're saying, would you be up to creating a PR to address this issue?

[2022-04-29 19:25] WonderPanda commented on #433
@mrmodise The library already supports multiple queues bound to the same exchange. Just use the same routing key and they'll all receive a copy whenever a new message gets published.

The binding of queue to exchange is taken for you automatically when you use the decorators from the library.

[2022-04-29 19:39] WonderPanda commented on #430
@verti4cal I took a glance at the work you've got in your fork and it looks promising. Did you want to open up a pull request against this repo and then we can go over any additional issues that might be left?

[2022-04-29 20:21] mrmodise commented on #433
Thanks. In the example below from amqp-connection-manager or amqplib if I assert a queue that doesn't exist it will be created automatically:

[code]

However, with this package if i specify the exchange and routing key the queue is not automatically created meaning i have to create it manually and bind it to the exchange in order for content to be routed correctly:

[code]

It would be nice to ge

[2022-04-29 20:22] mrmodise commented on #433
Thanks but my desired use case is for the library to also create the queue in addition to the exchange

[2022-04-29 21:06] verti4cal opened #434 "NamedConnections get reused ignoring Config diffs"
The AmqpConnectionManager is reusing connections with the same name.
When the Config provided with the AmqpConnection changes, the AmqpConnectionManager should give a Hint or Error or should handle it the right way (tbd).

Problem:
AmqpConnection A with name 'test' and Config A is created.
AmqpConnection B with name 'test' and Config B is created.

AmqpConnectionManager will always return Connecti

[2022-04-30 04:51] mrmodise commented on #433
To illustrate the idea and as a workaround I am doing the following to create queue and bind it to the exchange:

[code]

The only caveat being that my binding takes place when I publish instead of when the connection is established at runtime

[2022-05-01 06:31] HARAJLI98 opened #436 "Hasura Module throws exception on windows reading metadata/tables.yaml"
On Windows machines, this line causes an exception to be thrown due to the forward slash. Using path.resolve() should fix the issue.

https://github.com/golevelup/nestjs/blob/5beff533ab52218e7d0e89019a0e3b4f30a3f71b/packages/hasura/src/hasura.metadata.ts#L47

[2022-05-01 06:35] #436 closed, assigned to nobody

[2022-05-01 19:09] verti4cal commented on #430
I cant get it running without major changes to the whole package and at this point i'm out of knowlege of the project.

[2022-05-01 19:57] underfisk commented on #430
Feel free to propose in a PR your changes, we'll evaluate

[2022-05-02 16:09] WonderPanda commented on #433
@mrmodise Is my understanding correct that you are not using any of the decorators from the library and that you are manually setting up queue listeners? Is there a reason that using `@RabbitSubscribe` or `@RabbitRPC` doesn't fit your use case?

[2022-05-02 18:21] mrmodise commented on #433
Thanks I didn't find documentation on the decorator so I interpreted it as meaning am setting up a consumer/subscriber instead of a a publisher which is my desired use case

[2022-05-02 18:57] WonderPanda commented on #433
@mrmodise I am still a bit confused by your responses. It is not clear to me so far what you're trying to accomplish.

In your examples, who/what will be consuming the messages posted to this queue? Is it a completely different application that is not using NestJS?

If you want to just pre-create some queues during application startup you could hook into the [NestJS lifecycle events](https://docs.

[2022-05-02 23:21] gallak87 commented on #430
This also happened to me, had to pin ~2.2.0 to get around it. Looking forward to any updates

[2022-05-03 04:54] mrmodise commented on #433
@mrmodise I am still a bit confused by your responses. It is not clear to me so far what you're trying to accomplish.

In your examples, who/what will be consuming the messages posted to this queue? Is it a completely different application that is not using NestJS?

If you want to just pre-create some queues during application startup you could hook into the [NestJS lifecycle events](https://docs.

[2022-05-03 13:19] WonderPanda commented on #433
At this point the library is mainly focused on using NestJS as message consumers hence the automatic queue binding for `RabbitSubscribe` and `RabbitRPC`.

It's pretty straightforward to set up queue binding using the NestJS lifecycle so I don't think we will plan to add further library integration unless there's significantly more interest from the community for this feature.

Alternatively, I wou

[2022-05-03 13:19] #433 closed, assigned to nobody

[2022-05-03 14:06] sk52 opened #437 "Error: Nest can't resolve dependencies of the DiscoveryService"
Using the discovery module with NestJS v8.2.3 gives the following error:
[code]

Adding `ModulesContainer` as a provider in `discovery.module.ts` fixes this error.

[2022-05-03 16:13] WonderPanda commented on #437
@sk52 Can you share a repo that reproduces this problem in isolation? I've been chatting with someone on Discord who is having a similar problem, but I just spun up a brand new app and I'm not seeing the same problem.

Can you please also provide information about what package manager you're using and also how you've structured your application directory? Are you using any monorepo technologies?

[2022-05-04 10:21] sk52 commented on #437
Unfortunately haven't been able to reproduce this in a new app either.

We're using the discovery module within a custom nest module, which is in turn installed as a dependency in a nest application. Not using any monorepo technologies.

[2022-05-04 12:05] underfisk commented on #437
@sk52 Please make sure you only have a single version of nestjs v8 installed otherwise this can occur

[2022-05-04 15:53] #437 closed, assigned to nobody

[2022-05-11 07:58] ReginaldBull opened #438 "Error is subscribe"
Hello,

I receive this error: "Received response from subscribe handler. Subscribe handlers should only return void"

Below is my subscribe handler:

[code]

The data is logged to console. Immediately after, the errorHandler is called.
Version: 2.2.0

[2022-05-12 06:35] ReginaldBull commented on #438
Have found the issue. It has nothing to do with the library. Had a http interceptor that was interfering.

[2022-05-12 06:35] #438 closed, assigned to nobody

[2022-05-13 15:04] ilanl opened #439 "Can @RabbitSubscribe decorator be created with dynamic exchange/queue by a factory or config ?"
I would like to ensure isolation for multi tenant platform
The naive way would be to have different exchange/routing/queue for tenant.
Can a decorator have a configuration injected to it?

How should I approach this? I'm open to suggestion kinda of new to RabbitMQ.

[code]

[2022-05-14 12:37] WonderPanda commented on #439
It is not possible to read values from a ConfigService to pass to decorators because decorator code is executed the moment the file is imported, which is well before any of the NestJS modules could be bootstrapped.

You can dynamically configure decorators by reading configuration from Environment Variables at application startup but you'll have to do it manually due to the limitations above

[2022-05-14 12:37] #439 closed, assigned to nobody

[2022-05-14 19:18] displaynone commented on #425
I got the same issue and it was caused by `bodyParser` equals to `true` (needed for another service

I fixed it setting to `false`
[code]

[2022-05-18 08:01] all2pie commented on #430
Getting same error in `2.3.0`

[2022-05-18 09:55] #412 closed, assigned to nobody

[2022-05-18 23:14] gogo199432 commented on #425
I have the same issue but also have the bodyParser off like @displaynone is suggesting. Interestingly it seems to work when I use StripeCLI and a local deploy but if I deploy it on my test environment then it fails for some reason

[2022-05-26 23:35] fmalk commented on #423
I can attest downgrading to 2.2.0 works.
We were refactoring our code from vanilla NestJS messaging to this library. We have a Web runtime that processes HTTP request and sends to fanout queues, and Worker runtime processing jobs.
We got to a point where Web was downgraded and we forgot to downgrade Workers', and the Messaging Module is even a shared git between those two apps. Only the Worker 2.3

[2022-05-30 16:04] MuttakinHasib opened #444 "the Module containing Symbol(STRIPE_CLIENT_TOKEN)"
`Error: Nest can't resolve dependencies of the StripeService (?). Please make sure that the argument Symbol(STRIPE_CLIENT_TOKEN) at index [0] is available in the SharedModule context.`

[2022-05-30 17:42] MuttakinHasib commented on #444
@WonderPanda can you plz help me?

[2022-05-31 11:50] #430 closed, assigned to nobody

[2022-05-31 11:56] WonderPanda commented on #395
@raviada4440 It looks like you're importing the GraphQLRequestModule inside of your `AppModule` but then trying to consume its providers inside of `LocationsModule`.

Try moving the import of GraphQLRequestModule into LocationModule. This library does not provide a Global so you won't be able to import across modules like that.

I'm going to close this for now since there is not a clear reproducti

[2022-05-31 11:58] #395 closed, assigned to nobody

[2022-05-31 14:16] WonderPanda commented on #444
It is not possible to help you given the information you have provided. Feel free to reopen this if you can provide sufficient detail. At the very least please include list of package versions and code snippets for your various modules so we can see if there's something wrong with your configuration.

It would be preferred if you provide a minimum reproduction demonstrating the issue

[2022-05-31 14:16] #444 closed, assigned to nobody

[2022-06-02 04:54] lucas-silveira opened #445 "[RabbitMQ] Add dynamic values to Subscription decorator"
I didn't find a way to use my environment variables in the Subscriber/Handler declaration. This forces me to "hardcoded" declare my queue settings in decorators, causing code duplication.

[code]

[2022-06-08 06:29] L-U-C-K-Y opened #447 "Possibility to add custom error handler for timeouts"
Hi @WonderPanda

Thanks for all your work on these packages!

I am getting a lot of `Error: Failed to receive response within timeout of 10000ms` within one of our most heaviest microservices and I'm trying to find out which RPC calls are causing the timeouts. We have 500+ queues with each RPC having a queue and I would like to avoid increasing the timeout for all of them.

Do you see a possibilit

[2022-06-08 10:08] doronmakela opened #448 "Self Signed Certificate Exception"
hello, I'm having an issue with setting up a TLS connection with a private certificate using rabbitmq module.

the error I got is
`[Nest] 57395  - 08/06/2022, 12:22:36   ERROR [AmqpConnection] Disconnected from RabbitMQ broker (default)
Error: self signed certificate
    at TLSSocket.onConnectSecure (node:_tls_wrap:1532:34)
    at TLSSocket.emit (node:events:527:28)
    at TLSSocket._finishInit (n

[2022-06-08 10:24] nidomiro opened #449 "nestjs-modules: forward config values"
I'm currently exploring the use of this package (nestjs-modules) to implement Hexagonal architecture in my app.
So far everything works as expected and I can inject adapter implementations into the core.

What I'm struggling with, is to pass the config on to imported (child-) modules.

My use-case:
`CoreModule` imports and exports `CoreUsersModule`.
Only the `CoreModule` is imported in my App and

[2022-06-08 10:33] Fgruntjes commented on #413
@buffcode it has been a while, but we are experiencing the same issue. The answer of @underfisk does not really change the situation, the whole point of the feature is to recreate the queue whenever some configurations change. That is currently not possible because the channel has already been closed.

We are registering the handlers ourselves, so we can do this with a new connection object.
[code

[2022-06-08 12:50] MrMaz commented on #449
Have you tried the `externallyConfigured()` pattern yet? This is how we solved it for our plugin architecture.

You have to be careful though. It is very easy to end up with a tightly coupled architecture and/or circular dependencies if your lib stack is not a perfect tree. We eventually gave up on hierarchy and went totally flat, except for key dependencies that do not import any other plugin mod

[2022-06-08 19:56] leonardoinstaleap opened #450 "promise-breaker/index can only be default-imported using the 'esModuleInterop with last version of nest.js"
In package.json

[code]

[code]

[2022-06-08 22:45] ahelord opened #451 "promise-breaker/index can only be default-imported using the 'esModuleInterop with last version of nest.js"
In package.json

[code]

[code]

[2022-06-08 22:45] #450 closed, assigned to nobody

[2022-06-09 07:07] nidomiro commented on #449
Yes, I tried to use `externallyConfigured` but it resulted in `TS2506: 'CoreModule' is referenced directly or indirectly in its own base expression.`.

The approach I tried:

[code]

In my specific case I also flattened the hierarchy to not use child-modules but one single CoreModule instead.
Nevertheless I want to know how to achieve the forwarding of config, since I'm sure I will encounter this

[2022-06-09 14:36] MrMaz commented on #449
Yes, you can't reference a module inside its own definition like you already see (chicken/egg).

The solution is to create a CoreConfigModule which exports the config, but you can also just use the ConfigModule from Nest to achieve the same thing using `ConfigModule.forFeature()`

You are still creating a tree structure, instead of being composable... which is fine if is just one app, but it will

[2022-06-10 12:41] santriseus opened #452 "API breaking change introduced in version 2.4.0"
Hi you changed one of the public async method to sync. It is a braking change, now all code assumed you are returning Promise should be rewritten. According to semver you should update major version after such braking change.
https://github.com/golevelup/nestjs/commit/45f68f68d2dbc01a82e01d2f9e3dedf3242be854#diff-b531b20a58e14f0da9a03b8ea64b6e140535f684c585825fa664d63e98b2806aL434

[2022-06-10 12:58] WonderPanda commented on #452
Apologies, we didn't catch that this change would be breaking for consumers. It definitely should have been a major version bump according to semver. I'd recommend you stick to the previous version for now and the next time we publish I'll bump it up to 3.x

[2022-06-10 12:58] #452 closed, assigned to nobody

[2022-06-10 12:59] WonderPanda commented on #451
Did you try setting `esModuleInterop` to true in your tsconfig.json file? I don't think this is a problem with our library as we don't have any control over how people set up their TS compiler settings

[2022-06-11 00:56] ahelord commented on #451
@WonderPanda  If it is solved with that change, it would be good to place it in the documentation.

[2022-06-11 00:56] #451 closed, assigned to nobody

[2022-06-12 05:53] koodpzok opened #453 "notification to publisher once message is dropped ?"
Hi, im using 'x-message-ttl': 60000 for the queue and Publising Messages (Fire and Forget). When the message is expired, it is just dropped silently. Is there any way to place a hook on this? or in other words, i want the rabbitmq to notify the publisher that the message was dropped.

[2022-06-13 16:06] underfisk commented on #453
@koodpzok This doesn't seem related to `@golevelup` packages, you're question is more likely related to the underlying `amqlib` that we use or rabbitMQ itself

If you want to build some sort of listener for messages that were dropped you'll have to dive into the `amqlib` or build something outside

[2022-06-13 16:06] #453 closed, assigned to nobody

[2022-06-13 16:09] underfisk commented on #448
@doronmakela It isn't related to the `@golevelup` rabbitmq package therefore i advice you to look into https://github.com/jwalton/node-amqp-connection-manager and https://amqp-node.github.io/amqplib/

[2022-06-13 16:09] #448 closed, assigned to nobody

[2022-06-13 18:15] KonstntinM commented on #444
Hey, I have seen the same error, when trying to test a provider that is importing the stripeClient using jest. I have created a minimum code reproduction repo here: https://github.com/KonstntinM/minrep-golevelup-nestjs-444 .

[2022-06-15 20:47] KonstntinM commented on #444
@WonderPanda Do you think you could take a look at this?

[2022-06-16 04:56] sgarner opened #454 "[Stripe] Execution context in webhook handlers incorrectly has 'http' type"
Firstly thanks for all your efforts with these modules, they're very helpful!

I have a global `APP_GUARD` configured in my NestJs application, which tries to fetch authorization information from headers on the HTTP request object. The guard was working perfectly until I added `@golevelup/nestjs-stripe` to my application.

The guard is now being triggered by Stripe webhook handlers. When this happ

[2022-06-17 08:20] singulart opened #455 "How to set up two GraphQL APIs"
Hello Team,

In my project that uses GraphQL client code generator, I need to access **two** GraphQL APIs. `codegen.yml` schema has a possibility to set an array of URLs like this:

[code]

However, when I mix the queries for these two APIs in the same codegen.yml file, they end up in the same `Sdk`.

How do I make sure that queries that are supposed to be executed against the first URL are segreg

[2022-06-17 10:43] nidomiro commented on #449
As it's not a problem right now anymore I would close the issue and revisit the topic if I encounter it again in the future.
Thank you for your thoughts on it :)

[2022-06-17 10:43] #449 closed, assigned to nobody

[2022-06-17 11:11] nidomiro opened #456 "Display compiler error on missing attributes at `forRootAsync`"
Currently the compiler does not enforce you to provide values at `forRootAsync`.
It is valid just to call `Module.forRootAsync(Module, {})` even, if there is a needed config.

In my opinion the compiler should complain about that and therefore reduce possible runtime-errors.

_Note:_ I will provide a PR to fix that.

[2022-06-17 13:29] WonderPanda commented on #456
This is a good catch. I appreciate you willing to help out with a contribution!

[2022-06-17 13:33] WonderPanda commented on #454
Yeah this is a really good idea. We did actually end up changing the execution context name for RabbitMQ in addition to the original changes made in #204. Are you interested in contributing a fix for this?

[2022-06-20 18:01] Zyles opened #458 "ERROR [AmqpConnection] Disconnected from RabbitMQ broker"
Can't use the basic setup provided in readme. Also tried with forRootAsync

[code]

RabbitMQ 3.9.16

[2022-06-20 18:42] Zyles commented on #458
So apparently using port in the url doesn't work. This worked:

`const uri = 'amqps://<user>:<password>@<url>/<vhost>'`

[2022-06-20 18:42] #458 closed, assigned to nobody

[2022-06-20 20:14] KonstntinM commented on #444
Okay, so I found a temporary workaround. It seems like the @InjectStripeClient decorator is dependent on the constant STRIPE_CLIENT_TOKEN. When importing a service that uses the @InjectStripeClient into a testing module, you need to pass not only a StripeModule mock but also a STRIPE_CLIENT_TOKEN mock like this

[code]

[2022-06-22 07:17] aliusmn commented on #348
Hi @christopheblin, I still get an error even though I've replaced the error handler with `forceDeleteAssertQueueErrorHandler`.  I think the handler is running but the error still occurs.

[code]

[2022-06-23 05:48] sgarner commented on #454
I've made [a PR](https://github.com/golevelup/nestjs/pull/461). Thanks!

[2022-06-27 06:36] norasotanext commented on #104
I increased the connection timeout and it works.

[2022-06-27 15:39] fer8a opened #462 "[@golevelup/ts-jest] Problem auto mocking Logger depencendy"
First and foremost I wanted to thank you for this great package, it makes the mocking of dependencies so much easier, so kudos!

Now down to business.
I'm currently having an issue trying to mock a Logger dependency on my tests. The mock is not being generated and the real instance is passed along instead.
I'm not sure what the problem is since all the other dependencies are mocked just fine, exce

[2022-07-01 11:13] Adi1231234 opened #464 "Rabbitmq Readme Usage example ts error"
Hey,
The example shown on the readme is invalid and there is an ts error.

The example on the readme:

[code]

The error:
[code]

[2022-07-01 12:05] #464 closed, assigned to nobody

[2022-07-02 05:47] muhammadzadeh commented on #352
It seems, that to bring validations to work, you should use the `@RabbitPayload()` decorator.
`createTransaction(@RabbitPayload() msg: CreateTransactionDto, amqpMsg: ConsumeMessage){}`

[2022-07-04 11:56] aaabramov commented on #248
@gialang were you able to fix this?

[2022-07-04 20:16] Adi1231234 commented on #200
Hey, does it exist today?

[2022-07-05 11:22] AhmadZuhdi opened #467 "got Cannot read properties of undefined (reading 'authorization') when handle a message with @RabbitSubscribe"
i have a 1 backend with that act as producer (publish) and consumer (RabbitSubscribe)

producer:
[code]

consumer:
[code]

but when i enable the @RabbitSubscribe i got this error
[code]

is there any missing step that i miss to implement ?

[2022-07-05 13:03] WonderPanda commented on #467
It looks like you probably have some kind of Auth interceptor that is configured to run for all handlers. Are you able to refer to the docs and conditionally disable this for your RabbitMQ handlers?

[2022-07-06 01:52] AhmadZuhdi commented on #467
ah okay, let me check

[2022-07-06 03:32] AhmadZuhdi commented on #467
okay, when i add `@Public` above the `@RabbitSubscribe`, the problem is gone

[2022-07-06 03:32] #467 closed, assigned to nobody

[2022-07-09 16:34] rstoermer opened #469 "Messages not being handled"
Just started out with this library and followed the documentation, but it seems that my messages are not being handled. I create the Messaging Service like so:

[code]

Everything is connecting correctly and I can see the connection and channel in the RabbitMQ admin. After I created a subscriber:

[code]

This also connects:
[resource-history] [Nest] 220  - 07/09/2022, 4:30:47 PM     LOG [RoutesRe

[2022-07-12 11:24] Hatgor opened #471 "Share rabbitmq connection between lib and microservice"
Hello guys!

Need your advice about syntax and functionality.
I've created a RabbitMQ NestJS lib as a wrapper over your lib in my NestJS monorepo project, to import it as a module to other apps to allow them send messages via lib methods.
But regarding receiving messages I still need to import your lib directly to the app module.
So for now if microservice need both send and receive messages, it c

[2022-07-16 19:46] #456 closed, assigned to nobody

[2022-07-16 19:57] #454 closed, assigned to nobody

[2022-07-18 15:50] sergei-pankratov commented on #138
I also read that article and wanted to implement something like that. What I ended up is a inherited module with overridden `OnApplicationBootstrap` method, which scans handlers and configures additional DLX queues and exchanges before calling the parent method
Also I added an adapter for a RabbitSubscribe decorator, something like
`@RabbitSubscribe(MessageToQueueDefAdapter(JobCreatedV1, 'processi

[2022-07-21 14:31] craigotis commented on #415
@underfisk This feature seems to meet one of our service needs - but I'm finding it hard to retrieve the `ConsumerTag` created once a subscriber is established. The `AmqpConnection.createSubscriber()` method returns `Promise<void>`, so it's unclear what we're supposed to pass to the cancel/resume functions to make use of this. 🤔

[2022-07-21 14:37] underfisk commented on #415
@craigotis Would you be down to have a PR to fix this issue?

[2022-07-21 14:37] patrickacioli commented on #469
Same here.

[2022-07-21 14:41] patrickacioli commented on #469
Maybe after nest update to V9?

[2022-07-21 14:48] craigotis commented on #415
@underfisk I'm happy to look into it - though it seems the subscription is created in the `addSetup()` callback for the `ChannelWrapper` from [this project](https://github.com/jwalton/node-amqp-connection-manager/blob/master/src/ChannelWrapper.ts), so it would potentially need to be implemented as an optional callback parameter in the `createSubscriber()` function.

Before I go that route though,

[2022-07-21 15:01] underfisk commented on #415
@craigotis Your PR looks good to me but i would advocate adding some test coverage so that we can safely track whether its properly working

[2022-07-21 15:02] patrickacioli commented on #469
Hum... I just delete the exchanges and starting again. begin works.

[2022-07-22 08:46] kejvi-doko opened #473 "[@golevelup/nestjs-rabbitmq] Cannot read properties of undefined (reading 'isConnected'"
I have a NestJS Application using `@golevelup/nestjs-rabbitmq` version `2.2.0` and when publishing to the rabbit we get this error and we have tried different configuration to configure directly on the AppModule but still doesn't work.

[code]
Rabbit MQ Configuration

[code]
App Module Configuration

[code]

[2022-07-22 13:55] Jendorski commented on #473
Have you resolved this, I experiencing something similar

`Cannot read properties of undefined (reading 'heartbeat')`

[2022-07-22 14:22] kejvi-doko commented on #473
yes is resolved, just make sure **NOT** to provide the amqp connector on the service that you are using, so the module should look this

[code]

[2022-07-22 14:22] #473 closed, assigned to nobody

[2022-07-22 16:21] Jendorski commented on #236
Hi @WonderPanda can you share a sample of the wrapper service, say by extending `AmqpConnection` in a class, thanks

[2022-07-22 16:33] Jendorski commented on #473
So how do you then publish. If I am to not inject the `AmqpConnection` into the service, I cannot extend the `AmqpConnection` into another class, then manually inject that class, how do I get to publish.

I did what you also did, I added the `AmqpConnection` to the constructor of the controller for the particular module, then added the Controller to the Module itself. I also added the Service clas

[2022-07-22 16:53] WonderPanda commented on #473
@Jendorski Can you open up a new issue with specific information about your setup so that we can try to diagnose. Preferably if you have a reproduction you can share of the problem but at a mininum we need to see your module configurations

[2022-07-22 17:05] Jendorski opened #474 "Cannot read properties of undefined (reading 'heartbeat')"
I have an issue with calling the `AmqpConnection` in my Controller.

`RegistrationController`:

`//All imports observed`
`
@Controller()
export class RegistrationController {
    constructor(private readonly regService: RegistrationService,
        private amqpConnection: AmqpConnection) { }
    @Post('/user/register')
    async registerUser(@Req() req, @Body() body: RegistrationCommand, @Res() re

[2022-07-23 04:03] Jendorski commented on #474
`@Global()
@Module({
    imports: [
      RabbitMQModule.forRoot(RabbitMQModule, {
        exchanges: [
            {
              name: 'email-welcome-verification-exchange',
              type: 'direct',
              options: {
                durable: true,
              }
            },
          ],
          uri: process.env.RABBIT_MQ_CONN_URL,
          connectionInitOptions: { wait: false

[2022-07-23 04:04] #474 closed, assigned to nobody

[2022-07-24 09:08] calvintwr opened #475 "[@golevelup/ts-jest & @golevelup/nestjs-rabbitmq]"
I have an AppModule file as follows:

[code]

I have tried to mock rabbitmq using ts-jest like this:

[code]

This is giving me error:

[code]

If i mock the whole rabbitmq module like:

[code]

I will get errors like:

[code]

Has anyone successfully mocked RabbitMQ? Please assist if possible.

[2022-07-24 10:08] kn327 opened #476 "Unable to resolve dependencies of RabbitMQModule"
Hi, I have created a core lib for my project which imports the RabbitMQModule, configures it and makes it available to downstream services.

I'm running this version:
[code]

The module looks like this:
[code]

my service looks like this:
[code]

I followed the documentation provided to initialize it but I'm running into a bit of an issue getting the project running I'm facing this error message:

[2022-07-24 13:47] calvintwr commented on #475
## Update

Turns out, this is not a good answer below. Please see https://stackoverflow.com/a/75565940/2755480

## Original post
-------------------------------
I found the answer here:

https://stackoverflow.com/a/70420769/2755480

TLDR;

[code]

[2022-07-25 02:23] JJHDoubleD opened #477 "Using the "modules" package to create configurable middleware"
@golevelup/nestjs-modules works great to create dynamically configurable services. But is there any way to create dynamically configurable _middleware_? I've tried using the exact same method used for services, but it can't inject the dependencies.

The middleware:
[code]
The module containing the middleware:
[code]

Importing the module and trying to use the middleware:
[code]
Now when initializi

[2022-07-25 15:58] #475 closed, assigned to nobody

[2022-07-25 16:09] kzeratal commented on #447
Make the error message more clear should address the issue.

[2022-07-25 20:40] #447 closed, assigned to nobody

[2022-07-26 17:11] adifaidz commented on #475
@calvintwr Did you mock `AmqpConnection` inside of the module mocking or you did it like the previous example?

[2022-07-27 06:44] shakedo opened #480 "Custom logger is not used when using nest js 9"
I'm using nest js 9.0.0 and when I'm using custom logger, rabbitmq client logs are written to default logger and not to my custom logger:

[Nest] 26531  - 07/27/2022, 9:36:17 AM     LOG [AmqpConnection] Trying to connect to RabbitMQ broker (default)
[Nest] 26531  - 07/27/2022, 9:36:17 AM     LOG [RabbitMQModule] Successfully connected to RabbitMQ
[Nest] 26531  - 07/27/2022, 9:36:17 AM     LOG [Rab

[2022-07-27 07:44] alko89 commented on #480
Probably related that log level is being ignored after updating to nest 9. Its always set to verbose.

Example console log with logger set to false `const app = await NestFactory.create(AppModule, { logger: false });`

Nest 9:

[code]

Nest 8:

[code]

[2022-07-27 20:46] craigotis opened #482 "Managed connections are not being closed on application shutdown"
I believe an issue was introduced [here](https://github.com/golevelup/nestjs/pull/411/files#diff-a41b46ff3698a6e6a638ed448cdfabb193c623aae07af7bda9ed225432a5a2bbR129), and the `close()` method is no longer being called on the managed connections on shutdown.

[2022-07-27 20:58] #482 closed, assigned to nobody

[2022-07-28 09:20] kzeratal commented on #471
Do you mean you've implemented your own `CustomModule` with `RabbitMQModule` in it?

[2022-07-28 11:41] underfisk commented on #469
@rstoermer It isn't related to this library, when you're creating messages outside the nestjs context and do not follow any message header/pattern it is possible that the library routers would not h itandle.
This isn't actually an issue, please create a "publisher" nestjs app and try to publish messages to your server, if this persists between two nestjs apps you'll be able to give us a better rep

[2022-07-28 11:41] #469 closed, assigned to nobody

[2022-07-28 11:42] underfisk commented on #462
@fer8a You should head to the `nestjs-pino` repo and report this, it isn't related to golevelup therefore I'm going to close this issue

[2022-07-28 11:42] #462 closed, assigned to nobody

[2022-07-28 11:43] underfisk commented on #476
@kn327 Do you have multiple nestjs versions installed locally? Also are you running on v8? Your code looks fine to me, usually the external context creator is reported when there are multiple versions or just a simple mismatch

[2022-07-28 11:43] #455 closed, assigned to nobody

[2022-07-28 11:44] #434 closed, assigned to nobody

[2022-07-28 11:45] underfisk commented on #480
@alko89 I have merged your PR, LGTM but its pending a new version release @WonderPanda

[2022-07-28 11:45] #480 closed, assigned to nobody

[2022-07-28 11:47] underfisk commented on #477
@JJHDoubleD This might help you (https://github.com/jmcdo29/nest-dynamic-module-middleware)

[2022-07-28 11:53] #445 closed, assigned to nobody

[2022-07-28 11:53] underfisk commented on #20
I believe we'll be following Nx with Github actions in long term. I'm closing this because it looks outdated

[2022-07-28 11:53] #20 closed, assigned to nobody

[2022-07-28 12:58] singulart commented on #455
@underfisk It's not polite to close tickets with no comment :)

[2022-07-28 13:39] underfisk commented on #455
@underfisk I forgot to gave context but this doesn't seem related to golevelup therefore i close, there's no action item possible

[2022-07-29 06:19] andrewda commented on #423
@singhajit1616 @NitoBa @fmalk Try specifying `default: true` in your connection options. It looks like this may have been an unintentional breaking change in https://github.com/golevelup/nestjs/pull/411. If that fixes the issue, I can update the documentation and try to make the defaults make more sense!

[2022-07-29 14:00] fmalk commented on #423
Since we're still using 2.2 for our backend, best if we tried to update it to current version and see if problem persist. However that's not a priority.
When that happens, I'll report back here.

[2022-07-31 18:18] schealex opened #484 "upgrade to nestjs v9 in golevelup/nestjs-modules forces upgrade to use golevelup/nestjs-rabbitmq"
Hi,

because the rabbitmq modules has those dependencies:

"dependencies": {
    https://github.com/golevelup/nestjs: "^1.4.4",
    https://github.com/golevelup/nestjs: "^3.0.0",
    https://github.com/golevelup/nestjs: "^0.6.0",
    https://github.com/jwalton/node-amqp-connection-manager: "^3.0.0",
    https://github.com/amqp-node/amqplib: "^0.8.0",
    https://github.com/uuidjs/uuid: "^3.3.2"

[2022-08-01 09:51] jn-novasol opened #485 "rabbitmq: how can it create a binding on created exchange"
Hello,
So this seem to create a new exchange called "some_exchange_here".
[code]
But! How can I also create a new route key that bind to a new queue?

For instance, if I now go to RabbitMQ UI and Edit the some_exchange_here, then I can create and bind a new route key to a new queue.. And then I can do this in my code:

[code]
But I suppose I'm doing something wrong: it should not be necessary for

[2022-08-02 11:44] #485 closed, assigned to nobody

[2022-08-02 12:10] jn-novasol opened #486 "Rabbitmq publish: how to create routing key, binding and queue"
Hi,

So, I'm creating a simple service in Nest that only has to publish messages to RabbitMQ through an exchange to a queue.

My service  uses "golevelup/nestjs-rabbitmq" and so far when I publish a message then the specified Exchange is created automatically. However, I then manually have to create the queue and add the routing key binding before it work!

I'm just using something like the exampl

[2022-08-02 12:57] Jendorski commented on #474
Yea, the main reason for opening up the issue log is resolved.

Though I now have this error:

Cannot read properties of undefined reading ('heartbeat')

[2022-08-02 14:46] zogot commented on #480
--- Moved comment into seperate issue for clearer conversation: https://github.com/golevelup/nestjs/issues/487

[2022-08-02 14:55] alko89 commented on #480
For me the issue was that the rabbitmq module had nest 8 as peer dependency (you can check this by having a look at the @golevelup/rabbitmq node_modules folder).

So both nest versions were installed. After I updated my library, the nest dependency was gone and the one installed in node_modules was used.

That solved the issue for me because the proper nest instance was used. Did you update goleve

[2022-08-02 15:02] zogot opened #487 "RabbitMQ: Logs still not right Nest 8"
**Versions:**
- @golevelup/nestjs-rabbitmq : 3.2.0
- @golevelup/nestjs-discovery: 3.0.0
- @golevelup/nestjs-common: 1.4.4

Something still isn't quite right with the logs. When I do this:

[code]
I still get logs from RabbitMQModule:

[code]
and nothing further.

I am suspecting its to do with the new logger instances created here but I haven't had the chance currently to put into real testing.

1

[2022-08-02 15:09] zogot commented on #480
Hmm, you might be on to something, after doing a fresh install, removing node_modules and package-lock.json, I'll look a bit. I also made a new issue to group conversation a bit better @alko89

[2022-08-02 15:13] zogot commented on #487
@alko89 Yep I think that might have been it.

I'm guessing version 3.0 is Nest 9 only then? Perhaps that needs to be defined in the CHANGELOG? And if so, could we get #482  backmerged into the 2.x.x line?

As my nestjs-rabbitmq now has node_modules of @golevelup/nestjs-modules 0.6.1 which https://github.com/golevelup/nestjs/blob/master/packages/modules/package.json#L39 has a peerDep on @nestjs/com

[2022-08-02 15:18] zogot commented on #487
Specifically point at

[code]

Still suffers from the issue I described in the main issue though, so I think its 2 parts.

3.X depends on Nest 9 dependencies
2.X still has something not correct with the logger

[2022-08-02 15:21] zogot commented on #487
Oh, I still see the sub node_modules, so looks like Nest 9 is set as peer dependency before the 3.X version

[2022-08-02 15:28] zogot commented on #487
Issue is in 2.4.1 and up. Could we get version 2 to stay with Nest 8 and version 3 to go with Nest 9?

[2022-08-02 15:37] alko89 commented on #487
I guess one solution would be to have both nest 8 and 9 as peer dependencies. The only real breaking change in v9 were unit tests, so it should (theoretically) work with both.

I wouldn't backport these features to later versions though and I don't think versioning works like that in this project. But I'm not a maintainer and it works for me :)

[2022-08-02 19:12] kn327 commented on #476
@underfisk , The nestjs versions were identical and I am running v8 for the common. Here are the package versions I'm using
[code]

I was able to get a workaround for the issue by creating a custom provider for the AMQP connection which appears to work correctly:

[code]

I noticed the issue only happens when I try to create a global module wrapper as a sub-module of a sub-module. My architecture

[2022-08-03 13:24] Ori-b commented on #486
You might namually do:
1. amqpConnection.managedChannel.**assertQueue**(queueName, assertQueueOptions..
2. amqpConnection.managedChannel.**bindQueue**(queueName, exchangeName, routingKey) .... or ..bindExchange(.....

[2022-08-03 13:30] Ori-b opened #488 "How can I configure the @RabbitSubscribe handler to consume with 'noAck' option set to 'false'"
Currently messages are 'acked' automatically on pubSubHandler execution finish,
I would like to be able to ack manually when the handling is finished

[2022-08-04 05:35] #486 closed, assigned to nobody

[2022-08-04 08:56] Ori-b commented on #488
I found that a message is 'acked' manually by the library handler:
1. https://github.com/golevelup/nestjs/blob/3d177addd3e66c25af46dcc6a6d7645565ad4851/packages/rabbitmq/src/amqp/connection.ts#L397

And that ampqlib sets 'noAck' to false by default for channel consuming .
2. https://amqp-node.github.io/amqplib/channel_api.html

If an exception occurs during handling the message wont be 'acked', it

[2022-08-04 08:56] #488 closed, assigned to nobody

[2022-08-04 09:52] chromey opened #489 "RabbitMQ: "handlers" feature not working"
The "handlers" feature introduced in https://github.com/golevelup/nestjs/pull/446 does not work correctly because the handler config is not actually used to create the subscription. Will provide a PR shortly.

[2022-08-04 12:42] Ori-b commented on #486
@jn-novasol ,

Actually by defining a rabbit message handler you can get the same result (queue & exchange & binding), (no need to do it explicitly)
 @RabbitSubscribe({
    exchange: 'exchange.name',
    queue: 'queue.name',
    routingKey: 'routing.key',
    queueOptions: { durable: true },
  })....

  in addition
  1. a routing key can be bound to more than one queue,
  2. there is a sendToQueue

[2022-08-04 12:59] WonderPanda commented on #486
Yeah, as @Ori-b has mentioned the most straight forward way is to use the decorators provided by the library to set things up for you

[2022-08-04 16:08] #489 closed, assigned to nobody

[2022-08-09 05:35] jn-novasol opened #492 "App e2e test and Rabbitmq broker connection fail"
Have a service that use RabbitMQ. In the service module file we import like this:

[code]
Then, in service file
[code]
And in an end-to-end test:
[code]
This causes AmqpConnection to try and connect to default broker localhost which fail:

[code]
I can't figure out how to solve this! How can I mock amqpconnection, or something, to make this test work! I feel like I have tried everything and cant f

[2022-08-10 08:30] Dunky13 opened #493 "[GraphQL] - Enhance README.md"
Please add documentation on - not only how to set up the package but also - how to execute queries.

Right now have to find it out ourselves. Would make the developer experience better! :)

[2022-08-10 17:43] vijaycenation14 opened #494 "Nest js fails to run when RabbitMq is not reachable and the service is using @RabbitSubscribe or @RabbitRPC for listening a queue."

[2022-08-10 17:47] vijaycenation14 commented on #494
https://github.com/golevelup/nestjs/blob/241a64075e06e15d273994ae786e7d0acec09c31/packages/rabbitmq/src/amqp/connection.ts#L340

Issue is in this function. Have to handle the failure scenario.

I.e, When addSetup fails, function doesn't call the callback instead it returns undefined.

[2022-08-11 10:27] shanurrahmanpenny commented on #344
I am facing the exact same issue right now

[2022-08-11 10:36] vijay94 commented on #494
Raised a PR also

https://github.com/golevelup/nestjs/pull/495

[2022-08-13 17:38] manuschillerdev commented on #469
i'm also experiencing this.
When I create messages via the management UI, the messages are not being picked up.

[2022-08-16 08:06] manuschillerdev commented on #469
this was probably a big rookie mistake.

I sent the string `test` as message via the rabbitmq management ui.
Before, I did not have an error handler in my code.

[code]

After adding an error handler to my service method, the error was clear:

[code]

As soon as I sent a valid JSON-Payload as body, the messages are being handled correctly.
[code]

@underfisk maybe this would be a good addition for

[2022-08-16 09:39] manuschillerdev commented on #192
since this task i completed - is there an example how to do a health check with `terminus` and `golevelup/nestjs` available somewhere?

[2022-08-16 12:18] vijay94 commented on #494
@WonderPanda

[2022-08-16 12:49] underfisk commented on #192
You can implement the one that @ssilve1989 posted, just convert to a terminus health checker and it will work

[2022-08-16 12:50] underfisk commented on #469
@manuschillerdev I haven't explored that yet but feel free to create a PR and propose those changes

[2022-08-18 08:28] nusu commented on #355
This is really a need, Direct and Connect hooks should be processed in different endpoints.
I use Direct for my business webhooks, subscription start, end, upgrade etc.
Connect is for people who have connected their stripe accounts so we can get updates from their accounts.

<img width="638" alt="image" src="https://user-images.githubusercontent.com/1702215/185347926-981ca6ff-2ee0-4ccc-8440-15143d

[2022-08-18 14:54] lapwat commented on #425
@gogo199432 Can you elaborate your answer ? What is the difference between your local and test deployments ?

[2022-08-18 15:15] lapwat commented on #425
In my case, I set the `bodyParser` to false but forgot to comment the following lines referencing the body parse.

[code]

[2022-08-19 09:51] buffcode commented on #476
I have the same error when using the library with PNPM / monorepos.

`@golevelup/nestjs-rabbitmq` uses `ExternalContextCreator` from `@nestjs/core` but does not define it as its own dependency. As such it is not available directly and fails when being build.

I was able to verify that using `pnpm patch/patch-commit` and adding the following to `@golevelup/nestjs-rabbitmq@3.2.0` package.json:
[code

[2022-08-19 11:50] JeremySazMining opened #498 "GraphQLRequestModule with typescript-graphql-request plugin not passing headers"
![19-08-2022-07-49-23](https://user-images.githubusercontent.com/108763555/185612190-9e2bb589-d2cf-457e-8484-c26eda040c3c.png)

![19-08-2022-07-49-52](https://user-images.githubusercontent.com/108763555/185612280-9106e2fb-0bf6-4396-a9fc-e6d09afef8ca.png)

![19-08-2022-07-50-14](https://user-images.githubusercontent.com/108763555/185612338-d44a37b4-6e24-4f70-bdd2-37374fd39bda.png)

[2022-08-19 12:22] #498 closed, assigned to nobody

[2022-08-19 12:22] JeremySazMining commented on #498
I added fields to my request which threw the unauthorized error during the transition to using the SDK method

[2022-08-19 14:11] buffcode commented on #476
Addendum: more dependencies are missing and all `@golevelup` packages have incomplete or obsolete dependencies:

[code]

[2022-08-20 09:47] mm-kitchenswaps opened #499 "Nest can't resolve dependencies of the PaymentService Please make sure that the argument Symbol(STRIPE_CLIENT_TOKEN) in the BookingModule context."
Hi there i am following instructions to the T and it's not working. I get this error:

[Nest] 92832  - 08/20/2022, 11:46:03   ERROR [ExceptionHandler] Nest can't resolve dependencies of the PaymentService (HttpService, UserService, BookingService, VivaWalletService, DatabaseService, ?). Please make sure that the argument Symbol(STRIPE_CLIENT_TOKEN) at index [5] is available in the BookingModule co

[2022-08-27 15:17] sradu opened #500 "How to iterate through all controller methods"
Thanks for the great series of plugins.

I'm trying to figure out how to use the discovery package to return a hash of all the available modules and controllers and methods with their meta data. For instance:

[code]

I've been playing around with the DiscoveryService, but I haven't been able to figure out how to retrieve all the data I need.

[2022-08-30 12:16] yunicz commented on #192
Any suggestion how to convert that into a terminus health checker? I tried it using this code, but
following line:

`const isHealthy = await lastValueFrom(this.watch()); `

resulted in promise that never resolved

[code]

[2022-08-31 07:13] alisherafat01 commented on #294
I had the same issue but changing HELLO WORLD to "HELLO WORLD" was the solution!!!
try wrapping message in quotation while sending messages to rabbit

[2022-09-05 15:18] andreaskas opened #501 "rxjs_1.lastValueFrom is not a function"
Hello,

I have installed the latest version 3.2.0 and rxjs is also defined as ^7.5.6 but when i am trying to start nest i am getting the following error:

`TypeError: (0 , rxjs_1.lastValueFrom) is not a function
    at AmqpConnection.init (/project/node_modules/@golevelup/nestjs-rabbitmq/src/amqp/connection.ts:183:25)
    at Function.AmqpConnectionFactory (/project/node_modules/@golevelup/nestjs-r

[2022-09-08 17:58] andreaskas commented on #501
I think the problem is related to #476 setting manually rxjs dependency to version 7 seems to solve my problem.

[2022-09-08 17:58] #501 closed, assigned to nobody

[2022-09-08 18:12] davidtemplin commented on #494
I have experienced the same issue. When a connection to the RabbitMQ broker cannot be established, the NestJS application fails to start, even with `{ connectionInitOptions: { wait: false } }`. However, after I applied the patch suggested in #495 locally the application started successfully. I would like to begin using this package very soon, so if there is any way that the pull request can get re

[2022-09-11 13:10] ofilipowicz opened #502 "Update stripe package version"
Currently, a peer dependency for stripe package is set to version 8. There is version 10 already that handles new API version. It would be good to add this version as an optional peerDependency.

[2022-09-14 10:38] underfisk commented on #493
@Dunky13 This library will wrap and inject for you the `graphql-request` which is a third party but i'll make sure i add a quick explanation and link for people to read that package where there are plenty of examples and more context

[2022-09-15 20:39] ghost commented on #297
Getting this error again in `@golevelup/nestjs-graphql-request@0.1.11`

[2022-09-15 21:19] #502 closed, assigned to nobody

[2022-09-16 04:24] Thanh-Nashtech commented on #499
I am also looking for solutions.

[2022-09-19 13:35] patryk-roguszewski opened #505 "RabbitMQ - How to get queueName from custom interceptor for error queue creating & binding"
Hey Guys!

I'm writing a custom error handling policy for rabbitMQ. I want to create a special error queue, where it name will equal to ${current-queue-name}_errpr when the exception is thrown. I can not find how:
- interceptor can get queue name,
- interceptor can declare exchange, queue, and then bind together.

It's possible to get this information in the current @golevelup/nestjs-rabbitmq libr

[2022-09-20 21:25] andrucz commented on #23
I'm working on a multi-tenant app and would like to use a guard to inject information about the tenant in the execution context and access it in the handler using a param decorator. That works well using the built-in NestJS microservices module, but I had to switch to this library as it supports pub/sub. I just realized param decorators don't get executed at all. @JacobT14 how did you work around

[2022-09-22 06:21] jeppe-smith commented on #499
Add `StripeModule.externallyConfigured(StripeModule, 0),` to `imports` of `BookingModule`

[2022-09-23 12:22] ShpakovNikita commented on #476
Hi! I'm using pnpm in monorepos environment and facing the same problem. Is there any progress regarding this issue?

[2022-09-26 13:51] ethirion opened #509 "RPCException problem sending error message between services"
I have 2 services, one producer and another one consumer. i created an RPCException in consumer to test it.when the producer service sending a RPC message to consumer and consumer service throw a RPCException, i expected an object with error message in result of rpc request from producer service, but i got empty object {}. my problem is that response message from consumer is empty object but i exp

[2022-09-27 11:48] vijay94 commented on #494
@WonderPanda The fix was made only to RabbitSubscribe and not been done to RabbitRPC. Can Raise a merge request for the same?

[2022-09-27 12:07] WonderPanda commented on #494
Sure, feel free to provide the fix and I will merge and publish a new
package version

On Tue., Sep. 27, 2022, 7:48 a.m. vijay sundharapandiyan, <
***@***.***> wrote:

[2022-09-27 23:37] car1ot opened #510 "Routing using Channels / Queues"
Hello.
Routing is not explained in this module documentation.
Please, explain me how to send request to specific channel / queue.

From docs:
[code]

No explanation how to send request to queue or channel.

Should I use:

[code]

like this?

No documentation for usage of request

[2022-09-28 15:29] flavio-ever opened #511 "Connection / Channel"
I work with separate modules for greater organization, and these modules force me to import "RabbitMQModule.forRoot", which leads me to define connection variables and so on. So far so good, it works fine since 1.8.0, but I noticed that in rabbit many connections and meaningless channels are created.

There are 2 connections that look at the same channels that have the same queues, doesn't this tr

[2022-09-28 18:04] zgid123 commented on #104
Hi, I encounter this issue too. I tried to use the uri for .NET Core and it worked, but for NestJS, it didn't

[code]

[2022-09-30 18:42] zgid123 commented on #104
ok, for my case, it is node 17 issue: https://github.com/amqp-node/amqplib/issues/704#issuecomment-1239434607. Use `127.0.0.1` instead of `localhost`

[2022-10-02 21:32] flavio-ever commented on #511
I found out why many meaningless connections are created, it's not just the number of instances of rabbitmq, it also has to do with the number of exchanges created. In all import modules, the instances must be equivalent, identical. Therefore, I need a central point to define these exchanges, or a DynamicModule exporting the identical copy to all modules that need rabbit. I haven't found any way t

[2022-10-05 07:45] SevenWaysDP commented on #509
I have the same problem and I can't catch it

[2022-10-10 16:24] L-U-C-K-Y commented on #244
@WonderPanda @underfisk would you have a suggested custom payload that I could try to make a PR?

[2022-10-10 16:37] underfisk commented on #244
@L-U-C-K-Y It's hard to say at this point if we want to implement such a thing, for now, you are able to intercept the error messages and return whatever payload you wish to.
In order to integrate that into the library we would need some sort of "opt-in" flag or a way to disable if the users do not want that behaviour by default because every product has different requirements

[2022-10-11 04:05] gvillela7 opened #513 "@RabbitSubscribe noAck, how to????"
Hello,
How to use noack false parameter, forcing use of ack=true only after message processing?
My consumption is simple, I'm doing it like this:
@RabbitSubscribe({
     exchange: 'exchange',
     routingKey: 'create_payment_key',
     queue: 'payment_queue',
   })

public async consumer(msg: {}) {
 const content = JSON.stringify(msg);
console.log(content);
}

Thanks.

[2022-10-15 14:05] zhang-g-z opened #515 "FileInterceptor,UploadedFile Chinese file name garbled"
originalname: 'å­¦æ¯æåå½.docx',

Chinese file name garbled

[2022-10-16 21:29] axotion opened #517 "RabbitRPC - shovel/federation question"
Hi,

I have a question about RabbitRPC decorator implementation. I currently want to achieve two rabbits server connects via shovel plugin/federation, but it's not possible in the "official rabbitmq RPC way" because it's working on direct reply-to, which is not supported in federation/shovel.

[https://stackoverflow.com/questions/44914188/rabbitmq-direct-reply-to-aka-fast-rpc-with-2-servers](https

[2022-10-16 21:33] #517 closed, assigned to nobody

[2022-10-17 08:43] m1n-q opened #518 "amqplib.ConsumeMessage does not works with @RabbitPayload() decorator"
[code]

I'm using `@RabbitPayload()`  decorator to use Pipe,  as guided by docs.
It seems that cannot get the `rawMessage` with that decorator. (undefined)
Without it, get `msg` and `rawMessage` but Pipe does not works.

How can I use both `Pipe` and `ConsumeMessage`?

[2022-10-18 08:58] wodka opened #519 "Publish does not send message if applications shuts down after directly"
In a test script of us I realised that calling ampqConnection.publish will not deliver messages if there is not at least one await after it.

[code]

is there some way to check if there are not yet delivered messages?

[2022-10-18 12:07] underfisk commented on #519
@wodka There's an optional callback on publishing that is invoked once the message is sent or failed but I don't think we have the underlying implementation for that. If you would like to create a PR with that, feel free

[2022-10-18 12:08] underfisk commented on #515
@always-walker Could you provide a repro so that we could see what's being done?

[2022-10-18 12:10] underfisk commented on #518
@m1n-q Unfortunately pipes are not supported yet since the RabbitMQ module has its own behaviour, we do not leverage Nestjs lifecycle but its intended in a future major to do so (also event handlers are created within services)

[2022-10-18 12:23] m1n-q commented on #518
@underfisk It seems to be supported on [docs](https://github.com/golevelup/nestjs/tree/master/packages/rabbitmq#interceptors-guards-pipes), and it works. The problem is that `@RabbitPayload()` (needed to use pipes ) gets rid of `rawMessage`, the second param of handler.

[2022-10-18 12:24] underfisk commented on #518
@m1n-q Indeed, it looks like it is supported but I don't know to what extent you can pass pipes for the arguments (i don't use the rabbitmq library for a while but if you spot the issue on the codebase, and wanna provide a PR to fix it, it's welcomed)

[2022-10-26 12:42] Abubakar989 opened #520 "How do i recive the message in dead letter queue"
i want to configure the dead letter mechanism in my project that . when any exception occur in code the the message is automatically goes into the dead letter queue. but it is not working .
  @RabbitSubscribe({
    exchange: 'ampq',
    routingKey: 'ab',
    queueOptions: {
      deadLetterExchange: 'dead',
    },
  })

[2022-10-29 14:23] Distortedlogic opened #523 "@golevelup/nestjs-graphql-request but for OpenApi"
Is there an equivalent for @golevelup/nestjs-graphql-request that generates a type-safe sdk for a rest api using its open-api spec?

[2022-10-31 12:19] underfisk commented on #523
@Distortedlogic Yes, there is, for example https://github.com/OpenAPITools/openapi-generator

[2022-10-31 12:19] #523 closed, assigned to nobody

[2022-10-31 13:42] Karman40 commented on #425
@lapwat thanks, that solved the problem for me too. After that, how can the limit be reset?

[2022-10-31 16:34] Distortedlogic commented on #523
This link does not produce a nestjs injectable sdk that I see; am i missing it? There is a vanilla codegen for graphql like ur link does for openapi but yall still have @golevelup/nestjs-graphql-request which specifically creates a nestjs injectable sdk but do not an equivalent for openapi.

I am aware I can generate vanilla type safe fetchs given an openapi spec, but it would be awesome to be abl

[2022-10-31 17:16] underfisk commented on #523
@Distortedlogic Oh I see, yes you have https://www.the-guild.dev/graphql/codegen

[2022-10-31 17:56] Distortedlogic commented on #523
yes there is graphql-codegen and @golevelup/nestjs-graphql-request

and there is openapi-generator and ?? (@golevelup/nestjs-openapi-request) ??

[2022-10-31 18:30] underfisk commented on #523
@Distortedlogic golevelup does not have any codegen if that's what you're looking for

[2022-10-31 18:51] Distortedlogic commented on #523
yes, thats my feature request lol. Or at least throwing the idea out there given openapi seems here to stay.

[2022-10-31 18:52] underfisk commented on #523
@Distortedlogic It is out of scope or at least there's nothing planned to do so

[2022-11-02 15:18] whoistobias commented on #23
I've just encountered almost exactly the same use case as @andrucz. Multi-tenant app, need to inject tenant information into the context, but cannot get paramdecorators to work. Has anyone managed to work around this?

[2022-11-02 16:57] jeremybradbury commented on #192
@yunicz perhaps I can help? not sure the rest of this snippet is correct, but I was able use a proprietary client library to check the connection and adding an "as" statement worked for me.

[code]

[2022-11-03 10:23] csauvage opened #525 "Cannot make `@StripeWebhookHandler` working"
# Project Configuration

[x] "@nestjs/core": "^8.0.0",
[x] "@golevelup/nestjs-stripe": "^0.5.0",
[x] "@golevelup/nestjs-webhooks": "^0.2.14",

# Problem I'm facing

`@StripeWebhookHandler()` is not working on my project, using Stripe CLI, I'm able to catch Post requests to webhooks but Decorators don't catch a thing.

# Architecture

## Main module

**./src/main.ts**

[code]

**./src/app.module.ts

[2022-11-03 21:41] viniciusz42 commented on #408
Just be clear: just change your connection string to amqp:// to amqp**s**:://

[2022-11-04 16:09] wodka opened #526 "Multiple RabbitSubscribe in one class, one looses connection"
We have a class similar to this:

[code]

after a few days running then message-a-queue consumer disconnects! There is nothing logged and I have no clue how to debug this. To me it looks like only the later one reconnects.

[2022-11-05 12:54] lapwat commented on #425
@Karman40 I could not find a way to enable parsed body and raw body at the same time. So I use an interceptor that will check the root and parse the body if needed.

[code]

[2022-11-05 14:00] Karman40 commented on #425
@lapwat Thanks, yes, this could be a perfect solution, I don't even know why I wanted to overcomplicate it.

In the meantime, I found another solution, which may be good for rawBody, but there is also an incompatibility with the body-parsel.

https://github.com/nestjs/nest/issues/10471

https://docs.nestjs.com/faq/raw-body#raw-body

[2022-11-10 13:44] #355 closed, assigned to nobody

[2022-11-10 23:56] Mnigos opened #527 "transforming mocked context into GqlContext throws error"
I tried doing `createMock<GqlExecutionContext>()` and `createMock<ExecutionContext>()`

Both of them throws error while using inside `GqlExecutionContext.create()`

[code]

[2022-11-14 13:13] m1n-q commented on #518
I couldn't find it in the documentation, but it seems to be possible to make it work by using `@RabbitRequest` instead of `ConsumeMessage`.

[code]

It would be great if this item appeared in the documentation.

[2022-11-14 13:13] #518 closed, assigned to nobody

[2022-11-15 12:01] rivatove opened #529 "SWC Support?"
Hi, does this work with the SWC compiler?
https://github.com/swc-project/swc

I'm getting `TypeError: Cannot read properties of undefined` errors, suggesting that mocking of classes is not working.

[2022-11-15 20:22] wodka commented on #519
@underfisk yes I can - what would you actually prefer there?

a) promise return of publish to be able to await it / catch the error if something goes wrong
b) another parameter to the function to pass the callback?

I personally lean more towards option a) - but it would imply a change in return value (void vs Promise<void>)

[2022-11-15 20:25] underfisk commented on #519
@wodka Would you be up to contributing to that change? I see potential in there but currently, i don't have the time/context to add it so

[2022-11-15 21:07] wodka commented on #519
yes :) did just that

[2022-11-16 15:36] underfisk commented on #529
@rivatove Do you have a repro project? It should work with SWC unless there is an unsupported feature or babel on the consume side but I have used the testing package with SWC and it did work flawlessly

[2022-11-17 00:04] rivatove commented on #529
@underfisk Could you share your .swcrc file? Maybe there's a setting I've overlooked

[2022-11-17 17:05] underfisk commented on #529
@rivatove I'm using the default but here it goes
[code]

[2022-11-23 15:03] egarikka commented on #525
Hello, did you find a solution to the problem?

[2022-11-23 16:43] #529 closed, assigned to nobody

[2022-11-23 16:43] #499 closed, assigned to nobody

[2022-11-23 16:44] #487 closed, assigned to nobody

[2022-11-23 16:44] #515 closed, assigned to nobody

[2022-11-23 16:45] #519 closed, assigned to nobody

[2022-11-23 16:47] underfisk commented on #527
@Mnigos It is related to the fact that the context is undefined, creating a mock doesn't guarantee you that `req` is injected (as in Nest it also can lead to the same behaviour) but my request would be a minimal repo if possible to quickly play around with this and see what i can do

[2022-11-23 16:47] #484 closed, assigned to nobody

[2022-11-24 05:35] Deepgrg commented on #294
I had the same issue of RabbitSubscribe not firing my service method, in my case the method didn't fire because the default behaviour of RabbitSubscribe & RabbitRPC is that it does not allow NonJSON payloads. i.e. my producer had to publish by:

` Buffer.from(JSON.stringify({data: "Hello World!"})) `

Hope this piece of information help the person who has similar issue

[2022-11-30 15:01] kritarth2121 opened #534 "How to validate a dto object in rabbitmq-plus"